Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

docs: add Go fullscreen button in notebook
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
Due: none

docs: add fullscreen icon
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
Due: none

fix: only compare scalars in full_like (#2857)
  src/awkward/operations/ak_full_like.py
  tests/test_2857_full_like_scalar.py
Due: disallow-caps, require-test-name-identifier

docs: link to execute JupyterLite full screen (#2854)
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
Due: none

feat: add enforce_concatenated_form
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/unionform.py
  src/awkward/operations/ak_concatenate.py
  tests/test_XXX_enforce_form.py
Due: disallow-caps, require-test-name-identifier

fix: handle `NumpyArray` in `ListArray._mergemany`
  src/awkward/contents/listarray.py
Due: disallow-caps

refactor: rename test
  tests/test_2860_enforce_concatenated_form.py
Due: disallow-caps, require-test-name-identifier

refactor: improve error message
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

test: update test for categorical changes
  tests/test_2192_union_absorb_indexed.py
Due: disallow-caps, require-test-name-identifier

test: fix merging backend requirement
  tests/test_0093_simplify_uniontypes_and_optiontypes.py
  tests/test_0449_merge_many_arrays_in_one_pass.py
Due: disallow-caps, require-test-name-identifier

feat: add is_equal_to to Form
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

feat: add is_equal_to for content
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/recordform.py
Due: disallow-caps

fix: don't permute recordtype
  src/awkward/types/recordtype.py
Due: disallow-caps

fix: incorrect test!
  src/awkward/contents/recordarray.py
  tests/test_2368_type_is_equal.py
Due: disallow-caps, require-test-name-identifier

chore: apply pre-commit
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

fix: getitem should set attrs
  src/awkward/highlevel.py
Due: disallow-caps

test: add simple test
  tests/test_2866_getitem_attrs.py
Due: disallow-caps, require-test-name-identifier

feat: add `Form.is_equal_to` (#2862)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/types/recordtype.py
  tests/test_2368_type_is_equal.py
Due: disallow-caps, require-test-name-identifier

fix: `Array.__getitem__` should set `attrs` on result (#2866)
  src/awkward/highlevel.py
  tests/test_2866_getitem_attrs.py
Due: disallow-caps, require-test-name-identifier

refactor: move mergeable to `_do`
  src/awkward/__init__.py
  src/awkward/_do/__init__.py
  src/awkward/_meta/bitmaskedmeta.py
  src/awkward/_meta/bytemaskedmeta.py
  src/awkward/_meta/emptymeta.py
  src/awkward/_meta/indexedmeta.py
  src/awkward/_meta/indexedoptionmeta.py
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/listoffsetmeta.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/regularmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/_meta/unmaskedmeta.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/numpyform.py
Due: disallow-caps

refactor: split `_do`
  src/awkward/_do/content.py
  src/awkward/_do/meta.py
Due: disallow-caps

handle split
  src/awkward/_connect/numpy.py
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_sum.py
Due: disallow-caps

fix: merging
  src/awkward/_do/content.py
  src/awkward/_do/meta.py
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/forms/numpyform.py
  src/awkward/operations/ak_strings_astype.py
  src/awkward/operations/ak_values_astype.py
  src/awkward/operations/str/__init__.py
  src/awkward/typetracer.py
Due: disallow-caps

chore: add note about `_to_regular_primitive`
  src/awkward/_meta/numpymeta.py
Due: disallow-caps

refactor: move `is_XXX` from `ak._do` to `ak._meta`
  src/awkward/_do/meta.py
  src/awkward/_meta/bitmaskedmeta.py
  src/awkward/_meta/bytemaskedmeta.py
  src/awkward/_meta/indexedmeta.py
  src/awkward/_meta/indexedoptionmeta.py
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/listoffsetmeta.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/regularmeta.py
  src/awkward/_meta/unmaskedmeta.py
Due: disallow-caps

fix: typing import
  src/awkward/_typing.py
Due: disallow-caps

fix: invert test order
  src/awkward/_pickle.py
Due: disallow-caps

test: always disable custom pickler in tests
  tests/conftest.py
  tests/test_2757_attrs_metadata.py
Due: disallow-caps, require-test-name-identifier

test: add note about custom pickler
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

chore: run pre-commit
  src/awkward/_connect/numpy.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

Update src/awkward/contents/content.py
  src/awkward/contents/content.py
Due: disallow-caps

feat: add `enforce_concatenated_form` (#2860)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/operations/ak_concatenate.py
  tests/test_0093_simplify_uniontypes_and_optiontypes.py
  tests/test_0449_merge_many_arrays_in_one_pass.py
  tests/test_2192_union_absorb_indexed.py
  tests/test_2860_enforce_concatenated_form.py
Due: disallow-caps, require-test-name-identifier

ci: compile in Debug mode
  .github/workflows/header-only-test.yml
Due: disallow-caps

ci: deploy branch preview docs only on main repo
  .github/workflows/docs.yml
Due: disallow-caps

feat: add `cuda_kernels` for `complex` type reducers
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_bool_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_complex.cu
Due: disallow-caps

test: generate tests for `cuda_kernels` of `complex` type reducers
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
Due: disallow-caps

fix: indentations in reducer cuda_kernels
  awkward-cpp/src/cpu-kernels/awkward_reduce_min_complex.cpp
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_bool_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_complex.cu
Due: disallow-caps

refactor: add complex type reducer cuda_kernels to `fetch_template_specializations`
  src/awkward/_connect/cuda/__init__.py
Due: disallow-caps

chore: the next release will be 2.5.1rc1.
  pyproject.toml
Due: disallow-caps
