Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

The next version of awkward-cpp will be 25
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

The next version of awkward will be 2.4.7
  pyproject.toml
Due: disallow-caps

chore: Ruff 0.1.3
  .pre-commit-config.yaml
  src/awkward/_nplikes/typetracer.py
  src/awkward/_typing.py
Due: disallow-caps

chore: move to Ruff-format (#2777)
  .pre-commit-config.yaml
  dev/generate-kernel-signatures.py
  pyproject.toml
  src/awkward/_connect/numba/arrayview.py
  src/awkward/contents/regulararray.py
  src/awkward/operations/ak_concatenate.py
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

fix: drop lengths recursively (#2775)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/unionarray.py
  tests/test_2765_slice_from_typetracer.py
Due: disallow-caps, require-test-name-identifier

The next awkward version will be 2.5.0rc0
  pyproject.toml
Due: disallow-caps

chore: remove to_categorical
  docs/redirects.json
  docs/reference/toctree.txt
  docs/user-guide/how-to-create-strings.md
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_categories.py
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_is_categorical.py
  src/awkward/operations/ak_to_categorical.py
  tests/test_0401_add_categorical_type_for_arrow_dictionary.py
  tests/test_0404_array_validity_check.py
  tests/test_0674_categorical_validation.py
  tests/test_0773_typeparser.py
  tests/test_1671_categorical_type.py
  tests/test_1688_pack_categorical.py
  tests/test_2071_unflatten_non_packed_counts.py
  tests/test_2425_forms_from_type.py
  tests/test_2630_akstr_to_categorical.py
Due: disallow-caps, require-test-name-identifier

fix: support older NumPY
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

ci: perform installs in single pass
  .github/workflows/test.yml
  requirements-test-minimal.txt
  requirements-test.txt
Due: disallow-caps

fix: support older NumPY
  requirements-test-minimal.txt
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  tests/test_2649_dlpack_support.py
Due: disallow-caps, require-test-name-identifier

test: check NEP-50 vs non NEP-50 behavior
  tests/test_2793_nep_70_gradual_support.py
Due: disallow-caps, require-test-name-identifier

fix: properly broadcast np.generic objects
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

test: add test
  tests/test_2793_nep_70_gradual_support.py
Due: disallow-caps, require-test-name-identifier

fix: `ak.num` should always return a useful (non-unknown length) type
  src/awkward/operations/ak_num.py
Due: disallow-caps

test: add test
  src/awkward/operations/ak_num.py
  tests/test_2785_ak_num_typetracer_axis_0.py
Due: disallow-caps, require-test-name-identifier

ci: fix oldest-supported-dependencies test workflow (#2783)
  .github/workflows/test.yml
  requirements-test-minimal.txt
  requirements-test.txt
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  tests/test_2649_dlpack_support.py
  tests/test_2793_nep_70_gradual_support.py
Due: disallow-caps, require-test-name-identifier

feat: always return ArrayLike for `ak.num`
  src/awkward/operations/ak_num.py
Due: disallow-caps

test: rename test
  tests/test_2793_nep_50_gradual_support.py
Due: disallow-caps, require-test-name-identifier

test: update test to reflect ak.num behavior
  tests/test_2785_ak_num_typetracer_axis_0.py
Due: disallow-caps, require-test-name-identifier

feat: add `DType` type hint
  src/awkward/_typing.py
Due: disallow-caps

chore: appease mypy for array_module
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

ci: test 3.8 standard configuration
  .github/workflows/test.yml
Due: disallow-caps

chore: run mypy over subset of awkward
  .pre-commit-config.yaml
  pyproject.toml
  src/awkward/_backends/backend.py
  src/awkward/_backends/cupy.py
  src/awkward/_backends/dispatch.py
  src/awkward/_backends/jax.py
  src/awkward/_backends/numpy.py
  src/awkward/_backends/typetracer.py
  src/awkward/_behavior.py
  src/awkward/_kernels.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/shape.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_typing.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

chore: update pre-commit
  .pre-commit-config.yaml
Due: none

fix: temporarily coerce unflatten arguments to same backend
  src/awkward/operations/ak_unflatten.py
Due: disallow-caps

chore: run mypy over subset of awkward (#2789)
  .pre-commit-config.yaml
  pyproject.toml
  src/awkward/_backends/backend.py
  src/awkward/_backends/cupy.py
  src/awkward/_backends/dispatch.py
  src/awkward/_backends/jax.py
  src/awkward/_backends/numpy.py
  src/awkward/_backends/typetracer.py
  src/awkward/_behavior.py
  src/awkward/_kernels.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/shape.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_typing.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/operations/ak_unflatten.py
Due: disallow-caps

fix: remove old argument from broadcast_and_apply
  src/awkward/_broadcasting.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_repeat.py
Due: disallow-caps

fix: `ak.num` should always return a useful (non-unknown length) type (#2785)
  src/awkward/operations/ak_num.py
  tests/test_2785_ak_num_typetracer_axis_0.py
Due: disallow-caps, require-test-name-identifier

fix: remove old argument from broadcast_and_apply (#2790)
  src/awkward/_broadcasting.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_repeat.py
Due: disallow-caps

chore: run mypy on types
  pyproject.toml
  src/awkward/_parameters.py
  src/awkward/types/arraytype.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

fix: binding of walrus
  src/awkward/types/numpytype.py
Due: disallow-caps

fix: don't preserve unexpected option for is_in
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_index_in.py
  src/awkward/operations/str/akstr_is_in.py
Due: disallow-caps

feat: don't check masks by default
  src/awkward/operations/str/__init__.py
Due: disallow-caps

fix: don't preserve unexpected option for is_in (#2792)
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_index_in.py
  src/awkward/operations/str/akstr_is_in.py
Due: disallow-caps

chore: run mypy on types (#2791)
  pyproject.toml
  src/awkward/_parameters.py
  src/awkward/types/arraytype.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

Revert "fix: drop lengths recursively (#2775)"
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/unionarray.py
  tests/test_2765_slice_from_typetracer.py
Due: disallow-caps, require-test-name-identifier

fix: identify strings as scalars
  src/awkward/operations/ak_fill_none.py
Due: disallow-caps

test: add test for `fill_none` with bare strings
  tests/test_2763_to_layout_granularity.py
Due: disallow-caps, require-test-name-identifier

chore: appease pylint
  src/awkward/_kernels.py
  src/awkward/types/type.py
Due: disallow-caps
