Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

perf: cache whether a virtual array's shape is known
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

perf: write private attributes directly in Array and Record constructors
  src/awkward/highlevel.py
Due: disallow-caps

perf: skip named-axis machinery when no input carries named axes
  src/awkward/highlevel.py
Due: disallow-caps

perf: restore the nominal isinstance fast path for concrete nplike and backend classes
  src/awkward/_backends/backend.py
  src/awkward/_nplikes/array_like.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_typing.py
Due: disallow-caps

perf: return the input array from asarray when it already has the requested dtype
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

perf: project option inputs in broadcasting with one nonzero and integer takes
  src/awkward/_broadcasting.py
Due: disallow-caps

feat: preserve attrs through Arrow serialization
  src/awkward/_attrs.py
  src/awkward/_connect/pyarrow/__init__.py
  src/awkward/_connect/pyarrow/extn_types.py
  src/awkward/_connect/pyarrow/table_conv.py
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_to_arrow.py
  src/awkward/operations/ak_to_arrow_table.py
  tests/test_3278_arrow_attrs.py
Due: disallow-caps, require-test-name-identifier

refactor: route the Parquet attrs metadata through the shared Arrow helpers
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

docs: add llms.txt and Markdown page versions
  docs/conf.py
  docs/index.md
  docs/requirements.txt
Due: none

refactor: drop the now-redundant local awkward imports
  src/awkward/_layout.py
Due: disallow-caps

refactor: declare the lazily built numba views on the classes
  src/awkward/highlevel.py
Due: disallow-caps

chore: pylint cannot infer a metaclass built from type(Protocol)
  pyproject.toml
Due: disallow-caps

fix: cast the repeat counts to an index dtype for 32-bit platforms
  src/awkward/_slicing.py
Due: disallow-caps

perf: cheapen Index construction and slicing
  src/awkward/index.py
Due: disallow-caps

fix: quote the union annotation so it is not evaluated at runtime
  src/awkward/_attrs.py
Due: disallow-caps

perf: optimize option-type ListArray to Arrow conversion (#4207)
  pyproject.toml
  src/awkward/contents/listarray.py
  tests/test_3646_arrow_null_slowdown.py
Due: disallow-caps, require-test-name-identifier

perf: project option inputs in broadcasting with one nonzero and integer takes (#4326)
  src/awkward/_broadcasting.py
  tests/test_4326_option_broadcast_positions.py
Due: disallow-caps, require-test-name-identifier

fix: enforce the plain-function contract in @experimental (#4320)
  src/awkward/_experimental.py
  tests/test_4319_experimental_placement.py
Due: disallow-caps, require-test-name-identifier

fix: `to_arrow` datetime conversion (#3647)
  src/awkward/contents/numpyarray.py
  tests/test_3643_to_arrow_datetime_conversion.py
Due: disallow-caps, require-test-name-identifier

test: add a no-raise property-test module for `ak.any` (#4314)
  tests/properties/operations/__init__.py
  tests/properties/operations/test_any.py
Due: disallow-caps, require-test-name-identifier

fix: handle out of range temporal values
  src/awkward/_nplikes/numpy_like.py
  src/awkward/contents/numpyarray.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
  tests/properties/operations/util.py
  tests/test_4280_ravel_temporal_value_overflow.py
Due: disallow-caps, require-test-name-identifier

perf: skip named-axis machinery when no input carries named axes (#4332)
  src/awkward/highlevel.py
Due: disallow-caps

perf: cache whether a virtual array's shape is known (#4337)
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

perf: return the input array from asarray when it already has the requested dtype (#4343)
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

perf: test field-name slices before integer-like slices (#4344)
  src/awkward/contents/content.py
Due: disallow-caps

refactor: share the ctypes kernel machinery and the kernel cache across backends
  src/awkward/_backends/backend.py
  src/awkward/_backends/cupy.py
  src/awkward/_backends/jax.py
  src/awkward/_backends/numpy.py
  src/awkward/_backends/typetracer.py
  src/awkward/_kernels.py
Due: disallow-caps

refactor: create the kernel cache in the backend constructor
  src/awkward/_backends/backend.py
  src/awkward/_backends/cupy.py
  src/awkward/_backends/jax.py
  src/awkward/_backends/numpy.py
  src/awkward/_backends/typetracer.py
  src/awkward/_kernels.py
Due: disallow-caps

chore: drop the unused CTypesFunc protocol
  src/awkward/_kernels.py
Due: disallow-caps

fix: name the kernel lookup parameter consistently across backends
  src/awkward/_backends/backend.py
Due: disallow-caps

perf: fast-path int and numpy integers in is_integer (#4345)
  src/awkward/_regularize.py
Due: disallow-caps

test: reset the backend's kernel cache when faking cuda.compute's absence
  tests-cuda/test_3749_cuda_backend_sort.py
Due: disallow-caps

refactor: fable review
  src/awkward/_errors.py
Due: disallow-caps

fix: zero step inner slice
  src/awkward/_slicing.py
  tests/test_4352_zero_step_inner_slice.py
Due: disallow-caps, require-test-name-identifier

review comments
  tests-cuda/test_4352_zero_step_inner_slice.py
  tests/test_4352_zero_step_inner_slice.py
Due: disallow-caps, require-test-name-identifier

test: widen `_has_issue_4228` to union option children longer than their used length (#4318)
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

test: cover jagged boolean slicing including the jax path
  tests/test_4334_jagged_bool_slicing.py
Due: disallow-caps, require-test-name-identifier

test: cover Array and Record constructor state
  tests/test_4333_array_init_state.py
Due: disallow-caps, require-test-name-identifier

test: cover lazy error-context formatting
  tests/test_4331_lazy_error_contexts.py
Due: disallow-caps, require-test-name-identifier

test: cover NumpyArray construction and dtype validation
  tests/test_4342_numpyarray_init.py
Due: disallow-caps, require-test-name-identifier

test: cover backend and nplike lookup caching
  tests/test_4341_dispatch_cache.py
Due: disallow-caps, require-test-name-identifier
