Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

chore: figuring out how to implement ak.from_cudf (#3027)
  studies/cudf-to-awkward.py
Due: none

fix: proper typetracer array slicing in BitMaskedArray
  src/awkward/contents/bitmaskedarray.py
Due: disallow-caps

test: add test
  tests/test_3028_mask_bitmaskedarray.py
Due: disallow-caps, require-test-name-identifier

fix: throw more meaningful error message (#3026)
  src/awkward/_kernels.py
Due: disallow-caps

fix: proper typetracer array slicing in `BitMaskedArray` (#3028)
  src/awkward/contents/bitmaskedarray.py
  tests/test_3028_mask_bitmaskedarray.py
Due: disallow-caps, require-test-name-identifier

fix: performance of ufunc resolution for non-nominal signatures
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

ci: Update scientific-python/upload-nightly-action from 0.3.0 to 0.4.0
  .github/workflows/upload_nightly_wheels.yml
Due: disallow-caps

ci: Update scientific-python/upload-nightly-action from 0.3.0 to 0.4.0 (#3031)
  .github/workflows/upload_nightly_wheels.yml
Due: disallow-caps

ci: Upload nightly wheels to scientific-python-nightly-wheels org
  .github/workflows/upload_nightly_wheels.yml
Due: disallow-caps

ci: Upload nightly wheels to scientific-python-nightly-wheels org (#3032)
  .github/workflows/upload_nightly_wheels.yml
Due: disallow-caps

fix: `ak.flatten` on `BitMaskedArray`
  src/awkward/contents/bitmaskedarray.py
  tests/test_3033_flatten_bitmaskedarray.py
Due: disallow-caps, require-test-name-identifier

refactor: add PR number to test name
  tests-cuda/test_2922_new_cuda_kernels
Due: disallow-caps

test: new cuda kernels
  tests-cuda/test_new_cuda_kernels
Due: disallow-caps

refactor: minor fixes
  tests-cuda/test_1276_cuda_num.py
Due: disallow-caps

feat: add awkward_ListArray_getitem_jagged_shrink
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_shrink.cu
Due: disallow-caps

test: add unit tests
  kernel-test-data.json
Due: disallow-caps

test: edge cases
  kernel-test-data.json
Due: disallow-caps

fix: `ak.flatten` on `BitMaskedArray` (#3034)
  src/awkward/contents/bitmaskedarray.py
  tests/test_3033_flatten_bitmaskedarray.py
Due: disallow-caps, require-test-name-identifier

test: add missing tests from some kernels
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

test: add missing pykernel tests
  kernel-specification.yml
Due: disallow-caps

fix: error in pykernel
  kernel-specification.yml
Due: disallow-caps

chore: keeping CONTRIBUTING.md up to date (take 1)
  CONTRIBUTING.md
Due: disallow-caps

fix: performance of ufunc resolution for non-nominal signatures (#3030)
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

chore: the next awkward-cpp release will be 30.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

feat: make ak.mean and ak.count differentiable (#3020)
  src/awkward/_connect/jax/reducers.py
  tests/test_2638_mean_and_count_grads.py
Due: disallow-caps, require-test-name-identifier

chore: the next release will be 2.6.2
  pyproject.toml
Due: disallow-caps

fix: return ufunc as it is for user defined vectorized funcs (#3025)
  src/awkward/_connect/jax/__init__.py
  tests/test_2603_custom_behaviors_with_jax.py
Due: disallow-caps, require-test-name-identifier

chore: add a section for unit tests
  CONTRIBUTING.md
Due: disallow-caps

feat!: printing a typetracer array should not touch it (#3019)
  src/awkward/_prettyprint.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/index.py
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
Due: disallow-caps, require-test-name-identifier

docs: fix styling of icons
  docs/_static/css/awkward.css
Due: none

docs: fix jupyterlite
  docs/_static/css/try-awkward-array.css
Due: none

docs: fix styling of icons (#3042)
  docs/_static/css/awkward.css
  docs/_static/css/try-awkward-array.css
Due: none

chore: Rename workflow for consistency in naming scheme
  .github/workflows/upload-nightly-wheels.yml
Due: disallow-caps

ci: Remove build flags that correspond to default
  .github/workflows/deploy.yml
Due: disallow-caps

ci: Add reusable wheel building workflow
  .github/workflows/build-wheels.yml
  .github/workflows/deploy-cpp.yml
  .github/workflows/packaging-test.yml
  .github/workflows/upload_nightly_wheels.yml
Due: disallow-caps

Report.data_touched can no longer be ordered (that's okay, right?)
  src/awkward/_nplikes/typetracer.py
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
  tests/test_2085_empty_if_typetracer.py
  tests/test_2373_unzip_touching.py
  tests/test_2374_cartesian_touching.py
Due: disallow-caps, require-test-name-identifier

implemented TypeTracerReports as byte/bit-sets with a 'commit' method
  src/awkward/_nplikes/typetracer.py
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
  tests/test_2085_empty_if_typetracer.py
  tests/test_2373_unzip_touching.py
  tests/test_2374_cartesian_touching.py
Due: disallow-caps, require-test-name-identifier

refactor: small changes
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

ci: Make wheel building workflow reusable (#3016)
  .github/workflows/build-wheels.yml
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/packaging-test.yml
  .github/workflows/upload-nightly-wheels.yml
Due: disallow-caps

Start
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps
