Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix docstring variables
  src/awkward/highlevel.py
Due: disallow-caps

update a comment
  src/awkward/_backends/cupy.py
Due: disallow-caps

fix: `ArrayBuilder.show()` formatter forwarding (#3796)
  src/awkward/highlevel.py
  tests/test_3724_arraybuilder_show.py
Due: disallow-caps, require-test-name-identifier

feat: add argmax implementation using CCCL (#3777)
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

remove python for loop bottleneck
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
Due: disallow-caps

pre-commit fixes
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
Due: disallow-caps

feat: make `ak.combinations` faster on GPU by using `cp.searchsorted` to compute output list indexes (#3798)
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
Due: disallow-caps

docs: add a comparison of different argmax implementations (using unary_transform, segmented_reduce and cuda-kernels)
  studies/cuda-cccl-kernels/reducers/argmax_implementations_comparison.ipynb
  studies/cuda-cccl-kernels/reducers/generate_random_array.py
Due: none

cosmetic change
  studies/cuda-cccl-kernels/reducers/argmax_implementations_comparison.ipynb
Due: none

docs: add a comparison of different argmax implementations (using unary_transform, segmented_reduce and cuda-kernels) (#3800)
  studies/cuda-cccl-kernels/reducers/argmax_implementations_comparison.ipynb
  studies/cuda-cccl-kernels/reducers/generate_random_array.py
Due: none

try running a cccl playground using the new IR
  studies/cccl/cccl-with-ir.py
Due: none

Update src/awkward/_connect/cuda/_lazy_impl.py
  src/awkward/_connect/cuda/_lazy_impl.py
Due: disallow-caps

Fix ak.to_cudf for cudf >= 24.12
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

test: mark CUDA to_cudf jagged and nested tests as xfail
  tests-cuda/test_3051_to_cuda.py
Due: disallow-caps

run a cccl playground using the new IR
  src/awkward/_connect/cuda/ir_nodes.py
  studies/cccl/playground-cccl-with-ir.py
Due: disallow-caps

git push test: require CUDA to_cudf tests to pass
  tests-cuda/test_3051_to_cuda.py
Due: disallow-caps

fix: update ListOffsetArray._to_cudf offset column construction
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: update cuDF column construction for >=24.10
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

Make cuDF optional and fix StructColumn construction
  src/awkward/contents/recordarray.py
Due: disallow-caps

Free threaded fixes and testing
  .github/workflows/test.yml
  requirements-test-nogil.txt
  src/awkward/_namedaxis.py
  tests/test_2433_copy_behaviors.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

swap order of tasks in CI
  .github/workflows/test.yml
Due: disallow-caps

numba has no free-threaded support yet
  requirements-test-nogil.txt
Due: disallow-caps

fixes
  .github/workflows/test.yml
  requirements-test-nogil.txt
Due: disallow-caps

implement reducers using cupy.ufunc.at and atomic fallbacks
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
Due: disallow-caps

test with jax using nogil
  .github/workflows/test.yml
  requirements-test-basic.txt
  requirements-test-nogil.txt
Due: disallow-caps

this is not needed
  src/awkward/_namedaxis.py
Due: disallow-caps

fix it
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
Due: disallow-caps

fix length one array
  src/awkward/forms/form.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_3810_form_length_zero_one_array.py
Due: disallow-caps, require-test-name-identifier

more testing
  tests/test_3810_form_length_zero_one_array.py
Due: disallow-caps, require-test-name-identifier

I think these should use prepare_empty
  src/awkward/forms/form.py
  tests/test_3810_form_length_zero_one_array.py
Due: disallow-caps, require-test-name-identifier

bring back comment
  src/awkward/forms/form.py
Due: disallow-caps

fix ~300x performance penalty on GPU
  src/awkward/_reducers.py
Due: disallow-caps

what if we use a single recursion?
  src/awkward/forms/form.py
  tests/test_3810_form_length_zero_one_array.py
Due: disallow-caps, require-test-name-identifier

delete docstring
  src/awkward/forms/form.py
Due: disallow-caps

add max reducer for axis=None
  src/awkward/_reducers.py
Due: disallow-caps

this is not being used anymore
  src/awkward/forms/form.py
Due: disallow-caps

same order as in from_buffers
  src/awkward/forms/form.py
Due: disallow-caps

add min reducer for axis=None
  src/awkward/_reducers.py
Due: disallow-caps

warn about ak.behavior being globally shared between threads
  docs/reference/ak.behavior.md
Due: none
