Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

feat: add awkward_ListOffsetArray_drop_none_indexes
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
Due: disallow-caps

fix: awkward_ListOffsetArray_drop_none_indexes
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
Due: disallow-caps

feat: add variable length loop kernels (#3003)
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_toRegularArray.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_ranges_carry_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_ranges_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_broadcast_tooffsets.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_compact_offsets.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_descend.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_numvalid.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_spreadadvanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_localindex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_nextparents_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_nonlocal_maxcount_offsetscopy_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_length_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_toRegularArray.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_project.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_regular_index_getsize.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_count_64.cu
  tests-cuda/test_1276_cuda_transfers.py
Due: disallow-caps

feat: add __dask_tokenize__ hook
  src/awkward/highlevel.py
Due: disallow-caps

first, PlaceholderArray should be printable (as '??') so that not-touching on the Dask head node doesn't allow for errors on the Dask workers
  src/awkward/_prettyprint.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

second, we remove the explicit '_touch_data' from _prettyprint.py
  src/awkward/_prettyprint.py
Due: disallow-caps

third, also protect layout repr against both TypeTracers and PlaceholderArrays
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
Due: disallow-caps

pre-commit
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
  src/awkward/index.py
Due: disallow-caps

update tests
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
Due: disallow-caps, require-test-name-identifier

no quotation marks around the '??' in output
  src/awkward/_prettyprint.py
Due: disallow-caps

feat: add miscelaneous CUDA kernels
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_flatten_none2empty.cu
Due: disallow-caps

Changed arguments for pyarrow 7.0
  src/awkward/operations/ak_to_parquet_dataset.py
  tests/test_2898_to_parquet_dataset.py
Due: disallow-caps, require-test-name-identifier

feat: add awkward_ListArray_rpad_axis1
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
Due: disallow-caps

just use id()
  src/awkward/highlevel.py
Due: disallow-caps

feat: add awkward_ListOffsetArray_local_preparenext_64
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_local_preparenext_64.cu
Due: disallow-caps

fix: awkward_IndexedArray_flatten_none2empty
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_flatten_none2empty.cu
Due: disallow-caps

test #2637 too
  tests/test_2637_jax_tracer_error.py
Due: disallow-caps, require-test-name-identifier

fix: remove redundant(?) Jax.is_tracer_type check in _layout
  src/awkward/_layout.py
  tests/test_2556_jax_tracer_error.py
Due: disallow-caps, require-test-name-identifier

use importorskip
  tests/test_2556_jax_tracer_error.py
Due: disallow-caps, require-test-name-identifier

fix: remove float typecasting
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

refactor: remove failing test
  kernel-test-data.json
Due: disallow-caps

feat: add awkward_sorting_ranges
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges_length.cu
Due: disallow-caps

refactor: fix formatting
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_rearrange_shifted.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_unique_strings_uint8.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
Due: disallow-caps

feat: add awkward_ListArray_combinations_length
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations_length.cu
Due: disallow-caps

fix: remove redundant(?) Jax.is_tracer_type check in _layout (#3013)
  src/awkward/_layout.py
  tests/test_2556_jax_tracer_error.py
  tests/test_2637_jax_tracer_error.py
Due: disallow-caps, require-test-name-identifier

feat: add awkward_ListArray_getitem_jagged_apply
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_apply.cu
Due: disallow-caps

feat: add awkward_ListOffsetArray_rpad_axis1
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_Content_getitem_next_missing_jagged_getmaskstartstop.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges.cu
Due: disallow-caps

tests: update tests-cuda to use 'ByteMaskedArray.simplified'
  tests-cuda/test_1276_cuda_transfers.py
Due: disallow-caps

tests: update tests-cuda to use 'ByteMaskedArray.simplified' (#3024)
  tests-cuda/test_1276_cuda_transfers.py
Due: disallow-caps

fix: return ufunc as it is for user defined vectorized funcs
  src/awkward/_connect/jax/__init__.py
  tests/test_2603_custom_behaviors_with_jax.py
Due: disallow-caps, require-test-name-identifier

Better check for complex types
  src/awkward/_connect/jax/reducers.py
Due: disallow-caps

Better checks everywhere
  src/awkward/_connect/jax/reducers.py
Due: disallow-caps

feat: make ak.mean and ak.count differentiable
  src/awkward/_connect/jax/reducers.py
  tests/test_2638_mean_and_count_grads.py
Due: disallow-caps, require-test-name-identifier

fix: throw more meaningful error message
  src/awkward/_kernels.py
Due: disallow-caps

stripped-down version of src/awkward/_connect/pyarrow.py in studies
  studies/cudf-to-awkward.py
Due: none

add a modest test suite
  studies/cudf-to-awkward.py
Due: none

numbers and lists are working
  studies/cudf-to-awkward.py
Due: none

everything that I can test works
  studies/cudf-to-awkward.py
Due: none

implemented everything that can be implemented
  studies/cudf-to-awkward.py
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
