Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

ci: fix environment expansion
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: run in subdirectory
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: only run dask tests
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: set strict dask env vars
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: continue if dask tests fail
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: revert continue-on-error
  .github/workflows/downstream-test.yml
Due: disallow-caps

ci: fix environment
  .github/workflows/downstream-test.yml
Due: disallow-caps

feat: test anndata too
  .github/workflows/downstream-test.yml
Due: disallow-caps

feat!: canonicalise `union` of `indexed` (#2527)
  src/awkward/contents/content.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unionarray.py
  tests/test_2192_union_absorb_indexed.py
Due: disallow-caps, require-test-name-identifier

ci: test signatures only in CI
  .github/workflows/test.yml
  src/awkward/_dispatch.py
Due: disallow-caps

feat: check signatures upon first invocation
  src/awkward/_dispatch.py
Due: disallow-caps

ci: revert ENV var
  .github/workflows/test.yml
Due: disallow-caps

chore: drop unneeded code
  src/awkward/behaviors/string.py
Due: disallow-caps

fix: restore `byte` and `char` behavior classes
  src/awkward/behaviors/string.py
Due: disallow-caps

fix: patch NDArrayOperatorsMixin
  src/awkward/highlevel.py
Due: disallow-caps

test: require fsspec
  tests/test_1619_from_parquet_empty_field.py
Due: disallow-caps, require-test-name-identifier

test: require fsspec
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

test: require fsspec
  tests/test_1440_start_v2_to_parquet.py
Due: disallow-caps, require-test-name-identifier

test: remove need for dask
  tests/test_2266_fix_nan_to_num.py
Due: disallow-caps, require-test-name-identifier

refactor: remove trivial functions from util
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/_connect/pyarrow.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_util.py
  src/awkward/numba.py
Due: disallow-caps

refactor: add private `NDArrayOperatorsMixin`
  pyproject.toml
  src/awkward/_nplikes/typetracer.py
  src/awkward/_operators.py
  src/awkward/highlevel.py
Due: disallow-caps

fix: identify fixed-string patterns
  src/awkward/forms/recordform.py
Due: disallow-caps

test: fix test breakages
  tests/test_1125_to_arrow_from_arrow.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: patch NDArrayOperatorsMixin (#2534)
  pyproject.toml
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/_connect/pyarrow.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_operators.py
  src/awkward/_util.py
  src/awkward/highlevel.py
  src/awkward/numba.py
  tests/test_1125_to_arrow_from_arrow.py
  tests/test_1294_to_and_from_parquet.py
  tests/test_1440_start_v2_to_parquet.py
  tests/test_1619_from_parquet_empty_field.py
  tests/test_2266_fix_nan_to_num.py
Due: disallow-caps, require-test-name-identifier

wip
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  tests/test_2356_select_columns.py
Due: disallow-caps, require-test-name-identifier

fix: make identity selector return empty form
  src/awkward/forms/recordform.py
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

refactor: add identity behavior to matcher itself
  src/awkward/forms/form.py
  src/awkward/forms/recordform.py
Due: disallow-caps

test: add large form test
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

test: check nested selector
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

refactor: drop unneeded `set`
  src/awkward/forms/form.py
Due: disallow-caps

refactor: loosen type hints
  src/awkward/forms/form.py
Due: disallow-caps

feat: restore column pruning
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

refactor: implement column pruning as a separate pass
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

fix: preserve outermost union behavior
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

test: add tests for pruning
  src/awkward/forms/form.py
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

fix: type hints for older Pythons
  src/awkward/forms/form.py
Due: disallow-caps

docs: fix reference to removed behavior
  docs/user-guide/how-to-convert-python.md
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
