Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

2917: Adding ufunc-like functions real, imag, and angle.
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_real_imag_angle.py
Due: disallow-caps

docs: add a link to documentation of AwkwardArray in Julia
  docs/index.md
Due: none

Adding unit tests for real, imag, angle.
  tests/test_2917_real_imag_angle.py
Due: disallow-caps, require-test-name-identifier

More unit tests, fixing bugs
  src/awkward/_nplikes/typetracer.py
  tests/test_2917_real_imag_angle.py
Due: disallow-caps, require-test-name-identifier

Adding round function (almost numpy.ufunc)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_round.py
  tests/test_2917_round.py
Due: disallow-caps, require-test-name-identifier

perf: add a flag to turn off isinstance in TypeTracerArray._new
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

Fix dependence on numpy type conversions
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

Splitting real, imag, angle
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_real.py
  src/awkward/operations/ak_real_imag_angle.py
  src/awkward/operations/ak_round.py
Due: disallow-caps

feat: add awkward_NumpyArray_pad_zero_to_length
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_axis1.cu
Due: disallow-caps

fix: add missing awkward_NumpyArray_pad_zero_to_length kernel
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_pad_zero_to_length.cu
Due: disallow-caps

Adding to mostly-augen docs, removing round(.., out=...)
  docs/reference/toctree.txt
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/ak_round.py
Due: disallow-caps

fix: change icon from history to ellipsis
  docs/index.md
Due: none

remove fas
  docs/index.md
Due: none

test: TEMPORARILY put an upper cap on NumPy 2.0
  pyproject.toml
Due: disallow-caps

on both packages
  awkward-cpp/pyproject.toml
Due: disallow-caps

maybe it's related to the fact that awkward-cpp is stuck at version 26 in Pyodide
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
Due: none

temporarily remove the 'Try It' page (which isn't working, anyway)
  docs/_toc.yml
  docs/getting-started/try-awkward-array.md
  docs/index.md
Due: none

also turned off the jupyterlite_sphinx extension
  docs/conf.py
Due: none

test: TEMPORARY edits to get tests working for all PRs: NumPy 2.0 cap and turned off Try-It (#3057)
  awkward-cpp/pyproject.toml
  docs/_toc.yml
  docs/conf.py
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
  docs/getting-started/try-awkward-array.md
  docs/index.md
  pyproject.toml
Due: disallow-caps

disable PyLint so that it doesn't fight with either black or ruff
  src/awkward/errors.py
Due: disallow-caps

include tcawlfield in the list of regular reviewers
  CONTRIBUTING.md
Due: disallow-caps

chore: keeping CONTRIBUTING.md up to date (take 1) (#3038)
  CONTRIBUTING.md
Due: disallow-caps

docs: new Try-It page based on plain Pyodide
  docs/_static/try-it.html
  docs/index.md
Due: none

try adding a Julia logo inline
  docs/index.md
Due: none

Optimism: Allow numpy 2.x (breaks a ton!)
  pyproject.toml
Due: disallow-caps

feat: add to_parquet_dataset function (#2898)
  .DS_Store
  docs/reference/toctree.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_parquet_dataset.py
  tests/test_2898_to_parquet_dataset.py
Due: disallow-caps, require-test-name-identifier

AxisError removed from root numpy namespace in 2.0
  src/awkward/_nplikes/numpy_like.py
  src/awkward/errors.py
Due: disallow-caps

fix link; no idea how to make it open in a new tab
  docs/index.md
Due: none

numpy.core -> numpy._core
  src/awkward/_operators.py
Due: disallow-caps

docs: add a link to documentation of AwkwardArray in Julia (#3052)
  docs/index.md
Due: none

feat: adding support for numpy.real, imag, round, angle, (#3053)
  docs/reference/toctree.txt
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_real.py
  src/awkward/operations/ak_round.py
  tests/test_2917_real_imag_angle.py
  tests/test_2917_round.py
Due: disallow-caps, require-test-name-identifier

add: map of kernels and tests
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  studies/tests-and-kernels-map/tests_to_kernels.json
Due: none

test: drop_none
  tests-cuda/test_2922_new_cuda_kernels.py
Due: disallow-caps

refactor: remove kernels with errors
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_apply.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_shrink.cu
Due: disallow-caps

feat: add awkward_ListArray_getitem_jagged_apply.cu and awkward_ListArray_getitem_jagged_shrink
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_apply.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_shrink.cu
Due: disallow-caps

fix mypy's and pylint's complaints
  src/awkward/_nplikes/typetracer.py
  src/awkward/errors.py
Due: disallow-caps

The next release will be 2.6.3rc1.
  pyproject.toml
Due: disallow-caps

The next awkward-cpp release is 31.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

perf: add a flag to turn off isinstance in TypeTracerArray._new (#3054)
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
