Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

test on single jagged as well
  tests/test_1105_ak_aray_equal.py
  tests/test_2198_almost_equal.py
Due: disallow-caps, require-test-name-identifier

start at zero
  src/awkward/operations/ak_almost_equal.py
Due: disallow-caps

add more tests
  tests/test_1105_ak_aray_equal.py
Due: disallow-caps, require-test-name-identifier

extra tests in almost_equal as well
  tests/test_2198_almost_equal.py
Due: disallow-caps, require-test-name-identifier

fix: `ak.almost_equal` and `ak.array_equal` should check that jagged arrays have the same offsets (#3425)
  src/awkward/operations/ak_almost_equal.py
  tests/test_1105_ak_aray_equal.py
  tests/test_2198_almost_equal.py
Due: disallow-caps, require-test-name-identifier

some comments from Angus
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

calculate nbytes as size * itemsize
  src/awkward/_nplikes/virtual.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

feat: implement virtual arrays (#3364)
  docs/reference/toctree.txt
  src/awkward/_backends/dispatch.py
  src/awkward/_kernels.py
  src/awkward/_lookup.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/index.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_materialize.py
  src/awkward/operations/ak_to_raggedtensor.py
  src/awkward/operations/ak_to_rdataframe.py
  src/awkward/prettyprint.py
  src/awkward/record.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

fix: cleanup ruff linter errors
  pyproject.toml
  src/awkward/_broadcasting.py
  src/awkward/numba/__init__.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/types/_awkward_datashape_parser.py
Due: disallow-caps

fix: cleanup ruff linter errors (#3430)
  pyproject.toml
  src/awkward/_broadcasting.py
  src/awkward/numba/__init__.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/types/_awkward_datashape_parser.py
Due: disallow-caps

Update src/awkward/contents/unionarray.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: index with int in unionarray.py (#3419)
  src/awkward/contents/unionarray.py
Due: disallow-caps

An Index's data should be passed into array_equal, not the Index itself
  src/awkward/operations/ak_almost_equal.py
Due: disallow-caps

An Index's data should be passed into array_equal, not the Index itself (#3432)
  src/awkward/operations/ak_almost_equal.py
Due: disallow-caps

chore: awkward-cpp 45, awkward 2.8.0
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

pass option type to fields
  src/awkward/contents/recordarray.py
Due: disallow-caps

split the tests, enable datatime tests - pyarow supports datetime/duration conversions to Parquet
  tests/test_1125_to_arrow_from_arrow.py
Due: disallow-caps, require-test-name-identifier

add tobytes and tostring
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

add test
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

let's add only tobytes since tostring is deprecated
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

check if mask is an option type
  src/awkward/contents/recordarray.py
Due: disallow-caps

fix merge conflicts
  src/awkward/contents/recordarray.py
Due: disallow-caps

feat: add `tobytes` to `VirtualArray` (#3434)
  src/awkward/_nplikes/virtual.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

chore: patch release 2.8.1
  pyproject.toml
Due: disallow-caps

there is no such thing as ak.unionarray
  src/awkward/contents/unionarray.py
Due: disallow-caps

add test
  tests/test_1074_combinations.py
Due: disallow-caps, require-test-name-identifier

docs: minor fixes to JAX guide + add VJP example
  docs/user-guide/how-to-specialize-differentiate-jax.md
Due: none

fix line break
  docs/user-guide/how-to-specialize-differentiate-jax.md
Due: none

docs: minor fixes to JAX guide + add VJP example (#3439)
  docs/user-guide/how-to-specialize-differentiate-jax.md
Due: none

fix: typo in `UnionArray` combinations (#3438)
  src/awkward/contents/unionarray.py
  tests/test_1074_combinations.py
Due: disallow-caps, require-test-name-identifier

Calculate a uuid from parquet metadata, utilizing detailed info of the first and last row_groups plus the col_counts of all row_groups of the file or dataset
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_metadata_from_parquet.py
Due: disallow-caps

pre-commit fixups
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_metadata_from_parquet.py
Due: disallow-caps

add arm64
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

Update src/awkward/contents/recordarray.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

fix: pyarrow 19.0 support (#3416)
  src/awkward/contents/recordarray.py
  tests/test_1125_to_arrow_from_arrow.py
Due: disallow-caps, require-test-name-identifier

fix highlevel function dispatch typing
  src/awkward/_dispatch.py
Due: disallow-caps

fix type alias definition
  src/awkward/_dispatch.py
Due: disallow-caps

bind P & T back again
  src/awkward/_dispatch.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
