Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
    - id: validate-pyproject

reduce number of allocations further in minmax_depth
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/unionmeta.py
Due: disallow-caps

some more lru_caches
  src/awkward/_nplikes/shape.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/forms/form.py
Due: disallow-caps

these properties are already defined exactly like this in the RecordMeta baseclass
  src/awkward/contents/recordarray.py
Due: disallow-caps

fix: nbytes repr for typetracers with nbytes=unknown_length
  src/awkward/prettyprint.py
Due: disallow-caps

perf: add caches to reduce python overhead (#3359)
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/_nplikes/shape.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/forms/form.py
  src/awkward/types/numpytype.py
Due: disallow-caps

improve nbytes repr for unknown_length
  src/awkward/prettyprint.py
Due: disallow-caps

fix: version check in to_cudf for API change (#3339)
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: nbytes repr for typetracers with nbytes=unknown_length (#3361)
  src/awkward/prettyprint.py
Due: disallow-caps

these properties are already defined exactly like this in the RecordMeta baseclass (#3360)
  src/awkward/contents/recordarray.py
Due: disallow-caps

some python improvements
  src/awkward/_broadcasting.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_slicing.py
  src/awkward/contents/content.py
Due: disallow-caps

fix: update Chicago Taxi Dataset URL to Zenodo (#3357)
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/user-guide/how-to-examine-single-item.md
Due: none

fix: always check '.length' for 'unknown_length' (#3332)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/operations/ak_firsts.py
  src/awkward/record.py
Due: disallow-caps

fix _getitem_at_placeholder
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

add a performance tipp to ak.transform doc string
  src/awkward/operations/ak_transform.py
Due: disallow-caps

fix typo
  src/awkward/operations/ak_transform.py
Due: disallow-caps

docs: add a performance tipp to ak.transform doc string (#3369)
  src/awkward/operations/ak_transform.py
Due: disallow-caps

fix _getitem_at_placeholder (#3368)
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

start of a low-level dag implementation for awkward
  src/awkward/_kernels.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/tracing/__init__.py
  src/awkward/tracing/core.py
  src/awkward/tracing/interpreter.py
  src/awkward/tracing/typetracer.py
  studies/awkward_tracing.py
Due: disallow-caps

fix resulting __setitem__ layout type for ak.Record
  src/awkward/highlevel.py
Due: disallow-caps

add test
  tests/test_3372_akRecord_setitem.py
Due: disallow-caps, require-test-name-identifier

fix: resulting __setitem__ layout type for ak.Record (#3372)
  src/awkward/highlevel.py
  tests/test_3372_akRecord_setitem.py
Due: disallow-caps, require-test-name-identifier

refactor: propagate attrs & behavior from given input arrays in the same way as ak.zip
  src/awkward/highlevel.py
Due: disallow-caps

add test
  tests/test_3374_propagate_metadata_akArray_dictlike_data.py
Due: disallow-caps, require-test-name-identifier

Update ak_to_rdataframe.py
  src/awkward/operations/ak_to_rdataframe.py
Due: disallow-caps

Create test_3375_add_rdf_column.py
  test_3373_add_rdf_column.py
Due: disallow-caps

Create test_3375_add_rdf_column.py
  test_3375_add_rdf_column.py
Due: disallow-caps

Delete test_3373_add_rdf_column.py
  test_3373_add_rdf_column.py
Due: disallow-caps

move the test
  tests/test_3375_add_rdf_column.py
Due: disallow-caps, require-test-name-identifier

Update test_3375_add_rdf_column.py
  tests/test_3375_add_rdf_column.py
Due: disallow-caps, require-test-name-identifier

refactor: propagate attrs & behavior with dict-like `ak.Array` input data (#3374)
  src/awkward/highlevel.py
  tests/test_3374_propagate_metadata_akArray_dictlike_data.py
Due: disallow-caps, require-test-name-identifier

change to error
  src/awkward/operations/ak_to_rdataframe.py
Due: disallow-caps

fix: change `primitive_policy` to allow converting Numpy arrays (#3375)
  src/awkward/operations/ak_to_rdataframe.py
  tests/test_3375_add_rdf_column.py
Due: disallow-caps, require-test-name-identifier

an attempt at implementing some methods
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

what if we start like this?
  src/awkward/_nplikes/array_module.py
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
Due: disallow-caps

add repr
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

first try to implement virtual arrays at (least close to) the buffer level
  src/awkward/_broadcasting.py
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/content.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2395_copy_asarray_touch.py
Due: disallow-caps, require-test-name-identifier
