Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: typo
  docs/conf.py
Due: none

docs: add warning boxes, shorten title!
  docs/user-guide/how-to-convert-cppyy.ipynb
Due: none

wip: create new docs section
  docs/_toc.yml
  docs/user-guide/how-to-strings.md
  docs/user-guide/how-to-use-in-cpp-cppyy.ipynb
Due: none

fix: reflect moved path
  docs/conf.py
Due: none

docs: commit executed cppyy notebook
  docs/requirements-wasm.txt
  docs/requirements.txt
Due: none

ci: try running cppyy
  .github/workflows/test.yml
Due: disallow-caps

docs: run cppyy notebook separately
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: disallow-caps

docs: require Python!
  .github/workflows/docs.yml
Due: disallow-caps

ci: try quotes
  .github/workflows/docs.yml
Due: disallow-caps

ci: download cppyy wheels to same location
  .github/workflows/docs.yml
Due: disallow-caps

docs: bump Python version
  .github/workflows/docs.yml
Due: disallow-caps

ci: install pyodide-build from source
  .github/workflows/docs.yml
Due: disallow-caps

ci: checkout into `pyodide`
  .github/workflows/docs.yml
Due: disallow-caps

ci: install pyodide-build separately
  .github/workflows/docs.yml
Due: disallow-caps

docs: use old pyodide for now
  .github/workflows/docs.yml
  docs/requirements-wasm.txt
  docs/requirements.txt
Due: disallow-caps

docs: move files about
  docs/_toc.yml
  docs/user-guide/how-to-use-in-cpp-layoutbuilder.md
  docs/user-guide/how-to-use-in-cpp.md
Due: none

feat: export more of typetracer
  src/awkward/typetracer.py
Due: disallow-caps

test: add simple test
  tests/test_2816_public_typetracer_api.py
Due: disallow-caps, require-test-name-identifier

fix: support scalar returns from `firsts` (#2815)
  src/awkward/operations/ak_firsts.py
  tests/test_2815_return_scalar_firsts.py
Due: disallow-caps, require-test-name-identifier

chore: only build _ext and kernels (#2813)
  awkward-cpp/CMakeLists.txt
  awkward-cpp/include/awkward/builder/ArrayBuilder.h
  awkward-cpp/include/awkward/builder/BoolBuilder.h
  awkward-cpp/include/awkward/builder/Builder.h
  awkward-cpp/include/awkward/builder/Complex128Builder.h
  awkward-cpp/include/awkward/builder/DatetimeBuilder.h
  awkward-cpp/include/awkward/builder/Float64Builder.h
  awkward-cpp/include/awkward/builder/Int64Builder.h
  awkward-cpp/include/awkward/builder/ListBuilder.h
  awkward-cpp/include/awkward/builder/OptionBuilder.h
  awkward-cpp/include/awkward/builder/RecordBuilder.h
  awkward-cpp/include/awkward/builder/StringBuilder.h
  awkward-cpp/include/awkward/builder/TupleBuilder.h
  awkward-cpp/include/awkward/builder/UnionBuilder.h
  awkward-cpp/include/awkward/builder/UnknownBuilder.h
  awkward-cpp/include/awkward/common.h
  awkward-cpp/include/awkward/forth/ForthInputBuffer.h
  awkward-cpp/include/awkward/forth/ForthMachine.h
  awkward-cpp/include/awkward/forth/ForthOutputBuffer.h
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/include/awkward/util.h
Due: disallow-caps

docs: avoid rename to avoid redirect
  docs/_toc.yml
  docs/user-guide/how-to-use-header-only-layoutbuilder.md
Due: none

The next awkward-cpp version will be 26
  awkward-cpp/pyproject.toml
Due: disallow-caps

feat: julia helper functions to check the environment, versions, and initialize it
  src/awkward/_connect/julia/__init__.py
  src/awkward/_connect/julia/utils.py
Due: disallow-caps

docs: how to accelerate awkward arrays with cppyy (#2334)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  docs/_toc.yml
  docs/conf.py
  docs/requirements-wasm.txt
  docs/requirements.txt
  docs/user-guide/how-to-use-in-cpp-cppyy.ipynb
  docs/user-guide/how-to-use-in-cpp.md
Due: disallow-caps

chore: update awkward-cpp dependency
  pyproject.toml
Due: disallow-caps

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: disallow-caps

Refactor cuda test to use importorskip
  tests-cuda/test_1809_array_cuda_jit.py
Due: disallow-caps

Use array.size instead of len() for scalar
  src/awkward/_kernels.py
  src/awkward/_nplikes/cupy.py
  tests-cuda/test_1809_array_cuda_jit.py
Due: disallow-caps

Add import to generated tests
  dev/generate-tests.py
Due: disallow-caps

Replace argtypes with ispointerlist
  dev/generate-kernel-signatures.py
  src/awkward/_kernels.py
Due: disallow-caps

Avoid indexes being passed to array_equal
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

wipwip
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_broadcast_tooffsets.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_compact_offsets.cu
  src/awkward/_kernels.py
  tests-cuda/test_1276_cuda_num.py
  tests-cuda/test_1276_cuda_transfers.py
  tests-cuda/test_1276_cupy_interop.py
  tests-cuda/test_1276_from_cupy.py
  tests-cuda/test_1381_check_errors.py
  tests-cuda/test_1809_array_cuda_jit.py
Due: disallow-caps

refactor: use `type_` instead of `t`
  src/awkward/_kernels.py
Due: disallow-caps

refactor: don't call `asarray` in `broadcast_arrays`
  src/awkward/_nplikes/cupy.py
Due: disallow-caps

feat: export more of typetracer (#2816)
  src/awkward/typetracer.py
  tests/test_2816_public_typetracer_api.py
Due: disallow-caps, require-test-name-identifier

refactor: simplify Julia version checks
  src/awkward/_connect/julia/utils.py
Due: disallow-caps

refactor: rename `Main` to `julia_main`
  src/awkward/_connect/julia/utils.py
Due: disallow-caps

chore: ensure we import backends directly
  dev/generate-tests.py
Due: disallow-caps

fix: revert kernel name change
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_compact_offsets.cu
Due: disallow-caps

fix: don't wipe exception context on exit
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_errors.py
  tests-cuda/test_1381_check_errors.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
