Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

Merge nonzero with select
  studies/cccl/_segment_algorithms.py
  studies/cccl/benchmark.py
Due: none

Improve select_segments performance
  studies/cccl/_segment_algorithms.py
  studies/cccl/benchmark.py
Due: none

Remove an unnecessary synchronize
  studies/cccl/_segment_algorithms.py
  studies/cccl/profile_cccl.py
Due: none

fix: change error to `NotImplementedError` for non-NumpyArray in `zip_no_broadcast`
  src/awkward/operations/ak_zip_no_broadcast.py
Due: disallow-caps

Add docs: dependency and version change guidelines
  CONTRIBUTING.md
Due: disallow-caps

Add dependency and version change guidelines
  CONTRIBUTING.md
Due: disallow-caps

fix to prevent teardown from crashing our test suite
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
  tests-cuda/test_3065a_cuda_kernels.py
  tests-cuda/test_3065b_cuda_kernels.py
  tests-cuda/test_3065c_cuda_kernels.py
  tests-cuda/test_3086_cuda_concatenate.py
  tests-cuda/test_3130_cuda_listarray_getitem_next.py
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
  tests-cuda/test_3136_cuda_reducers.py
  tests-cuda/test_3140_cuda_jagged_and_masked_getitem.py
  tests-cuda/test_3140_cuda_slicing.py
  tests-cuda/test_3141_cuda_misc.py
  tests-cuda/test_3149_complex_reducers.py
  tests-cuda/test_3150_combinations_n_equal_2.py
  tests-cuda/test_3162_block_boundary_reducers.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
  tests-cuda/test_3260_combinations_n_equal_3.py
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

Try stateful op
  studies/cccl/_segment_algorithms.py
Due: none

Revert "Try stateful op"
  studies/cccl/_segment_algorithms.py
Due: none

Format contributing guidelines for clarity
  CONTRIBUTING.md
Due: disallow-caps

make function accept form_key too
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

change argument order
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

add docstring
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

use the form's form_key before getkey runs
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

docs: Add dependency and version change guidelines (#3745)
  CONTRIBUTING.md
Due: disallow-caps

fix: `ArrayBuilder.__bool__ ` raises `TypeError` when builder length is 1 (#3738)
  src/awkward/highlevel.py
Due: disallow-caps

A few minor updates
  studies/cccl/_segment_algorithms.py
  studies/cccl/benchmark.py
  studies/cccl/helpers.py
  studies/cccl/playground.py
  studies/cccl/profile_cccl.py
Due: none

disable -> enable change
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
  src/awkward/_pickle.py
  src/awkward/forms/form.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

Add cuda.compute implementation to CCCL study (#3748)
  studies/cccl/_segment_algorithms.py
  studies/cccl/benchmark.py
  studies/cccl/helpers.py
  studies/cccl/playground.py
  studies/cccl/profile_cccl.py
Due: none

add test
  tests/test_3741_virtualarray_caching.py
Due: disallow-caps, require-test-name-identifier

check that we can rematerialize the array a second time too
  tests/test_3741_virtualarray_caching.py
Due: disallow-caps, require-test-name-identifier

Initial implementation of ak.sort() for CUDA backend using cuda.compute
  .github/workflows/test.yml
  requirements-test-gpu.txt
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_kernels.py
  studies/cccl/_segment_algorithms.py
  tests-cuda/test_3749_cuda_backend_sort.py
Due: disallow-caps

Remove xfails
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

Add back xfail for test_listarray_sort
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

fix: prevent teardown from crashing GPU test suite (#3747)
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
  tests-cuda/test_3065a_cuda_kernels.py
  tests-cuda/test_3065b_cuda_kernels.py
  tests-cuda/test_3065c_cuda_kernels.py
  tests-cuda/test_3086_cuda_concatenate.py
  tests-cuda/test_3130_cuda_listarray_getitem_next.py
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
  tests-cuda/test_3136_cuda_reducers.py
  tests-cuda/test_3140_cuda_jagged_and_masked_getitem.py
  tests-cuda/test_3140_cuda_slicing.py
  tests-cuda/test_3141_cuda_misc.py
  tests-cuda/test_3149_complex_reducers.py
  tests-cuda/test_3150_combinations_n_equal_2.py
  tests-cuda/test_3162_block_boundary_reducers.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
  tests-cuda/test_3260_combinations_n_equal_3.py
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

track original buffer key
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

hide awkward.ak_* from main module
  src/awkward/__init__.py
Due: disallow-caps

same for ak.str submodule
  src/awkward/operations/str/__init__.py
Due: disallow-caps

fix syntax for py3.9
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: hide awkward.ak_* and awkward.str.akstr_* from 'awkward' and 'awkward.str' module (#3752)
  src/awkward/__init__.py
  src/awkward/operations/str/__init__.py
Due: disallow-caps

add new option to the slots
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

add time metrics for a bigger array
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum.ipynb
Due: none

delete the old notebook
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum_atomics.ipynb
Due: none

beautify the code a bit
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum.ipynb
Due: none

port tests to python 3.14
  tests/test_0118_numba_cpointers.py
  tests/test_0397_arrays_as_constants_in_numba.py
Due: disallow-caps, require-test-name-identifier

fix typo
  tests/test_0118_numba_cpointers.py
  tests/test_0397_arrays_as_constants_in_numba.py
Due: disallow-caps, require-test-name-identifier

final fix
  tests/test_0118_numba_cpointers.py
  tests/test_0397_arrays_as_constants_in_numba.py
Due: disallow-caps, require-test-name-identifier

allow numba tests on python 3.14
  requirements-test-full.txt
Due: disallow-caps

Chore: Remove CUDA 11 support
  .github/workflows/test.yml
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.Dockerfile
  requirements-test-gpu.txt
Due: disallow-caps

chore: Remove CUDA 11 support (#3758)
  .github/workflows/test.yml
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.Dockerfile
  requirements-test-gpu.txt
Due: disallow-caps
