Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

docs: add example for reducer overload
  docs/reference/ak.behavior.rst
Due: none

docs: fix formatting, toctree
  docs/reference/ak.behavior.rst
Due: none

docs: wip
  docs/reference/ak.behavior.rst
Due: none

docs: add notes about reducer
  docs/reference/ak.behavior.md
  docs/reference/ak.behavior.rst
Due: none

fix: types
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

test: list append, begin_list and end_list
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

test: regular type
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

docs: rework docstring
  docs/reference/ak.behavior.md
Due: none

wip: indexed type
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

wip: indeded index
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

refactor: try to improve behavior resolution performance
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

feat: improve performance of behavior lookups (#2464)
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

test: check a positional reducer
  tests/test_1607_no_reducers_on_records.py
Due: disallow-caps, require-test-name-identifier

feat: support record reducer overloads (#2458)
  docs/reference/ak.behavior.md
  docs/reference/ak.behavior.rst
  src/awkward/_do.py
  src/awkward/contents/recordarray.py
  src/awkward/operations/ak_with_name.py
  tests/test_1607_no_reducers_on_records.py
Due: disallow-caps, require-test-name-identifier

chore: bump version
  pyproject.toml
Due: disallow-caps

fix: convert index to shape item
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: convert index to shape item (#2466)
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: touch offsets in kernel call
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

chore: revert change
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: touch _data_
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

fix: touch offsets in kernel call (#2469)
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

feat: always touch arguments to kernels
  src/awkward/_kernels.py
Due: disallow-caps

feat!: raise error when flattening strings
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

test: add simple test
  tests/test_2471_flatten_string.py
Due: disallow-caps, require-test-name-identifier

chore: add type hints for mergeable
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for drop_none
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for _offsets_and_flattened
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for _getitem_next_jagged
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for _broadcast_tooffsets64
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

chore: add type hints for to_ListOffsetArray64
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

chore: add type hints for length
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for `_touch_XXX`
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for `starts`, `stops`
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

chore: add type hints for `content`
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for `_to_buffers`
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: add type hints for `offsets`
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

refactor: tighten form for `to_IndexedOptionArray64`
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

refactor: tighten form for `_form_with_key`
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

refactor: improve hints for getitem
  src/awkward/contents/content.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
