Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: overflow error when concatenating more than 128 regular arrays (#3568)
  src/awkward/operations/ak_concatenate.py
  tests/test_3568_concatenate_regular_and_union_arrays.py
Due: disallow-caps, require-test-name-identifier

chore: update zenodo citation in README (#3574)
  README.md
Due: disallow-caps

fix: restore origin RPath
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

ci: bump pyodide version
  .github/workflows/docs.yml
Due: disallow-caps

fix: try forcing RPath
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
Due: disallow-caps

fix readme pyodide link
  README.md
Due: disallow-caps

chore: fix pyodide link in README (#3576)
  README.md
Due: disallow-caps

the test fails on python 3.9 - revert the changes
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

revert changes due to 3.9
  src/awkward/operations/str/__init__.py
Due: disallow-caps

Update CMakeLists.txt
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

fix: cleanup hacks a bit
  .github/workflows/docs.yml
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

Update pyproject.toml
  awkward-cpp/pyproject.toml
Due: disallow-caps

n=3 working
  src/awkward/_connect/cuda/combinations/__init__.py
  src/awkward/_connect/cuda/combinations/cupy_combinations.py
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

clean up and make only n==3 work
  .gitignore
  pyproject.toml
  src/awkward/_connect/cuda/combinations/cupy_combinations.py
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: patch emscripten RPath (#3575)
  .github/workflows/docs.yml
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

add with_name do ak.concatenate
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

only check for PyExtensionType if version is less than 21
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

should be less than
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

wip
  src/awkward/__init__.py
  src/awkward/_backends/dispatch.py
  src/awkward/_backends/torch.py
  src/awkward/_connect/torch/__init__.py
  src/awkward/_connect/torch/reducers.py
  src/awkward/_kernels.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/torch.py
  src/awkward/operations/ak_to_layout.py
  src/awkward/torch.py
Due: disallow-caps

fix typo
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

do a try, except block instead
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

better comments
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

fix: removal of `pyarrow.lib.PyExtensionType` in pyarrow 21 (#3581)
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

forward highlevel, behavior, attrs and kwargs for zip
  src/awkward/operations/ak_to_list_of_records.py
  src/awkward/operations/ak_to_record_of_lists.py
Due: disallow-caps

add more tests
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

add support for named axis
  src/awkward/operations/ak_to_record_of_lists.py
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

add new functions to toctree in docs
  docs/reference/toctree.txt
Due: none

remove axis argument for to_lists_of_records
  src/awkward/operations/ak_to_list_of_records.py
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

rename test file
  tests/test_3582_to_lists_of_records_and_to_record_of_lists.py
Due: disallow-caps, require-test-name-identifier

add test for to and from_lists_of_records
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

rename from_list_of_records to to_record_of_lists
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_list_of_records.py
  src/awkward/operations/ak_to_record_of_lists.py
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

add minimal implementation
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_list_of_records.py
  src/awkward/operations/ak_to_list_of_records.py
Due: disallow-caps

write docstrings
  src/awkward/operations/ak_to_list_of_records.py
  src/awkward/operations/ak_to_record_of_lists.py
Due: disallow-caps

add test for depth_limit and typestr
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

also support tuples
  src/awkward/operations/ak_from_list_of_records.py
  src/awkward/operations/ak_to_list_of_records.py
  tests/test_XXXX_to_and_from_lists_of_records.py
Due: disallow-caps, require-test-name-identifier

cross reference from ak.zip and ak.unzip
  src/awkward/operations/ak_unzip.py
  src/awkward/operations/ak_zip.py
Due: disallow-caps

fix: arrow can handle length-zero arrays now
  src/awkward/operations/str/__init__.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

Bump minimal pyarrow version to 14.0.0
  requirements-test-minimal.txt
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
