Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: install Awkward with top-level await in the try-it REPL
  docs/_static/try-it.html
Due: none

fix: compare tuple record type arity
  src/awkward/types/recordtype.py
  tests/test_2368_type_is_equal.py
Due: disallow-caps, require-test-name-identifier

fix: repair the try-it REPL by pinning jQuery and updating jQuery Terminal (#4307)
  docs/_static/try-it.html
Due: none

fix: pass explicit strides for AwkwardForth output and bytecode arrays
  awkward-cpp/pyproject.toml
  awkward-cpp/src/python/forth.cpp
  tests/test_4359_forth_output_strides.py
Due: disallow-caps, require-test-name-identifier

docs: set Momentum4D name after adding mass in columnar HATS notebook
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
Due: none

docs: set muon mass in ak.zip in columnar HATS notebook
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
Due: none

fix: parse float16, float128 and complex256 in type strings
  src/awkward/types/_awkward_datashape_parser.py
  studies/type-parser-2/awkward_datashape_grammar.g
  tests/test_4390_all_numpy_numeric_dtypes.py
Due: disallow-caps, require-test-name-identifier

fix: format float16 and long-double values in show() like numpy
  src/awkward/_nplikes/numpy_like.py
  src/awkward/prettyprint.py
  tests/test_4390_all_numpy_numeric_dtypes.py
Due: disallow-caps, require-test-name-identifier

docs: set muon mass in ak.zip in columnar HATS notebook (#4389)
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
Due: none

fix: parse record names that start with a dtype name
  src/awkward/types/_awkward_datashape_parser.py
  studies/type-parser-2/awkward_datashape_grammar.g
  tests/test_4390_all_numpy_numeric_dtypes.py
Due: disallow-caps, require-test-name-identifier

fix: round-trip record and field names equal to a dtype name
  src/awkward/types/_awkward_datashape_parser.py
  src/awkward/types/recordtype.py
  studies/type-parser-2/awkward_datashape_grammar.g
  tests/test_4390_all_numpy_numeric_dtypes.py
Due: disallow-caps, require-test-name-identifier

test: name the dtype-name round-trip test for records and fields
  tests/test_4390_all_numpy_numeric_dtypes.py
Due: disallow-caps, require-test-name-identifier

Simplify the builder form in from_json
  src/awkward/operations/ak_from_json.py
  tests/properties/operations/test_to_from_json.py
  tests/test_4242_from_json_null_with_mixed_kinds.py
Due: disallow-caps, require-test-name-identifier

fix(docs): let the llms.txt Markdown sub-build finish
  docs/conf.py
Due: none

docs: add llms.txt and Markdown page versions
  docs/conf.py
  docs/index.md
  docs/requirements.txt
Due: none

Drop the future import from the new test
  tests/test_4242_from_json_null_with_mixed_kinds.py
Due: disallow-caps, require-test-name-identifier

fix: ak.from_iter of np.clongdouble, 0-d arrays, and np.void scalars
  awkward-cpp/src/python/content.cpp
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

CI fix
  tests/test_4278_ravel_temporal_unit_overflow.py
Due: disallow-caps, require-test-name-identifier

fix: bound ak.from_iter recursion by the Python recursion limit
  awkward-cpp/src/python/content.cpp
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

fix: cap ak.from_iter depth below the stack's capacity
  awkward-cpp/src/python/content.cpp
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

Remove known issue check for issue 4259
  tests/properties/operations/test_any.py
Due: disallow-caps, require-test-name-identifier

fix: bound the depth of argument reprs in error messages
  src/awkward/_errors.py
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

fix: cap argument repr depth without reprlib's fillvalue, absent before 3.12
  src/awkward/_errors.py
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

fix: cap argument repr depth without reprlib's fillvalue, absent on 3.10
  src/awkward/_errors.py
  tests/test_4392_from_iter_numpy_scalars.py
Due: disallow-caps, require-test-name-identifier

Refactor _unique method to simplify shape checks
  src/awkward/contents/numpyarray.py
Due: disallow-caps

Enhance tests for unique function with dtype parameterization
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

Fix indentation and formatting in test_unique_flat_float16_keeps_dtype
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

fix(typing): add missing type hint for axis parameter in ak.flatten (issue #13)
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

feat(typing): Add complete typing to core operations (#3849)
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

style: fix import placement for pre-commit
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

better fallback and empty counts test
  src/awkward/_nplikes/cupy.py
  tests-cuda/test_4354_cupy_repeat_array_repeats.py
Due: disallow-caps

fake module test
  tests-cuda/test_4354_cupy_repeat_array_repeats.py
Due: disallow-caps

perf: use CuPy's own repeat when it accepts an array of repeats (#4354)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  tests-cuda/test_4354_cupy_repeat_array_repeats.py
Due: disallow-caps

perf: build jagged boolean slices without a local-index pass (#4334)
  src/awkward/_slicing.py
  tests/test_4334_jagged_bool_slicing.py
Due: disallow-caps, require-test-name-identifier

feat: move _normalise_item_bool_to_int into a kernel
  kernel-specification.yml
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_slicing.py
Due: disallow-caps

forgot to add the kernel
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_getitem_boolmask.cpp
Due: disallow-caps

address comments
  src/awkward/contents/numpyarray.py
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

ci: split coverage into the Linux ROOT and CUDA 13 test jobs
  .github/workflows/ci.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-test.yml
  codecov.yml
  requirements-test-gpu.txt
Due: disallow-caps

ci: run tests with pytest-xdist and move light jobs to ubuntu-slim
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/lint.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/pr-type-label.yml
  .github/workflows/property-tests-gpu.yml
  .github/workflows/property-tests.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/semantic-pr-title.yml
  .github/workflows/upload-nightly-wheels.yml
  requirements-test-gpu.txt
Due: disallow-caps

docs: remove the unused JupyterLite setup
  .github/workflows/reusable-docs.yml
  .gitignore
  docs/_static/css/try-awkward-array.css
  docs/conf.py
  docs/lite/jupyter-lite.json
  docs/requirements.txt
Due: disallow-caps
