Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: reconcile kernel specification with the CPU implementations
  awkward-cpp/src/cpu-kernels/awkward_ByteMaskedArray_overlay_mask.cpp
  awkward-cpp/src/cpu-kernels/awkward_IndexedArray_flatten_none2empty.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_local_preparenext_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_outstartsstops_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_unique_strings.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_nestedfill_tags_index.cpp
  awkward-cpp/src/cpu-kernels/awkward_localindex.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_offsets.cpp
  kernel-specification.yml
Due: disallow-caps

test: cover the kernel specification audit fixes
  tests/test_4297_kernel_spec_audit_fixes.py
Due: disallow-caps, require-test-name-identifier

refactor: drop the redundant local `llvmlite.ir.types` import in `castint`
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

feat: specify the string and UTF-8 kernels, and close the last coverage gaps
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  tests/test_4297_kernel_spec_audit_fixes.py
Due: disallow-caps, require-test-name-identifier

test: cover the three previously untested reducers
  kernel-test-data.json
Due: disallow-caps

test: give the reducer role group test data
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

fix: pass pointers, not raw addresses, to numba's `cgutils.pointer_add` (#4298)
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

style: drop explanatory comments from the kernel implementations
  awkward-cpp/src/cpu-kernels/awkward_ByteMaskedArray_overlay_mask.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListArray_min_range.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_argsort_strings.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_local_preparenext_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_outstartsstops_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_unique_strings.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_nestedfill_tags_index.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_offsets.cpp
Due: disallow-caps

fix: remove the vectorized union-flattening fast path
  src/awkward/contents/unionarray.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
  tests/test_4109_python_perf.py
  tests/test_4214_flatten_axis_none_nested_union.py
  tests/test_4263_ravel_empty_union.py
Due: disallow-caps, require-test-name-identifier

docs: note scikit-build-core version behavior for the state override
  awkward-cpp/pyproject.toml
Due: disallow-caps

chore: generate kernel artefacts from CMake instead of nox -s prepare
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/copy-cpp-headers.py
  dev/generate-kernel-signatures.py
Due: disallow-caps

fix: only generate kernel tests when packing the sdist
  AGENTS.md
  CONTRIBUTING.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/generate-tests.py
Due: disallow-caps

ci: generate kernel tests before running cibuildwheel
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
Due: disallow-caps

refactor: drop the CMake stamp; run generation unconditionally at configure
  AGENTS.md
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

refactor: generate kernel tests in every repository build
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
Due: disallow-caps

awkward 2.13.0 and awkward-cpp 56
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

test: exclude layouts affected by #4305 from the parquet roundtrip tests
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: repair the try-it REPL by pinning jQuery and updating jQuery Terminal
  docs/_static/try-it.html
Due: none

chore: update Pyodide and stop pinning Awkward in the try-it REPL
  docs/_static/try-it.html
Due: none

docs: add 2.13 to the version switcher
  docs/switcher.json
Due: none

test: widen `has_issue_4264` to lists under untrimmed regular content
  tests/properties/operations/known_issues.py
Due: disallow-caps, require-test-name-identifier

fix: remove the vectorized union-flattening fast path (#4303)
  src/awkward/contents/unionarray.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
  tests/test_4109_python_perf.py
  tests/test_4214_flatten_axis_none_nested_union.py
  tests/test_4263_ravel_empty_union.py
Due: disallow-caps, require-test-name-identifier

Fix out-of-bounds write in Cupy.repeat() with trailing zeros
  src/awkward/_nplikes/cupy.py
Due: disallow-caps

docs: require the experimental mark when introducing new public APIs (#4299)
  CONTRIBUTING.md
  docs/reference/toctree.txt
  pyproject.toml
Due: disallow-caps

ci: pin numpy below 2.5 in the GPU test environment
  .github/actions/setup-gpu-env/action.yml
  requirements-test-gpu.txt
Due: disallow-caps

ci: pin numpy below 2.5 in the GPU test environment (#4313)
  .github/actions/setup-gpu-env/action.yml
  requirements-test-gpu.txt
Due: disallow-caps

test: exclude layouts affected by #4305 from the parquet roundtrip tests (#4306)
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

test: widen `has_issue_4264` to lists under untrimmed regular content (#4309)
  tests/properties/operations/known_issues.py
Due: disallow-caps, require-test-name-identifier

Add a no-raise property-test module for ak.any
  tests/properties/operations/__init__.py
  tests/properties/operations/test_any.py
Due: disallow-caps, require-test-name-identifier

docs: render experimental API notices
  docs/_autoapi_templates/python/function.rst
  docs/_autoapi_templates/python/method.rst
  docs/_autoapi_templates/python/property.rst
  docs/conf.py
Due: none

Add known-issue predicate for #4316 to the Arrow roundtrip comparison
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

Widen _has_issue_4228 to union option children longer than their used length
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

fix: cudf mask paths in _to_cudf
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  tests-cuda/test_3946_to_cudf_extended.py
Due: disallow-caps

fix: enforce the plain-function contract in @experimental
  src/awkward/_experimental.py
  tests/test_4319_experimental_placement.py
Due: disallow-caps, require-test-name-identifier

add cudf gpu test
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
  tests-cuda/test_3946_from_cudf.py
Due: disallow-caps
