Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

add tests
  tests/test_4250_numba_native_strings.py
Due: disallow-caps, require-test-name-identifier

set the one-dimensional shape and stride explicitly
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

fix integer-address pointer reconstruction
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

add tests
  tests/test_4251_numba_intaddr_pointer_reconstruction.py
Due: disallow-caps, require-test-name-identifier

remove unicode test that needs another pr
  tests/test_4251_numba_intaddr_pointer_reconstruction.py
Due: disallow-caps, require-test-name-identifier

fix test
  tests/test_4251_numba_intaddr_pointer_reconstruction.py
Due: disallow-caps, require-test-name-identifier

Stop requiring future annotations
  pyproject.toml
Due: disallow-caps

fix: Fix Numba lowering for `ArrayBuilder.append()` with Unicode strings (#4249)
  src/awkward/_connect/numba/builder.py
  tests/test_4249_numba_string_lowering.py
Due: disallow-caps, require-test-name-identifier

add invalid-UTF-8 tests
  tests/test_4250_numba_native_strings.py
Due: disallow-caps, require-test-name-identifier

address review comments
  src/awkward/_reducers.py
  src/awkward/operations/ak_moment.py
  tests/test_4232_stats_branch_coverage.py
Due: disallow-caps, require-test-name-identifier

chore: stop requiring `from __future__ import annotations` (#4253)
  pyproject.toml
Due: disallow-caps

change ValueError branches with UnicodeDecodeError for consistency with Python's decoder
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

feat: overflow-safe & numerically-stable ak.var/std/moment/mean/covar/corr via fused two-pass sum-of-squares/powers reducers (#4232)
  awkward-cpp/src/cpu-kernels/awkward_reduce_sum.cpp
  awkward-cpp/src/cpu-kernels/awkward_reduce_sumofpowers.cpp
  awkward-cpp/src/cpu-kernels/awkward_reduce_sumofsquares.cpp
  kernel-specification.yml
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_connect/jax/reducers.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_reducers.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_sumofpowers.py
  src/awkward/operations/ak_sumofsquares.py
  src/awkward/operations/ak_var.py
  tests-cuda/test_4232_cuda_sumofpowers_map.py
  tests-cuda/test_4232_cuda_var_sumofsquares.py
  tests/test_4232_moment_sumofpowers.py
  tests/test_4232_stats_branch_coverage.py
  tests/test_4232_var_sumofsquares_overflow.py
Due: disallow-caps, require-test-name-identifier

revert
  src/awkward/_connect/numba/layout.py
  tests/test_4250_numba_native_strings.py
Due: disallow-caps, require-test-name-identifier

perf: Implement native string lowering for Numba layouts and fix silent data corruption (#4250)
  src/awkward/_connect/numba/layout.py
  tests/test_4250_numba_native_strings.py
Due: disallow-caps, require-test-name-identifier

centered sum of squares
  kernel-specification.yml
  src/awkward/_reducers.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_centered_sumofsquares.py
  src/awkward/operations/ak_var.py
  tests/test_4232_var_centered_sumofsquares.py
Due: disallow-caps, require-test-name-identifier

add kernel
  awkward-cpp/src/cpu-kernels/awkward_reduce_centered_sumofsquares.cpp
Due: disallow-caps

alignment holds only for the innermost axis
  src/awkward/_reducers.py
  src/awkward/operations/ak_var.py
  tests/test_4232_var_centered_sumofsquares.py
Due: disallow-caps, require-test-name-identifier

cuda part
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_reducers.py
  src/awkward/operations/ak_var.py
  tests-cuda/test_4232_cuda_var_centered_sumofsquares.py
Due: disallow-caps

rename tests
  tests-cuda/test_4256_cuda_var_centered_sumofsquares.py
  tests/test_4256_var_centered_sumofsquares.py
Due: disallow-caps, require-test-name-identifier

fix linear fit overflow
  src/awkward/operations/ak_linear_fit.py
Due: disallow-caps

add tests
  tests-cuda/test_4257_linear_fit_overflow.py
  tests/test_4257_linear_fit_overflow.py
Due: disallow-caps, require-test-name-identifier

awkward 2.12.0 and awkward-cpp 55
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

docs: add 2.12 to the version switcher
  docs/switcher.json
Due: none

fix tests
  tests-cuda/test_4256_cuda_var_centered_sumofsquares.py
Due: disallow-caps

cuda part implemented
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  tests-cuda/test_cuda_nonlocal_reduce.py
Due: disallow-caps

test: add no-raise property tests for ak.flatten and ak.all
  .pre-commit-config.yaml
  tests/properties/operations/__init__.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_all.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/util.py
Due: disallow-caps, require-test-name-identifier

the test should pass now
  tests-cuda/test_3749_cuda_backend_sort.py
Due: disallow-caps

fix it
  tests-cuda/test_3749_cuda_backend_sort.py
Due: disallow-caps

test: skip reducers on options in untrimmed regular content (#4264)
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_all.py
Due: disallow-caps, require-test-name-identifier

test: skip float128 leaves too (has_issue_4259)
  tests/properties/operations/known_issues.py
Due: disallow-caps, require-test-name-identifier

test: drop the float16-only qualifier from has_issue_4259's link
  tests/properties/operations/known_issues.py
Due: disallow-caps, require-test-name-identifier

test: skip complex256 leaves too (has_issue_4259)
  tests/properties/operations/known_issues.py
Due: disallow-caps, require-test-name-identifier

remove dead kernels
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  tests-cuda/test_cuda_nonlocal_reduce.py
Due: disallow-caps

chore: split generated release notes into finer categories
  .github/release.yml
Due: disallow-caps

chore: drop the over-broad files override on the zizmor hook
  .pre-commit-config.yaml
Due: none

cleanup
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cu
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  studies/tests-and-kernels-map/tests_to_kernels.json
Due: disallow-caps

chore: use scikit-build-core 1.0 for awkward-cpp
  CONTRIBUTING.md
  awkward-cpp/pyproject.toml
  header-only/examples/pybind11/pyproject.toml
Due: disallow-caps

Update awkward-cpp/pyproject.toml
  awkward-cpp/pyproject.toml
Due: disallow-caps

address issue 4259
  src/awkward/contents/numpyarray.py
  tests-cuda/test_4259_cuda_float16_reducers.py
  tests/test_4259_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier
