Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

docs: 3.14 is supported (#3717)
  README.md
Due: disallow-caps

fix: typestr respects now limit_cols for .show and _repr_mimebundle_ (#3712)
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

chore: pytest log_level is better than log_cli_level
  pyproject.toml
Due: disallow-caps

chore: pytest log_level is better than log_cli_level (#3719)
  pyproject.toml
Due: disallow-caps

Only use one version of macOS
  .github/workflows/build-wheels.yml
Due: disallow-caps

Use macos-15-intel
  .github/workflows/build-wheels.yml
  .github/workflows/test.yml
Due: disallow-caps

do not pass index into np like function
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

fix record creation with nested dict
  src/awkward/highlevel.py
Due: disallow-caps

fix moment calculation
  src/awkward/operations/ak_moment.py
Due: disallow-caps

docstring
  src/awkward/operations/ak_moment.py
Due: disallow-caps

add examples for atomic-sum with cccl
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum_atomics.ipynb
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum_atomics.py
Due: none

add time performance comparison
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum_atomics.ipynb
Due: none

Align multi-level indices in `to_dataframe()`
  src/awkward/operations/ak_to_dataframe.py
Due: disallow-caps

Update a test
  tests/test_0080_flatpandas_multiindex_rows_and_columns.py
Due: disallow-caps, require-test-name-identifier

Add a test
  tests/test_3694_to_dataframe_align_multindex.py
Due: disallow-caps, require-test-name-identifier

feat: add a playground for cccl studies
  studies/cccl/playground.py
Due: none

feat: add a playground for cccl studies (#3734)
  studies/cccl/playground.py
Due: none

first commit
  studies/cccl/playground.py
Due: none

option to disable virtual caching
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

is not subscriptable, fetch the value from the snapshot instead.
  src/awkward/highlevel.py
Due: disallow-caps

some changes
  studies/cccl/helpers.py
  studies/cccl/playground.py
Due: none

update requirements
  requirements-test-full.txt
Due: disallow-caps

chore: update requirements files for latest possible python versions (#3739)
  requirements-test-full.txt
Due: disallow-caps

Use default arch, test on arm64 linux, reduce python versions
  .github/workflows/test.yml
Due: disallow-caps

use empty string
  .github/workflows/test.yml
Due: disallow-caps

do it properly
  src/awkward/_pickle.py
  src/awkward/forms/form.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

Working CCCL implementation
  studies/cccl/_segment_algorithms.py
  studies/cccl/helpers.py
  studies/cccl/playground.py
Due: none

Added a benchmark
  studies/cccl/benchmark.py
  studies/cccl/playground.py
Due: none

Exclusing warmup run
  studies/cccl/benchmark.py
Due: none

Don't include the time it takes to move data to the GPU.
  studies/cccl/_segment_algorithms.py
  studies/cccl/playground.py
Due: none

More fixes
  studies/cccl/benchmark.py
Due: none

Improve dispatch overhead in helpers.py
  studies/cccl/helpers.py
Due: none

More elimination of overheads in helpers.py
  studies/cccl/helpers.py
Due: none

More optimizations in helpers.py
  studies/cccl/helpers.py
Due: none

Elminate get overhead.
  studies/cccl/helpers.py
Due: none

Fix a bug where we forgot to copy offsets.
  studies/cccl/helpers.py
Due: none

Add some profiling annotations
  studies/cccl/_segment_algorithms.py
  studies/cccl/benchmark.py
  studies/cccl/helpers.py
Due: none

Don't use segmented_reduce
  studies/cccl/_segment_algorithms.py
Due: none

Eliminate segmented_reduce
  studies/cccl/helpers.py
Due: none

Add profiling script
  studies/cccl/profile_cccl.py
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
