Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: add `highlevel`, `behavior` arguments to composite reducers
  src/awkward/_layout.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

test: initial, simple test
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

test: check two-arg functions
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

chore: set pyupgrade version
  .pre-commit-config.yaml
Due: none

chore: set pyupgrade version (#2756)
  .pre-commit-config.yaml
Due: none

fix: add `highlevel`, `behavior` arguments to composite reducers (#2754)
  src/awkward/_layout.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_var.py
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

fix: set `__class__` if `layout` OR `behavior` change
  src/awkward/highlevel.py
Due: disallow-caps

fix: export `nan` variants
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

fix: change `__class__` under various circumstances
  src/awkward/highlevel.py
Due: disallow-caps

fix: set private attributes first
  src/awkward/highlevel.py
Due: disallow-caps

refactor: just use `._update_class`
  src/awkward/highlevel.py
Due: disallow-caps

test: add trivial test
  tests/test_2759_update_class_consistently.py
Due: disallow-caps, require-test-name-identifier

fix: export `nan` variants (#2758)
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

fix: correct pickling
  src/awkward/highlevel.py
Due: disallow-caps

fix: update `__class__` for both `layout` and `behavior` consistently (#2759)
  src/awkward/highlevel.py
  tests/test_2759_update_class_consistently.py
Due: disallow-caps, require-test-name-identifier

refactor: split nplike and behavior searches into many and single object lookups
  src/awkward/_backends/dispatch.py
  src/awkward/_behavior.py
  src/awkward/_broadcasting.py
  src/awkward/_connect/numpy.py
  src/awkward/_errors.py
  src/awkward/_layout.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_slicing.py
  src/awkward/contents/content.py
  src/awkward/index.py
Due: disallow-caps

refactor: drop `behavior` from broadcasting
  src/awkward/_broadcasting.py
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_transform.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
Due: disallow-caps

feat: make broadcasting preserve behaviors
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_broadcast_fields.py
Due: disallow-caps

test: fix tests for new semantics
  tests/test_1415_behaviour_forwarding.py
Due: disallow-caps, require-test-name-identifier

refactor: drop `behavior` broadcasting (#2761)
  src/awkward/_backends/dispatch.py
  src/awkward/_behavior.py
  src/awkward/_broadcasting.py
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/_errors.py
  src/awkward/_layout.py
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_slicing.py
  src/awkward/contents/content.py
  src/awkward/index.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_broadcast_fields.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_transform.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
  tests/test_1415_behaviour_forwarding.py
Due: disallow-caps, require-test-name-identifier

fix: introduce policy for dropping lengths
  src/awkward/_nplikes/typetracer.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/typetracer.py
Due: disallow-caps

test: check out length erasure
  src/awkward/contents/content.py
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_index_in.py
  src/awkward/operations/str/akstr_is_in.py
  tests/test_2764_length_policy.py
Due: disallow-caps, require-test-name-identifier

test: update/add tests
  tests/test_1110_type_tracer_1.py
  tests/test_1703_fill_none_typetracer.py
  tests/test_2115_fix_up_typetracers.py
  tests/test_2150_typetracer_high_level_ufunc.py
  tests/test_2181_with_name_len.py
  tests/test_2229_getitem_range_slice.py
  tests/test_2293_unflatten_typetracer.py
  tests/test_2417_bytemasked_singletons.py
  tests/test_2418_union_broadcast_unknown.py
  tests/test_2495_concatenate_typetracer.py
  tests/test_2560_minimal_listarray.py
  tests/test_2656_unflatten_axis_typetracer.py
Due: disallow-caps, require-test-name-identifier

feat: layout builder `to_buffer` method
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

feat: add helper funtions in layout builder
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

fix: remove helper function and fix braces
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

feat: add `to_buffer` and helper methods in layout builder (#2766)
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

refactor: move ufunc preparation to nplike
  .pre-commit-config.yaml
  src/awkward/_backends/backend.py
  src/awkward/_backends/jax.py
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_slicing.py
Due: disallow-caps

chore: appease linter
  CONTRIBUTING.md
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
  src/awkward/operations/ak_copy.py
  tests/test_1762_jax_behavior_support.py
Due: disallow-caps, require-test-name-identifier

fix: support all-None index
  awkward-cpp/src/cpu-kernels/awkward_Index_nones_as_index.cpp
Due: disallow-caps

refactor: clarify logic
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

test: test argsort cases
  tests/test_2769_argsort_all_none.py
Due: disallow-caps, require-test-name-identifier

Revert "refactor: clarify logic"
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

fix: drop option where necessary
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

docs: improve comment
  awkward-cpp/src/cpu-kernels/awkward_Index_nones_as_index.cpp
Due: disallow-caps

fix: update demonstration kernel
  kernel-specification.yml
Due: disallow-caps

feat!: move ufunc preparation to nplike (#2767)
  .pre-commit-config.yaml
  src/awkward/_backends/backend.py
  src/awkward/_backends/jax.py
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_slicing.py
Due: disallow-caps

fix: support all-`None` index in `awkward_Index_nones_as_index.cpp` (#2769)
  awkward-cpp/src/cpu-kernels/awkward_Index_nones_as_index.cpp
  kernel-specification.yml
  src/awkward/contents/indexedoptionarray.py
  tests/test_2769_argsort_all_none.py
Due: disallow-caps, require-test-name-identifier

refactor: make `to_layout` support finer granularity
  src/awkward/_connect/numpy.py
  src/awkward/_layout.py
  src/awkward/_slicing.py
  src/awkward/contents/content.py
  src/awkward/operations/ak_is_tuple.py
  src/awkward/operations/ak_to_feather.py
  src/awkward/operations/ak_to_layout.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_rdataframe.py
  src/awkward/operations/ak_transform.py
Due: disallow-caps
