Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

filter also for new (v0.7.0) LinearizeTracer type
  src/awkward/_kernels.py
Due: disallow-caps

fix: filter also for new (v0.7.0) LinearizeTracer type (#3586)
  src/awkward/_kernels.py
Due: disallow-caps

Try pyarrow 15
  requirements-test-minimal.txt
Due: disallow-caps

Added extra funding badges
  README.md
Due: disallow-caps

Back to pyarrow 14, but install pandas
  requirements-test-minimal.txt
Due: disallow-caps

rename test
  tests/test_3563_single_argument_ak_where_with_missing_values.py
Due: disallow-caps, require-test-name-identifier

docs: add missing funding badges (#3588)
  README.md
Due: disallow-caps

chore(ci): bump minimal pyarrow version being tested (#3584)
  requirements-test-minimal.txt
  src/awkward/operations/str/__init__.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

add copy kwarg to __array__
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/contents/content.py
  src/awkward/highlevel.py
Due: disallow-caps

numpy 1 doesn't support copy in asarray
  src/awkward/_connect/numpy.py
Due: disallow-caps

fix typo
  src/awkward/_connect/numpy.py
Due: disallow-caps

chore: prepare for 3.14 wheels
  awkward-cpp/pyproject.toml
Due: disallow-caps

Update pyproject.toml
  pyproject.toml
Due: disallow-caps

Update test.yml
  .github/workflows/test.yml
Due: disallow-caps

Support subintepreters
  awkward-cpp/src/python/_ext.cpp
Due: disallow-caps

Update requirements-test-full.txt
  requirements-test-full.txt
Due: disallow-caps

version 2.8.6 and awkward_cpp 48
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

directly go to Index64
  pyproject.toml
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

untouch stuff
  .gitignore
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  awkward-cpp/src/python/_ext.cpp
  pyproject.toml
Due: disallow-caps

untouch stuff
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  awkward-cpp/src/python/_ext.cpp
  pyproject.toml
Due: disallow-caps

move import inside
  src/awkward/_connect/cuda/combinations/cupy_combinations.py
Due: disallow-caps

don't run kernel if numpy array
  .gitignore
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

forgetting how to check `isa` in Python
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

Update .gitignore
  .gitignore
Due: disallow-caps

fix merge union of records
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

more concise version
  src/awkward/_connect/numpy.py
Due: disallow-caps

properly handle virtual array in asarray
  src/awkward/_nplikes/array_module.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

pre-commit fixes
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

add tests
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

fix the unknown length tests too
  tests/test_3475_virtualarray_unknown_length.py
Due: disallow-caps, require-test-name-identifier

fix: typo
  requirements-test-full.txt
Due: disallow-caps

docs: remove jax references
  docs/_toc.yml
  docs/redirects-user-guide.json
  docs/redirects.json
  docs/reference/toctree.txt
  docs/requirements.txt
  docs/user-guide/how-to-specialize-differentiate-jax.md
Due: none

remove incorrect .data access
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

fix: restore to_jax and from_jax
  docs/redirects.json
  docs/reference/toctree.txt
  src/awkward/__init__.py
  src/awkward/_backends/jax.py
  src/awkward/_kernels.py
  src/awkward/_nplikes/jax.py
  src/awkward/contents/numpyarray.py
  src/awkward/jax.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_to_jax.py
  tests/test_1399_from_jax.py
  tests/test_1399_to_jax.py
Due: disallow-caps, require-test-name-identifier

fix: add jax in full tests
  requirements-test-full.txt
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
