Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

feat: add `to_backend` to `ak.record.Record`
  src/awkward/record.py
Due: disallow-caps

test: add simple tests
  tests/test_2355_to_backend_record.py
Due: disallow-caps, require-test-name-identifier

test: add simple test!
  tests/test_2354_ufunc_same_backend.py
Due: disallow-caps, require-test-name-identifier

fix: convert ufunc arguments to same backend (#2354)
  src/awkward/_connect/numpy.py
  tests/test_2354_ufunc_same_backend.py
Due: disallow-caps, require-test-name-identifier

DOC: update mybinder link to example notebook
  docs/getting-started/community-tutorials.md
Due: none

DOC: add import statement
  README.md
Due: disallow-caps

docs: add import statement (#2358)
  README.md
Due: disallow-caps

fix: make `from_iter` require iterables
  src/awkward/operations/ak_from_iter.py
Due: disallow-caps

docs: update mybinder link to example notebook (#2357)
  docs/getting-started/community-tutorials.md
Due: none

feat: add `to_backend` to `ak.record.Record` (#2355)
  src/awkward/record.py
  tests/test_2355_to_backend_record.py
Due: disallow-caps, require-test-name-identifier

wip: simplify readability
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: move continuation
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: simplify logic for unions
  src/awkward/_broadcasting.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

refactor: move continuation to its own method
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: create list of content-only inputs
  src/awkward/_broadcasting.py
Due: disallow-caps

chore: revert typetracer
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

refactor: avoid unnecessary list
  src/awkward/_broadcasting.py
Due: disallow-caps

docs: fix extra for pyodide
  docs/requirements.txt
Due: none

chore: appease pylint
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: support n-d sequences in typetracer.asarray
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

test: add simple tests
  src/awkward/_nplikes/typetracer.py
  tests/test_2361_typetracer_asarray_nd.py
Due: disallow-caps, require-test-name-identifier

refactor: improve comments
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

docs: fix extra for pyodide (#2360)
  docs/requirements.txt
Due: none

fix: support N-d sequences in `TypeTracer.asarray` (#2361)
  src/awkward/_nplikes/typetracer.py
  tests/test_2361_typetracer_asarray_nd.py
Due: disallow-caps, require-test-name-identifier

fix: make `from_iter` require iterables! (#2353)
  src/awkward/operations/ak_from_iter.py
Due: disallow-caps

refactor: improve broadcasting logic readability (#2359)
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: avoid stack overflow with std::unique_ptr linked list
  header-only/growable-buffer/awkward/GrowableBuffer.h
Due: disallow-caps

feat: add type equality `is_equal_to` member
  src/awkward/types/arraytype.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

refactor: rename `parameters` to `all_parameters`
  src/awkward/types/arraytype.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

refactor: wrap exceptions at catch time
  pyproject.toml
Due: disallow-caps

refactor: wrap exceptions at catch time
  .flake8
Due: disallow-caps

refactor: wrap exceptions at catch time
  .pre-commit-config.yaml
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_errors.py
  src/awkward/highlevel.py
Due: disallow-caps

update URL
  src/awkward/_errors.py
Due: disallow-caps

fix: avoid stack overflow with std::unique_ptr linked list (#2366)
  header-only/growable-buffer/awkward/GrowableBuffer.h
Due: disallow-caps

refactor: remove dead code
  src/awkward/_errors.py
Due: disallow-caps

feat: make error message postfix
  src/awkward/_errors.py
Due: disallow-caps

fix: test permutations of union contents
  src/awkward/types/uniontype.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
