Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

awkward version 2.11.0
  pyproject.toml
Due: disallow-caps

docs: add 2.11 to the version switcher
  docs/switcher.json
Due: none

document the attrs that are written to parquet files
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

fix: undo a rejected assignment
  src/awkward/highlevel.py
  tests/test_4212_behavior_validation_rollback.py
Due: disallow-caps, require-test-name-identifier

chore: remove Gitter chat and Stackoverflow links from README
  README.md
Due: disallow-caps

typo
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

feat: write attrs when writing parquet row groups iteratively (#4210)
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

test: add property-based roundtrip test for `to_numpy`/`from_numpy`
  tests/properties/operations/test_to_from_numpy.py
Due: disallow-caps, require-test-name-identifier

docs: add summary lines to 5 math/numeric operation docstrings
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_real.py
  src/awkward/operations/ak_round.py
Due: disallow-caps

docs: reduce Returns: to a noun clause; move narrative to the description. Refs #3980.
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_real.py
Due: disallow-caps

docs: describe the returned object in Returns: lines. Refs #3980.
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_isclose.py
Due: disallow-caps

docs: add summary lines to 11 from_* file/format converter docstrings
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_from_regular.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

docs: describe the returned object in Returns: lines. Refs #3980.
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_regular.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

docs: reduce Returns: to a noun clause; move narrative to the description. Refs #3980.
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

test: add property-based roundtrip test for `to_numpy`/`from_numpy` (#4215)
  tests/properties/operations/test_to_from_numpy.py
Due: disallow-caps, require-test-name-identifier

docs: add summary lines to 5 math/numeric operation docstrings (#4133)
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_real.py
  src/awkward/operations/ak_round.py
Due: disallow-caps

docs: add summary lines to 11 from_* file/format converter docstrings (#4137)
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_from_regular.py
  src/awkward/operations/ak_from_safetensors.py
Due: disallow-caps

test: add property-based roundtrip test for `to_parquet`/`from_parquet`
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

test: cite issues for the parquet roundtrip exclusions
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

test: fix parquet roundtrip test on Linux and Windows CI
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

Update issue template by removing contact links
  .github/ISSUE_TEMPLATE/config.yml
Due: disallow-caps

Update feature request template links
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: disallow-caps

Remove Gitter link from documentation
  docs/conf.py
Due: none

Remove Chat URL from project URLs
  pyproject.toml
Due: disallow-caps

Remove Gitter chat link
  awkward-cpp/pyproject.toml
Due: disallow-caps

test: add property-based roundtrip test for `to_parquet`/`from_parquet` (#4218)
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

chore: remove Gitter chat and StackOverflow links from README (#4213)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  README.md
  awkward-cpp/pyproject.toml
  docs/conf.py
  pyproject.toml
Due: disallow-caps

fix: Record field assignment mutates shared layouts and stale cppyy cache (#4095)
  src/awkward/highlevel.py
  tests/test_4095_highlevel_record.py
Due: disallow-caps, require-test-name-identifier

fix: AwkwardForth VM and libawkward correctness issues (#4105)
  awkward-cpp/include/awkward/forth/ForthMachine.h
  awkward-cpp/src/libawkward/builder/RecordBuilder.cpp
  awkward-cpp/src/libawkward/forth/ForthInputBuffer.cpp
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
  awkward-cpp/src/libawkward/forth/ForthOutputBuffer.cpp
  awkward-cpp/src/libawkward/io/json.cpp
  awkward-cpp/src/libawkward/util.cpp
  tests/test_4105_forth_vm_and_libawkward_fixes.py
Due: disallow-caps, require-test-name-identifier

overflow-safe stats without needless copies
  src/awkward/_layout.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

add test
  tests/test_4223_descriptive_statistics_overflow.py
Due: disallow-caps, require-test-name-identifier

fix lint
  src/awkward/_layout.py
  tests/test_4223_descriptive_statistics_overflow.py
Due: disallow-caps, require-test-name-identifier

docs: add summary lines to 8 misc operation docstrings (#4140)
  src/awkward/operations/ak_backend.py
  src/awkward/operations/ak_copy.py
  src/awkward/operations/ak_materialize.py
  src/awkward/operations/ak_merge_option_of_records.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_transform.py
  src/awkward/operations/ak_type.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

test: add stability roundtrip test for `to_numpy`/`from_numpy`
  tests/properties/operations/test_to_from_numpy.py
Due: disallow-caps, require-test-name-identifier

test: cite issues for the stability test's regular-array exclusion
  tests/properties/operations/test_to_from_numpy.py
Due: disallow-caps, require-test-name-identifier

test: add property-based roundtrip tests for `to_arrow`/`from_arrow`
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

fix: undo an assignment that __awkward_validation__ rejects (#4212)
  src/awkward/highlevel.py
  tests/test_4212_behavior_validation_rollback.py
Due: disallow-caps, require-test-name-identifier

test: add stability roundtrip test for `to_numpy`/`from_numpy` (#4225)
  tests/properties/operations/test_to_from_numpy.py
Due: disallow-caps, require-test-name-identifier

Add a dtype= accumulator to ak.sum (overflow-safe, copy-free integer sums)
  awkward-cpp/src/cpu-kernels/awkward_reduce_sum.cpp
  kernel-specification.yml
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_reducers.py
  src/awkward/operations/ak_sum.py
Due: disallow-caps

docs: move description text out of Examples: sections
  src/awkward/operations/ak_to_buffers.py
  src/awkward/operations/ak_to_packed.py
  src/awkward/operations/ak_to_regular.py
  src/awkward/operations/ak_to_safetensors.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
