Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Merge remote updates and resolve conflicts in _do.py
  awkward-cpp/src/cpu-kernels/awkward_reduce_count_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_reduce_sum.cpp
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_reducers.py
Due: disallow-caps

windows raises overflow error here
  tests/test_3820_from_buffers_byteorder.py
Due: disallow-caps, require-test-name-identifier

define class within the test
  tests/test_1511_set_attribute.py
Due: disallow-caps, require-test-name-identifier

clean up the implementation
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: add strict= to zip
  dev/generate-tests.py
  noxfile.py
  src/awkward/_behavior.py
  src/awkward/_broadcasting.py
  src/awkward/_connect/cling.py
  src/awkward/_connect/hist.py
  src/awkward/_connect/jax/trees.py
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/pyarrow/table_conv.py
  src/awkward/_kernels.py
  src/awkward/_namedaxis.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/_slicing.py
  src/awkward/contents/content.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/forms/form.py
  src/awkward/forms/recordform.py
  src/awkward/forms/unionform.py
  src/awkward/operations/ak_almost_equal.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_broadcast_fields.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_enforce_type.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_to_dataframe.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_unzip.py
  src/awkward/record.py
  src/awkward/types/recordtype.py
  src/awkward/types/uniontype.py
  tests-cuda/test_3749_cuda_backend_sort.py
  tests/test_0025_record_array.py
  tests/test_0089_numpy_functions.py
  tests/test_0111_jagged_and_masked_getitem.py
  tests/test_3464_jax_reducers.py
Due: disallow-caps, require-test-name-identifier

chore: remove Python < 3.6 compat line
  src/awkward/types/_awkward_datashape_parser.py
Due: disallow-caps

ci: remove 3.9
  .github/workflows/coverage.yml
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
  README.md
  awkward-cpp/pyproject.toml
Due: disallow-caps

fix: update min numpy version to 1.21.3, pandas 1.3.4
  awkward-cpp/pyproject.toml
  pyproject.toml
  requirements-test-minimal.txt
Due: disallow-caps

docs: clarify axis parameter supports named axes using strings
  src/awkward/operations/ak_moment.py
Due: disallow-caps

docs: clarify axis parameter supports named axes in ak.sum
  src/awkward/operations/ak_sum.py
Due: disallow-caps

docs: clarify axis parameter supports named axes across reducers
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

add a version constraint for numba-cuda package
  requirements-test-gpu.txt
Due: disallow-caps

fix ROOT implicit multi-threading in tests
  tests/test_1473_from_rdataframe.py
  tests/test_1508_awkward_from_rdataframe.py
  tests/test_1613_generator_tolayout_records.py
  tests/test_1620_layout_builders.py
  tests/test_1625_multiple_columns_from_rdataframe.py
  tests/test_1781_rdataframe_snapshot.py
  tests/test_1829_to_from_rdataframe_bool.py
  tests/test_1960_awkward_from_rdataframe.py
  tests/test_2023_from_rdataframe.py
  tests/test_2202_filter_multiple_columns_from_rdataframe.py
  tests/test_2234_from_rdataframe_keep_order.py
  tests/test_2258_from_rdataframe_with_arguments.py
  tests/test_3375_add_rdf_column.py
Due: disallow-caps, require-test-name-identifier

chore: update README python support badge
  README.md
Due: disallow-caps

move array definitions inside test functions
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

docs: clarify axis docstrings and reference named-axis guide
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

docs: add automated contributions policy to CONTRIBUTING.md
  CONTRIBUTING.md
Due: disallow-caps

fix: pass the right input type to `awkward_NumpyArray_subrange_equal*` kernels (#3818)
  src/awkward/contents/numpyarray.py
Due: disallow-caps

skip the tests with cudf until it supports numba-cuda>=0.23.0
  .github/workflows/test.yml
Due: disallow-caps

fix the comment
  .github/workflows/test.yml
Due: disallow-caps

skip all virtual arrays tests for now
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

Apply suggestion from @ianna
  CONTRIBUTING.md
Due: disallow-caps

Apply suggestions from code review
  CONTRIBUTING.md
Due: disallow-caps

Update automated contributions policy in CONTRIBUTING.md
  CONTRIBUTING.md
Due: disallow-caps

Apply suggestion from @henryiii
  CONTRIBUTING.md
Due: disallow-caps

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: disallow-caps

1. initialize all the indices with -1 instead of min. 2. construct offsets from starts instead of parents.
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_reducers.py
Due: disallow-caps

use a generalized dtype for indices
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix the call for the wrong kernel in _reducers.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_reducers.py
Due: disallow-caps

docs: document named-axis support for axis in high-level operations
  docs/user-guide/axis.md
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_fill_none.py
  src/awkward/operations/ak_firsts.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_num.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

docs: remove draft axis user guide from this PR
  docs/user-guide/axis.md
Due: none

Pass 'starts' to the argmax kernel. Apply that both for CPU-kernels and cuda-kernels.
  awkward-cpp/src/cpu-kernels/awkward_reduce_argmax.cpp
  kernel-specification.yml
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_reducers.py
Due: disallow-caps

add pandas requirement for tests (version is the same as in requirements.txt)
  .github/workflows/test.yml
Due: disallow-caps

chore: move array definitions inside test functions in `test_1490_jax_reducers_combinations.py` (#3829)
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
