Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

refactor: ensure we raise `AssertionError`
  src/awkward/highlevel.py
Due: disallow-caps

test: add missing test sample
  tests/samples/awkward1-partitioned-numpyarray.pkl
Due: none

chore: note files that support TID251
  pyproject.toml
Due: disallow-caps

feat: export error classes
  src/awkward/__init__.py
  src/awkward/_do.py
  src/awkward/_errors.py
  src/awkward/_layout.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/errors.py
  src/awkward/forms/recordform.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_fill_none.py
  src/awkward/operations/ak_firsts.py
  src/awkward/operations/ak_from_regular.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_merge_option_of_records.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_num.py
  src/awkward/operations/ak_singletons.py
  src/awkward/operations/ak_to_regular.py
Due: disallow-caps

test: fix test
  tests/test_2120_missing_field_error.py
Due: disallow-caps, require-test-name-identifier

remove parameters from EmptyArray form
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

ci: use header-only path selector
  .github/workflows/header-only-test.yml
Due: disallow-caps

feat: export error classes (#2613)
  pyproject.toml
  src/awkward/__init__.py
  src/awkward/_do.py
  src/awkward/_errors.py
  src/awkward/_layout.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/errors.py
  src/awkward/forms/recordform.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_fill_none.py
  src/awkward/operations/ak_firsts.py
  src/awkward/operations/ak_from_regular.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_merge_option_of_records.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_num.py
  src/awkward/operations/ak_singletons.py
  src/awkward/operations/ak_to_regular.py
  tests/test_2120_missing_field_error.py
Due: disallow-caps, require-test-name-identifier

fix: adjust for numexpr 2.8.5, which hid getContext's frame_depth argument
  src/awkward/_connect/numexpr.py
Due: disallow-caps

Fix PLC0105 and PLW0127 issues.
  src/awkward/_backends/backend.py
  src/awkward/contents/content.py
  tests/test_0014_finish_up_getitem.py
  tests/test_0023_regular_array.py
Due: disallow-caps, require-test-name-identifier

fix: adjust for numexpr 2.8.5, which hid getContext's frame_depth argument (#2617)
  src/awkward/_connect/numexpr.py
Due: disallow-caps

feat: unpickle arrays made in Awkward v1 (as v2). (#2604)
  pyproject.toml
  src/awkward/__init__.py
  src/awkward/_ext.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/highlevel.py
  tests/samples/awkward1-bytemaskedarray.pkl
  tests/samples/awkward1-emptyarray.pkl
  tests/samples/awkward1-indexedoptionarray.pkl
  tests/samples/awkward1-listoffsetarray.pkl
  tests/samples/awkward1-numpyarray.pkl
  tests/samples/awkward1-partitioned-numpyarray.pkl
  tests/samples/awkward1-recordarray-tuple.pkl
  tests/samples/awkward1-recordarray.pkl
  tests/samples/awkward1-regulararray.pkl
  tests/samples/awkward1-strings.pkl
  tests/samples/awkward1-unionarray.pkl
  tests/samples/awkward1-unmaskedarray.pkl
  tests/test_2591_nan_to_num.py
  tests/test_2604_read_awkward1_pickles.py
Due: disallow-caps, require-test-name-identifier

First function is working: is_alnum.
  pyproject.toml
  src/awkward/operations/__init__.py
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_alnum.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_alpha
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_alpha.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_decimal
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_decimal.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_lower
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_alnum.py
  src/awkward/operations/str/ak_is_alpha.py
  src/awkward/operations/str/ak_is_lower.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_digit
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_digit.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_numeric
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_numeric.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_printable
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_printable.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_space
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_space.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_upper
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_alnum.py
  src/awkward/operations/str/ak_is_alpha.py
  src/awkward/operations/str/ak_is_decimal.py
  src/awkward/operations/str/ak_is_digit.py
  src/awkward/operations/str/ak_is_lower.py
  src/awkward/operations/str/ak_is_printable.py
  src/awkward/operations/str/ak_is_space.py
  src/awkward/operations/str/ak_is_upper.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_title
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_decimal.py
  src/awkward/operations/str/ak_is_lower.py
  src/awkward/operations/str/ak_is_numeric.py
  src/awkward/operations/str/ak_is_printable.py
  src/awkward/operations/str/ak_is_space.py
  src/awkward/operations/str/ak_is_title.py
  src/awkward/operations/str/ak_is_upper.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

is_ascii; done with string predicates
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_is_alnum.py
  src/awkward/operations/str/ak_is_alpha.py
  src/awkward/operations/str/ak_is_ascii.py
  src/awkward/operations/str/ak_is_decimal.py
  src/awkward/operations/str/ak_is_digit.py
  src/awkward/operations/str/ak_is_lower.py
  src/awkward/operations/str/ak_is_numeric.py
  src/awkward/operations/str/ak_is_printable.py
  src/awkward/operations/str/ak_is_title.py
  src/awkward/operations/str/ak_is_upper.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

capitalize
  pyproject.toml
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_capitalize.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

lower
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_length.py
  src/awkward/operations/str/ak_lower.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

upper
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_upper.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

upper
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_swapcase.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

title
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_title.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

T -> T operations on bytestrings should return bytestrings.
  src/awkward/operations/str/__init__.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

repeat (the first that needs a broadcastable argument)
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_repeat.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

reverse (because it's easy)
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_reverse.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

replace_slice
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_repeat.py
  src/awkward/operations/str/ak_replace_slice.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

replace_substring
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_replace_slice.py
  src/awkward/operations/str/ak_replace_substring.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

Also test 'max_replacements' in replace_substring.
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

replace_substring_regex: done with string transforms
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_replace_substring_regex.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

center
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_center.py
  src/awkward/operations/str/ak_replace_slice.py
  src/awkward/operations/str/ak_replace_substring.py
  src/awkward/operations/str/ak_replace_substring_regex.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

lpad and rpad
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/ak_lpad.py
  src/awkward/operations/str/ak_rpad.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
