Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: add type error
  src/awkward/_connect/numba/arrayview_cuda.py
Due: disallow-caps

add test
  tests-cuda/test_3115_array_typed_cuda_jit.py
Due: disallow-caps

remove unused variable
  tests-cuda/test_3115_array_typed_cuda_jit.py
Due: disallow-caps

Various fixes to table conversions
  src/awkward/_connect/pyarrow.py
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

Ruff formatting
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

chore: trying atomics and tree reduction for CUDA reducer kernels
  studies/cuda-kernels/reducers/awkward_reduce_sum_atomics.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_tree_reduction.py
Due: none

chore: add prod, min, max
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_atomics.py
Due: none

fix: some fixes
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_tree_reduction.py
Due: none

chore: pin pyarrow to 16.0.0
  requirements-test-full.txt
Due: disallow-caps

chore: pin pyarrow to 16.0.0 (#3124)
  requirements-test-full.txt
Due: disallow-caps

Improvements to pyarrow_table_conv but still issues
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

Fixing bug in array_with_replacement_type
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

fix: generate array view (#3115)
  src/awkward/_connect/numba/arrayview_cuda.py
  tests-cuda/test_3115_array_typed_cuda_jit.py
Due: disallow-caps

fix: handle block boundaries
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_tree_reduction.py
Due: none

chore: add argmin and argmax
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_argmin_tree_reduction.py
Due: none

chore: add sum and max complex
  studies/cuda-kernels/reducers/awkward_reduce_max_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_complex_tree_reduction.py
Due: none

ci: Add GitHub artifact attestations to package distribution
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
Due: disallow-caps

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Adding unit testing, fixing a couple bugs
  src/awkward/_connect/pyarrow_table_conv.py
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

ci: Add GitHub artifact attestations to package distribution (#3126)
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: disallow-caps

chore: add sum and prod bool
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_argmin_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_complex_tree_reduction.py
Due: none

chore: add count kernels
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_argmin_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_count_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_countnonzero_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_bool_tree_reduction.py
Due: none

chore: add sum int32 and int64 bool kernels
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int32_bool_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int64_bool_64_tree_reduction.py
Due: none

Adding hooks to parquet read & write
  src/awkward/_connect/pyarrow_table_conv.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

Ruff-fmt fixes
  src/awkward/_connect/pyarrow_table_conv.py
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

Making progress
  src/awkward/_connect/pyarrow_table_conv.py
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

chore: add sum and prod complex
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_argmin_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_count_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_countnonzero_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int32_bool_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int64_bool_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_tree_reduction.py
Due: none

Fixing another bug: convert each row group when writing
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

pyarrow_table_conv -- change our new table metadata key name
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

Some stylistic improvements
  src/awkward/_connect/pyarrow_table_conv.py
Due: disallow-caps

Commented-out a messy assertion in test_2772
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

Moving awkward._connect.pyarrow into a package
  src/awkward/_connect/pyarrow/__init__.py
  src/awkward/_connect/pyarrow/table_conv.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_2772_parquet_extn_array_metadata.py
Due: disallow-caps, require-test-name-identifier

Fixing Ruffage, this time for sure
  src/awkward/_connect/pyarrow/__init__.py
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/_connect/pyarrow/extn_types.py
  src/awkward/_connect/pyarrow/table_conv.py
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

Fixing unused imports and other Ruffage
  src/awkward/_connect/pyarrow/__init__.py
Due: disallow-caps

Restructuring ._connect.pyarrow package
  src/awkward/_connect/pyarrow/__init__.py
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/_connect/pyarrow/extn_types.py
  src/awkward/_connect/pyarrow/table_conv.py
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

Fixes for old versions of pyarrow
  src/awkward/_connect/pyarrow/table_conv.py
Due: disallow-caps

Small fixes
  src/awkward/_connect/pyarrow/__init__.py
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/_connect/pyarrow/extn_types.py
  src/awkward/_connect/pyarrow/table_conv.py
Due: disallow-caps

fix: use grid-stride looping
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_ranges_carry_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_ranges_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_broadcast_tooffsets.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations_length.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_numvalid.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_spreadadvanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_localindex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_nextparents_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_pad_zero_to_length.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_rearrange_shifted.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_combine.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_nestedfill_tags_index.cu
Due: disallow-caps

feat: add awkward_ListArray_getitem_next_range_carrylength kernel
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_carrylength.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

fix: Header-only fix is_valid for empty Indexed or IndexedOption (#3120)
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_3091-layout-builder-is-valid.cpp
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
