Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: support records and tuples for nested axis!=0 in ak.cartesian
  src/awkward/operations/ak_cartesian.py
Due: disallow-caps

test: ensure reproducer is fixed
  tests/test_2928_nested_cartesian_record.py
Due: disallow-caps, require-test-name-identifier

feat: add more cuda kernels
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_array_advanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_validity.cu
Due: disallow-caps

Finalize deprecations whose time is up and adjust code and tests.
  src/awkward/_connect/pyarrow.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/unionform.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_enforce_type.py
  src/awkward/operations/str/__init__.py
  src/awkward/typetracer.py
  tests/test_0914_types_and_forms.py
  tests/test_2085_empty_if_typetracer.py
  tests/test_2503_deprecate_to_numpyform.py
  tests/test_2518_datetime_units_as_parameter.py
  tests/test_2656_unflatten_axis_typetracer.py
Due: disallow-caps, require-test-name-identifier

fix: let's not introduce new bugs ...
  src/awkward/operations/ak_cartesian.py
  tests/test_2329_cartesian_broadcasting_fixes.py
Due: disallow-caps, require-test-name-identifier

test: only run test for specific Numba version (#2921)
  src/awkward/_connect/pyarrow.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/unionform.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_enforce_type.py
  src/awkward/operations/str/__init__.py
  src/awkward/typetracer.py
  tests/test_0914_types_and_forms.py
  tests/test_2085_empty_if_typetracer.py
  tests/test_2503_deprecate_to_numpyform.py
  tests/test_2518_datetime_units_as_parameter.py
  tests/test_2656_unflatten_axis_typetracer.py
  tests/test_2799_numba_ufunc_resolution.py
Due: disallow-caps, require-test-name-identifier

fix: cartesian nested record (#2929)
  src/awkward/operations/ak_cartesian.py
  tests/test_2329_cartesian_broadcasting_fixes.py
  tests/test_2928_nested_cartesian_record.py
Due: disallow-caps, require-test-name-identifier

feat: add support for non-recursive to_packed
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/record.py
Due: disallow-caps

fix: gradually pack during `unflatten`
  src/awkward/operations/ak_unflatten.py
Due: disallow-caps

test: add simple test
  tests/test_2934_argmin_argmax_bool.py
Due: disallow-caps, require-test-name-identifier

fix: cast bool to int8 for positional reducers
  src/awkward/_reducers.py
Due: disallow-caps

fix: cast `bool_` to `int8` for positional reducers (#2935)
  src/awkward/_reducers.py
  tests/test_2934_argmin_argmax_bool.py
Due: disallow-caps, require-test-name-identifier

feat: generate unit tests for cuda
  dev/generate-tests.py
Due: disallow-caps

feat: add `recursive` flag to `Content.to_packed` (#2933)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/operations/ak_unflatten.py
  src/awkward/record.py
Due: disallow-caps

The next version of awkward-cpp will be 28.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: restore files that generated the type-parser (#2926)
  studies/type-parser-1.5/generated_parser.py
  studies/type-parser-1.5/parser.py
  studies/type-parser-1.5/type-grammar.lark
Due: none

fix: ak.std and ak.var for axis != -1. (#2918)
  src/awkward/operations/ak_var.py
  tests/test_0115_generic_reducer_operation.py
  tests/test_2754_highlevel_behavior_missing.py
  tests/test_2918_fix_var_axis_not_minus_one.py
Due: disallow-caps, require-test-name-identifier

test: add PyPy to the test matrix (#2927)
  .github/workflows/test.yml
  requirements-test-pypy.txt
  tests/test_2757_attrs_metadata.py
Due: disallow-caps, require-test-name-identifier

feat: configure Julia version and required packages (#2896)
  juliapkg.json
  pyproject.toml
Due: disallow-caps

Revert 7ae0ebb5402d5002eb6d9a6103c753f634480015 because of https://github.com/actions/upload-artifact/issues/478
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
Due: disallow-caps

The next release will be 2.5.2.
  pyproject.toml
Due: disallow-caps

ci: missing updates
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
Due: disallow-caps

ci: fix name of artifacts
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

ci: fix name of artifacts in deploy-cpp (#2940)
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
Due: disallow-caps

ci: fix #2940 by removing '*' from the value of 'matrix.build'.
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

fix: prepare for NumPy 2
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

test: don't fail fast (so pypy doesn't stop the tests)
  .github/workflows/test.yml
Due: disallow-caps

make sure that the unit tests (`tests-*`) run
  .github/workflows/test.yml
Due: disallow-caps

test: don't fail fast (so pypy doesn't stop the tests) (#2956)
  .github/workflows/test.yml
Due: disallow-caps

chore: add missing contributors
  .all-contributorsrc
  README.md
Due: disallow-caps

fix: dtypes order
  dev/generate-tests.py
Due: disallow-caps

feat: complete the function
  dev/generate-tests.py
Due: disallow-caps

tests: remove out of bound tests
  dev/generate-tests.py
Due: disallow-caps

refactor: remove data variable
  dev/generate-tests.py
Due: disallow-caps

fix: output values
  dev/generate-tests.py
Due: disallow-caps

tests: generate cpu unit tests and skip cuda tests for now
  dev/generate-tests.py
Due: disallow-caps

refactor: add status to unit-tests
  kernel-test-data.json
Due: disallow-caps

ci: add tests-cpu-kernels-explicit
  .github/workflows/test.yml
  awkward-cpp/.gitignore
  awkward-cpp/pyproject.toml
  cibuildwheel.toml
  noxfile.py
Due: disallow-caps

refactor: change name of tests
  dev/generate-tests.py
Due: disallow-caps
