Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Same error
  src/awkward/operations/ak_to_parquet_dataset.py
  tests/test_2898_to_parquet_dataset.py
Due: disallow-caps, require-test-name-identifier

feat: add to_parquet_row_groups (#2979)
  docs/reference/toctree.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_parquet_row_groups.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

left something in test
  tests/test_2898_to_parquet_dataset.py
Due: disallow-caps, require-test-name-identifier

still concatination error, trying os.path.join
  src/awkward/operations/ak_to_parquet_dataset.py
Due: disallow-caps

Trying os.path.join
  src/awkward/operations/ak_to_parquet_dataset.py
Due: disallow-caps

added exclusive_scan function and add new cuda kernels
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_Index_nones_as_index.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_parents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_carrylen.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_counts.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_and_clip_length_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_local_nextparents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_nonlocal_preparenext.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges_length.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

changed write_metadata arguments...
  src/awkward/operations/ak_to_parquet_dataset.py
Due: disallow-caps

test: remove XFAIL for awkward_ByteMaskedArray_numnull
  tests-cuda/test_1276_cuda_num.py
Due: disallow-caps

feat: add python kernel definition for awkward_sorting_ranges_length
  kernel-specification.yml
Due: disallow-caps

The next version of awkward-cpp will be 29.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: ak.merge_union_of_records error message for cases that can't use axis < 0 (#2995)
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

cibuildwheel@v2.16.5 (forget tj-actions for now)
  .github/workflows/deploy-cpp.yml
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
Due: disallow-caps

ci: now that we're selecting artifacts by pattern, don't put them in separate directories
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

Trying to fix Posixpath error
  src/awkward/operations/ak_to_parquet_dataset.py
Due: disallow-caps

feat: use `cupy.cumsum`
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_getitem_nextcarry.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_getitem_nextcarry_outindex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_reduce_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_reduce_next_nonlocal_nextshifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_reduce_next_nonlocal_nextshifts_fromshifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_Content_getitem_next_missing_jagged_getmaskstartstop.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_Index_nones_as_index.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_flatten_nextcarry.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_getitem_nextcarry.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_getitem_nextcarry_outindex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_index_of_nulls.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_parents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_reduce_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_reduce_next_nonlocal_nextshifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_reduce_next_nonlocal_nextshifts_fromshifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedOptionArray_rpad_and_clip_mask_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_carrylen.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_counts.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_and_clip_length_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_MaskedArray_getitem_next_jagged_project.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_local_nextparents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_nonlocal_preparenext.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_project.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges_length.cu
Due: disallow-caps

test: remove XFAIL
  tests-cuda/test_1276_cuda_transfers.py
Due: disallow-caps

fix: check all kernels for length = 0
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ByteMaskedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_Content_getitem_next_missing_jagged_getmaskstartstop.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_parents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_unique_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_carrylen.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_counts.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_and_clip_length_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_range_spreadadvanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_project.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges_length.cu
Due: disallow-caps

chore: fsspec is now a strict (required) dependency
  pyproject.toml
  src/awkward/_connect/pyarrow.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_json.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_1294_to_and_from_parquet.py
  tests/test_1440_start_v2_to_parquet.py
  tests/test_1453_write_single_records_to_parquet.py
  tests/test_1619_from_parquet_empty_field.py
  tests/test_2646_from_parquet_highlevel.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

feat!: __array__ is no longer allowed on NumpyArray and EmptyArray
  src/awkward/contents/emptyarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

test: update test_2799 for Numba 0.59.0
  tests/test_2799_numba_ufunc_resolution.py
Due: disallow-caps, require-test-name-identifier

fix: failing tests-spec
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_counts.cu
Due: disallow-caps

fix: add missing src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_unique_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_unique_64.cu
Due: disallow-caps

fix: awkward_IndexedArray_numnull_parents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_Content_getitem_next_missing_jagged_getmaskstartstop.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_numnull_parents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_reduce_next_nonlocal_nextshifts_fromshifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_nonlocal_preparenext.cu
Due: disallow-caps

feat: add 2 kernels that use a temp array
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_array_regularize.cu
Due: disallow-caps

fix: use cupy.min instead of atomicMin() in awkward_ListArray_min_range
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_min_range.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
Due: disallow-caps

docs: only bump sphinx versions
  docs/requirements.txt
Due: none

fix: lenstarts = 0 case in awkward_ListArray_min_range
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_min_range.cu
Due: disallow-caps

fix: awkward_ListArray_getitem_jagged_expand
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_expand.cu
Due: disallow-caps

docs: only bump sphinx versions (#2986)
  docs/requirements.txt
Due: none

refactor: remove changes in awkward_rduce_sum
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
Due: disallow-caps

downgrade Windows in the 32-bit test
  .github/workflows/test.yml
Due: disallow-caps

docs: fix eval-rst
  docs/reference/index.md
Due: none

revert Windows downgrade
  .github/workflows/test.yml
Due: disallow-caps

exclude Numba from win32
  requirements-test-full.txt
Due: disallow-caps

test: update test_2799 for Numba 0.59.0 (#2998)
  requirements-test-full.txt
  tests/test_2799_numba_ufunc_resolution.py
Due: disallow-caps, require-test-name-identifier

feat!: __array__ is no longer allowed on NumpyArray and EmptyArray (#2997)
  src/awkward/contents/emptyarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

chore: fsspec is now a strict (required) dependency (#2996)
  pyproject.toml
  src/awkward/_connect/pyarrow.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_json.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_1294_to_and_from_parquet.py
  tests/test_1440_start_v2_to_parquet.py
  tests/test_1453_write_single_records_to_parquet.py
  tests/test_1619_from_parquet_empty_field.py
  tests/test_2646_from_parquet_highlevel.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

The next release will be 2.6.0 (not using hatchling-vcs yet).
  pyproject.toml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
