Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

Add sample data for testing.
  tests/samples/complex-nested.json
Due: none

All old tests pass; now we just need more tests.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

feat: expose simplification from `ak.from_buffers`
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2700_non_simplified_from_buffers.py
Due: disallow-caps, require-test-name-identifier

chore: rename test
  tests/test_2713_from_buffers_allow_noncanonical.py
Due: disallow-caps, require-test-name-identifier

fix: support unknown lengths in NumpyArray
  src/awkward/forms/form.py
  src/awkward/forms/numpyform.py
Due: disallow-caps

refactor: don't handle placeholder arrays in `nplike.frombuffer`
  src/awkward/_nplikes/array_module.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: ensure that slicing enforces typetracer invariant
  src/awkward/_nplikes/placeholder.py
Due: disallow-caps

fix: placeholders are 0-bytes
  src/awkward/_nplikes/placeholder.py
Due: disallow-caps

fix: support unknown lengths in `from_buffers`
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

chore: improve comment
  src/awkward/_nplikes/placeholder.py
Due: disallow-caps

fix: always reshape buffers
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

refactor: appease pylint
  src/awkward/forms/form.py
Due: disallow-caps

test: add simple tests
  tests/test_2714_from_buffers_placeholders.py
Due: disallow-caps, require-test-name-identifier

fix: ensure unions handle placeholders in either branch
  src/awkward/_nplikes/placeholder.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

Rename version -> feather_version.
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Tweaks.
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

feat: expose simplification from `ak.from_buffers` (#2713)
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2713_from_buffers_allow_noncanonical.py
Due: disallow-caps, require-test-name-identifier

fix: support placeholders in `from_buffers` (#2714)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/forms/form.py
  src/awkward/forms/numpyform.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2714_from_buffers_placeholders.py
Due: disallow-caps, require-test-name-identifier

feat: add ak_to_feather and ak_from_feather functions (#2683)
  docs/reference/toctree.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
  tests/test_2683_to_and_from_feather.py
Due: disallow-caps, require-test-name-identifier

The next version will be 2.4.3
  pyproject.toml
Due: disallow-caps

Got rid of the big lookup tables.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

Eliminate duplicates (by accepting only the first instance of an expected key).
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

Remove debugging code.
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

Implemented null-insertion for missing option-type fields.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

Balance push_stack and pop_stack for early return.
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

Is this causing the test failures?
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

fix: support concrete buffers in `TypeTracer.frombuffer`
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

chore: add simple test
  tests/test_2718_frombuffer_typetracer.py
Due: disallow-caps, require-test-name-identifier

It was overrunning the stack, obliterating 'characters_'.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

Added the relevant tests.
  tests/samples/complex-nested.json
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

test: fix test
  tests/test_2181_with_name_len.py
  tests/test_2718_frombuffer_typetracer.py
Due: disallow-caps, require-test-name-identifier

Find SAMPLES_DIR in sdist.
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

feat: add `buffer_key` to `typetracer_with_report`
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
Due: disallow-caps

test: add simple test
  tests/test_2719_typetracer_buffer_key.py
Due: disallow-caps, require-test-name-identifier

fix: label `NumpyArray` data
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

test: fix test
  tests/test_2719_typetracer_buffer_key.py
Due: disallow-caps, require-test-name-identifier

fix: correct ~2
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

feat: add `buffer_key` to `typetracer_with_report` (#2719)
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
  tests/test_2719_typetracer_buffer_key.py
Due: disallow-caps, require-test-name-identifier

fix: rework to use numba typed list
  src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/numba/__init__.py
  src/awkward/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

ci: change role loading
  .github/workflows/docs.yml
Due: disallow-caps
