Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: issue #3118 and #3185 (#3193)
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unionarray.py
  tests/test_2713_from_buffers_allow_noncanonical.py
  tests/test_3118_prevent_exponential_memory_growth_in_unionarray.py
Due: disallow-caps, require-test-name-identifier

fix: change np.integer to numbers.Integral in ak_from_buffers to make it more general
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: remove usage of numbers package
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: change np.integer to numbers.Integral (#3195)
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

remove the part that switches to AppleClang's classic linker
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

chore: the next release will be 2.6.7
  pyproject.toml
Due: disallow-caps

chore: update awkward-cpp version to 37
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

ci: fix incorrect SDist name
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
Due: disallow-caps

ci: be more permissive in the glob for cpp sdists
  .github/workflows/needs-cpp-release.yml
Due: disallow-caps

ci: fix incorrect SDist name (#3201)
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
Due: disallow-caps

fix: first stab at 2881. WIP
  src/awkward/contents/unionarray.py
  src/awkward/operations/ak_concatenate.py
  tests/test_2881_ak_concatenate_fails_on_too_many_nested_arrays.py
Due: disallow-caps, require-test-name-identifier

fix: generalize 'Index.ptr'
  src/awkward/index.py
  tests/test_3206_generalize_index_ptr.py
Due: disallow-caps, require-test-name-identifier

include a test that checks TypeTracer
  tests/test_3206_generalize_index_ptr.py
Due: disallow-caps, require-test-name-identifier

indirect symbols
  indirect_symbols.txt
Due: disallow-caps

New approach: add partial support for 64-bit tags
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_nestedfill_tags_index.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_simplify.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_simplify_one.cpp
  kernel-specification.yml
  src/awkward/contents/unionarray.py
  src/awkward/operations/ak_concatenate.py
  tests/test_2881_ak_concatenate_fails_on_too_many_nested_arrays.py
Due: disallow-caps, require-test-name-identifier

Ordering specializations in kernel-specification.yml
  kernel-specification.yml
Due: disallow-caps

UnionArray.simplify length tests moved.
  src/awkward/contents/unionarray.py
  src/awkward/operations/ak_concatenate.py
Due: disallow-caps

enable tests
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
  tests-cuda/test_3162_block_boundary_reducers.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

Reverting change to batch index in ak_concatenate
  src/awkward/operations/ak_concatenate.py
Due: disallow-caps

fix: 2881 akconcatenate fails trying to concatenate too many nested arrays (#3207)
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_nestedfill_tags_index.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_simplify.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_simplify_one.cpp
  kernel-specification.yml
  src/awkward/contents/unionarray.py
  src/awkward/operations/ak_concatenate.py
  tests/test_2881_ak_concatenate_fails_on_too_many_nested_arrays.py
Due: disallow-caps, require-test-name-identifier

Adjusted checks in case num_items is negative
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
Due: disallow-caps

Added tests
  tests/test_3209_awkwardforth_read_negative_number_of_items.py
Due: disallow-caps, require-test-name-identifier

Added documentation for new rule
  docs/reference/awkwardforth.rst
Due: none

Specify dtype for numpy arrays
  tests/test_3209_awkwardforth_read_negative_number_of_items.py
Due: disallow-caps, require-test-name-identifier

fix: adjust checks in ForthMachine to prevent segfault when num_items is negative (#3209)
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
  docs/reference/awkwardforth.rst
  tests/test_3209_awkwardforth_read_negative_number_of_items.py
Due: disallow-caps, require-test-name-identifier

feat: to TensorFlow RaggedTensor
  pyproject.toml
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

fix the tensorflow library import
  pyproject.toml
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

update exception
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

added some tests for different data types conversions
  tests/test_3210_to_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

change end of line formats
  tests/test_3210_to_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

Add tests and fixes
  src/awkward/_errors.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  tests-cuda/test_3051_to_cuda.py
Due: disallow-caps

use direct np module (for now)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
Due: disallow-caps

Don't accidentally iterate cupy with CPU
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

Preparatory refactor: create ak_almost_equal._impl
  src/awkward/operations/ak_almost_equal.py
Due: disallow-caps

Update src/awkward/_errors.py
  src/awkward/_errors.py
Due: disallow-caps

add docstring
  src/awkward/operations/ak_to_cudf.py
Due: disallow-caps

Adding ak.array_equal
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_almost_equal.py
  src/awkward/operations/ak_array_equal.py
  tests/test_1105_ak_aray_equal.py
Due: disallow-caps, require-test-name-identifier

add tensorflow library to the test-full-requirements
  requirements-test-full.txt
Due: disallow-caps
