Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Initial implementation of ak.sort() for CUDA backend using cuda.compute
  .github/workflows/test.yml
  requirements-test-gpu.txt
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_kernels.py
  studies/cccl/_segment_algorithms.py
  tests-cuda/test_3749_cuda_backend_sort.py
Due: disallow-caps

Remove xfails
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

Add back xfail for test_listarray_sort
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

docs: Add an example argmax reducer using cccl
  studies/cuda-cccl-kernels/reducers/awkward_argmax_reduction_script.py
  studies/cuda-cccl-kernels/reducers/generate_random_array.py
Due: none

fix: align multi-level indices before merge in `to_dataframe()` (#3733)
  src/awkward/operations/ak_to_dataframe.py
  tests/test_0080_flatpandas_multiindex_rows_and_columns.py
  tests/test_3694_to_dataframe_align_multindex.py
Due: disallow-caps, require-test-name-identifier

docs: Add an example summation reducer using cccl (#3762)
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum.ipynb
  studies/cuda-cccl-kernels/reducers/awkward_reduce_sum_atomics.py
Due: none

feat: ability to optionally disable the caching of virtual arrays on themselves (#3741)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
  src/awkward/_pickle.py
  src/awkward/forms/form.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_avro_file.py
  src/awkward/operations/ak_from_buffers.py
  src/awkward/operations/ak_from_iter.py
  src/awkward/operations/ak_from_safetensors.py
  tests/test_3741_virtualarray_caching.py
Due: disallow-caps, require-test-name-identifier

do not pass index into np like function
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

Use to64() shortcut
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

fix typo
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

add comment
  src/awkward/highlevel.py
Due: disallow-caps

add test
  tests/test_3728_record_from_iterable_with_nested_dicts.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3729_nth_moment_with_weights.py
Due: disallow-caps, require-test-name-identifier

Remove macos-14 x86
  .github/workflows/test.yml
Due: disallow-caps

fix: numba test failures on Python 3.14 (#3757)
  requirements-test-full.txt
  tests/test_0118_numba_cpointers.py
  tests/test_0397_arrays_as_constants_in_numba.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3751_virtual_array_knows_buffer_key.py
Due: disallow-caps, require-test-name-identifier

Exclude some dependencies from 3.14 on macOS x86
  requirements-test-full.txt
Due: disallow-caps

Use 3.13 for macOS x86 instead
  .github/workflows/test.yml
  requirements-test-full.txt
Due: disallow-caps

add test
  tests/test_3727_to_indexedoptionarray64_with_int32_index.py
Due: disallow-caps, require-test-name-identifier

remve whitespace
  tests/test_3727_to_indexedoptionarray64_with_int32_index.py
Due: disallow-caps, require-test-name-identifier

Cap numba version for macOS x86
  requirements-test-full.txt
Due: disallow-caps

fix: incorrect passing of `Index` inside nplike function in `to_IndexedOptionArray64` (#3727)
  src/awkward/contents/indexedoptionarray.py
  tests/test_3727_to_indexedoptionarray64_with_int32_index.py
Due: disallow-caps, require-test-name-identifier

fix: weights should not be raised to the power n in the n-th moment calculation (#3729)
  src/awkward/operations/ak_moment.py
  tests/test_3729_nth_moment_with_weights.py
Due: disallow-caps, require-test-name-identifier

Test with minimal requirements on macOS x86
  .github/workflows/test.yml
  requirements-test-full.txt
Due: disallow-caps

Use nogil requirements instead
  .github/workflows/test.yml
Due: disallow-caps

use np.int64 instead
  tests/test_3751_virtual_array_knows_buffer_key.py
Due: disallow-caps, require-test-name-identifier

fix: `ak.Record` creation from iterable with nested dicts (#3728)
  src/awkward/highlevel.py
  tests/test_3728_record_from_iterable_with_nested_dicts.py
Due: disallow-caps, require-test-name-identifier

check for option the missing values of option types only if the data is known
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix typetracer nplikes all function
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

NumericalColumn takes in plc_column and now mask now
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

Use tensorflow-cpu instead
  requirements-test-ml.txt
Due: disallow-caps

add test
  tests/test_3765_typetracer_all_any_infinite_recursion.py
Due: disallow-caps, require-test-name-identifier

instantiate nplike only once in test
  tests/test_3765_typetracer_all_any_infinite_recursion.py
Due: disallow-caps, require-test-name-identifier

make length_zero/one_array work with typetracers
  src/awkward/forms/form.py
Due: disallow-caps

chore(ci): use macos-15-intel for x86 wheel building and testing (#3720)
  .github/workflows/build-wheels.yml
  .github/workflows/test.yml
  requirements-test-ml.txt
Due: disallow-caps

some fixes and some tests
  src/awkward/operations/ak_enforce_type.py
  tests/test_3764_enforce_type_with_typetracers.py
Due: disallow-caps, require-test-name-identifier

better implementation with recursion here
  src/awkward/forms/form.py
Due: disallow-caps

looks better this way
  src/awkward/forms/form.py
Due: disallow-caps

fix: keep track of buffer key instead of field path for VirtualNDArrays & PlaceholderArrays (#3751)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_3751_virtual_array_knows_buffer_key.py
Due: disallow-caps, require-test-name-identifier

fix: typetracer nplike's `all` function leads to infinite recursion for `axis=None` (#3765)
  src/awkward/_nplikes/typetracer.py
  tests/test_3765_typetracer_all_any_infinite_recursion.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
