Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

test: add simple test cases
  tests/test_2425_forms_from_type.py
Due: disallow-caps, require-test-name-identifier

fix: warn about high-level types
  src/awkward/forms/form.py
Due: disallow-caps

fix: properly pack ListOffsetArray
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: check forms, not types
  tests/test_2425_forms_from_type.py
Due: disallow-caps, require-test-name-identifier

fix: correct tag comparison in `is_equal_to`
  src/awkward/contents/unionarray.py
Due: disallow-caps

test: add test
  tests/test_2426_is_equal_to.py
Due: disallow-caps, require-test-name-identifier

docs: add `ak.froms.from_type` to toctree
  docs/reference/toctree.txt
Due: none

Apply suggestions from code review
  .github/workflows/docs.yml
  docs/requirements-wasm.txt
  docs/requirements.txt
Due: disallow-caps

feat: canonicalise non-options to options in unionarray
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: test new canonicalisation rules
  tests/test_1928_replace_simplify_method_with_classmethod_constructor.py
Due: disallow-caps, require-test-name-identifier

fix: adjust tests
  tests/test_2236_merge_union_of_records_option.py
Due: disallow-caps, require-test-name-identifier

fix: `is_equal_to` bug in `UnionArray` (#2426)
  src/awkward/contents/unionarray.py
  tests/test_2426_is_equal_to.py
Due: disallow-caps, require-test-name-identifier

fix: handle reordered contents in `ak.almost_equal` (#2424)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/ak_almost_equal.py
  tests/test_2424_almost_equal_union_record.py
Due: disallow-caps, require-test-name-identifier

wip
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

fix: ak.where repeat
  src/awkward/operations/ak_where.py
Due: disallow-caps

fix: masked array
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: update tests to reflect new union rules
  tests/test_1125_to_arrow_from_arrow.py
Due: disallow-caps, require-test-name-identifier

fix: use `content.length` instead of `len(content)`
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

Update src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

fix: argument should be unknown scalar
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

fix: typetracer `nplike.repeat` & `ak.with_field` (#2429)
  src/awkward/_nplikes/typetracer.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

chore: bump package version
  pyproject.toml
Due: disallow-caps

feat: canonicalise `union[?X, Y]` into `union[?X, ?Y]` (#2427)
  src/awkward/contents/unionarray.py
  tests/test_1125_to_arrow_from_arrow.py
  tests/test_1294_to_and_from_parquet.py
  tests/test_1928_replace_simplify_method_with_classmethod_constructor.py
  tests/test_2236_merge_union_of_records_option.py
Due: disallow-caps, require-test-name-identifier

feat: add `copy` method to type
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

fix: use copy to support categoricals
  src/awkward/forms/form.py
Due: disallow-caps

test: check categoricals
  tests/test_2425_forms_from_type.py
Due: disallow-caps, require-test-name-identifier

fix: future import
  src/awkward/types/recordtype.py
Due: disallow-caps

fix: import annotations __future__
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

fix: correct option-type categoricals
  src/awkward/forms/form.py
  tests/test_2425_forms_from_type.py
Due: disallow-caps, require-test-name-identifier

Update docs/requirements.txt
  docs/requirements.txt
Due: none

feat: add `ak.forms.from_type` (#2425)
  docs/reference/toctree.txt
  src/awkward/contents/listoffsetarray.py
  src/awkward/forms/__init__.py
  src/awkward/forms/form.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
  tests/test_2425_forms_from_type.py
Due: disallow-caps, require-test-name-identifier

fix: bump Python version for pyodide
  .github/workflows/docs.yml
Due: disallow-caps

fix: set upper bound on Numba Python version
  docs/requirements.txt
Due: none

ci: use provisioned environment for package building
  .github/workflows/docs.yml
Due: disallow-caps

ci: use python-build, not build
  .github/workflows/docs.yml
Due: disallow-caps

ci: use bach to activate conda
  .github/workflows/docs.yml
Due: disallow-caps

ci: split WASM and non WASM Python versions
  .github/workflows/docs.yml
Due: disallow-caps

fix: check metadata in layout equality
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: add tests
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat!: make union conversions stricter
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
