Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: BitMaskedArray mask inversion and placeholder detection (#4092)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/unionarray.py
  tests/test_4092_bitmasked_fixes.py
Due: disallow-caps, require-test-name-identifier

fix: complete target_link_libraries for test_4087 header-only test
  header-only/tests/CMakeLists.txt
Due: disallow-caps

fix: Arrow conversion without pandas, empty chunked arrays, and multi-file Parquet attrs (#4099)
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/operations/ak_from_parquet.py
  tests/test_4099_pyarrow_nopandas_empty_chunked_attrs.py
Due: disallow-caps, require-test-name-identifier

fix: complete target_link_libraries for test_4087 header-only test (#4171)
  header-only/tests/CMakeLists.txt
Due: disallow-caps

update python version for mypy
  pyproject.toml
Due: disallow-caps

rebase lazy IR scheduling layer from #3792
  benchmarks/bench_lazy_ir.py
  src/awkward/__init__.py
  src/awkward/_connect/cpu/__init__.py
  src/awkward/_connect/cpu/helpers.py
  src/awkward/_connect/cpu/ir_nodes.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_executor.py
  src/awkward/_connect/cuda/_ir.py
  src/awkward/_connect/cuda/_lazy_impl.py
  src/awkward/_connect/cuda/_segment_algorithms.py
  src/awkward/_connect/cuda/helpers.py
  src/awkward/_connect/cuda/ir_nodes.py
  src/awkward/_connect/lazy/__init__.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_ir.py
  src/awkward/_connect/lazy/_layout.py
  src/awkward/_connect/lazy/_lazy_impl.py
  src/awkward/_connect/lazy/core.py
  studies/cccl/playground-cccl-with-ir.py
  tests-cuda/test_3792_lazy_executor.py
  tests-cuda/test_3792_lazy_ir.py
  tests/test_3792_lazy_cpu.py
Due: disallow-caps, require-test-name-identifier

update to new version api
  src/awkward/_connect/cuda/_segment_algorithms.py
Due: disallow-caps

use platform‑native integer type
  src/awkward/_connect/cpu/helpers.py
Due: disallow-caps

chore(deps): update python version for mypy (#4172)
  pyproject.toml
Due: disallow-caps

feat: migrate kernels that were using `parents` to cuda.compute (#4159)
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: BitMasked builder use-after-free and GrowableBuffer copy bugs (#4098)
  header-only/growable-buffer/awkward/GrowableBuffer.h
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/CMakeLists.txt
  header-only/tests/test_4087-bitmasked-growablebuffer.cpp
Due: disallow-caps

awkward 2.10.0 and awkward-cpp 54
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

docs: add 2.10 to the version switcher
  docs/switcher.json
Due: none

fix: include kernel-specification.yml in source distribution (#4178)
  pyproject.toml
Due: disallow-caps

fix: include kernel-specification.yml in source distribution (#4179)
  pyproject.toml
Due: disallow-caps

flip 17 ready kernels
  AGENTS.md
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_simplify.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_expand.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_array.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_array_advanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range_spreadadvanced.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_validity.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_flatten_offsets.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_toRegularArray.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_array_regularize.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_combine.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_length.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_nestedfill_tags_index.cu
Due: disallow-caps

bench it
  studies/cccl/bench_flip17.py
Due: none

update bench
  studies/cccl/bench_flip17.py
Due: none

revert some
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_range.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_rpad_axis1.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_combine.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_length.cu
Due: disallow-caps

revert two more
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_array.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_validity.cu
Due: disallow-caps

add more kernels
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  studies/cccl/bench_flip17.py
Due: disallow-caps

fix the gaps in implementations
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: speed up kernels that raise errors
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

test: rename perf regression test to PR number
  tests/test_4109_python_perf.py
Due: disallow-caps, require-test-name-identifier

perf: vectorize union flattening and cache nplike feature probes
  src/awkward/_nplikes/array_module.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
  tests/test_XXXX-python-perf.py
Due: disallow-caps, require-test-name-identifier

test: slim PR test suite and trim restating comments
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
  tests/test_4109_python_perf.py
Due: disallow-caps, require-test-name-identifier

test: add regression tests for assorted operation fixes
  tests/test_4107_operations_batch.py
Due: disallow-caps, require-test-name-identifier

fix: assorted operation bugs (softmax, enforce_type, merge_union_of_records, and more)
  src/awkward/_connect/rdataframe/from_rdataframe.py
  src/awkward/operations/ak_argcartesian.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_enforce_type.py
  src/awkward/operations/ak_from_raggedtensor.py
  src/awkward/operations/ak_from_rdataframe.py
  src/awkward/operations/ak_from_safetensors.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_round.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_to_json.py
  src/awkward/operations/ak_to_layout.py
  src/awkward/operations/ak_to_parquet_dataset.py
  src/awkward/operations/ak_unflatten.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

chore: slim down test file and drop _Dispatcher class
  tests/test_4107_operations_batch.py
Due: disallow-caps, require-test-name-identifier

chore: trim test file and fix naming convention
  tests/test_4106-fix-core-misc.py
  tests/test_4106_fix_core_misc.py
Due: disallow-caps, require-test-name-identifier

test: add regression tests for fixes in #4106
  tests/test_4106-fix-core-misc.py
Due: disallow-caps, require-test-name-identifier

fix: categorical hashing, delayed-backend detection, and pretty-printing
  src/awkward/_categorical.py
  src/awkward/_do.py
  src/awkward/_errors.py
  src/awkward/prettyprint.py
Due: disallow-caps

fix: AwkwardForth VM and libawkward correctness issues
  awkward-cpp/include/awkward/forth/ForthMachine.h
  awkward-cpp/src/libawkward/builder/RecordBuilder.cpp
  awkward-cpp/src/libawkward/forth/ForthInputBuffer.cpp
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
  awkward-cpp/src/libawkward/forth/ForthOutputBuffer.cpp
  awkward-cpp/src/libawkward/io/json.cpp
  awkward-cpp/src/libawkward/util.cpp
Due: disallow-caps

test: trim regression tests and comments for forth/libawkward fixes
  awkward-cpp/src/libawkward/builder/RecordBuilder.cpp
  tests/test_4105_forth_vm_and_libawkward_fixes.py
Due: disallow-caps, require-test-name-identifier

test: regression tests for AwkwardForth VM and libawkward fixes
  tests/test_4105_forth_vm_and_libawkward_fixes.py
Due: disallow-caps, require-test-name-identifier

chore: slim test file — drop redundant cases, rename to snake_case
  tests/test_4101-fix-form-type-equality.py
  tests/test_4101_fix_form_type_equality.py
Due: disallow-caps, require-test-name-identifier

test: add regression tests for form/type equality fixes (#4101)
  tests/test_4101-fix-form-type-equality.py
Due: disallow-caps, require-test-name-identifier

fix: form and type equality bugs
  src/awkward/_meta/unionmeta.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/types/listtype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
Due: disallow-caps

chore: trim redundant tests in test_4095_highlevel_record
  tests/test_4095_highlevel_record.py
Due: disallow-caps, require-test-name-identifier

test: regression tests for highlevel Record/ArrayBuilder fixes
  tests/test_4095_highlevel_record.py
Due: disallow-caps, require-test-name-identifier
