Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Updated freethreading option in pyproject.toml
  awkward-cpp/pyproject.toml
Due: disallow-caps

Enable pypy wheels
  awkward-cpp/pyproject.toml
Due: disallow-caps

fix: cuda atomicMin and atomicMax for <double>s (#3545)
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

fix cudf test
  tests-cuda/test_3051_to_cuda.py
Due: disallow-caps

fix cudf test
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

fix: `cudf` strings column (#3555)
  src/awkward/contents/listoffsetarray.py
  tests-cuda/test_3051_to_cuda.py
Due: disallow-caps

fix: use std::memcpy instead of *reinterpret_cast (#3514)
  awkward-cpp/src/libawkward/forth/ForthOutputBuffer.cpp
Due: disallow-caps

docs: Add MODE talk + update publications (#3547)
  docs/getting-started/papers-and-talks.md
Due: none

fix: use older manylinux for CPython 3.10 and 3.9
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: use PEP 639 license
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: use older manylinux for CPython 3.10 and 3.9 (#3558)
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: use PEP 639 license (#3559)
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: any and combinations cuda kernels
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool.cu
Due: disallow-caps

allow missing=True in single argument ak.where
  src/awkward/operations/ak_where.py
Due: disallow-caps

add tests
  tests/test_3563_single_argument_ak_where_with_missing_values.py
Due: disallow-caps, require-test-name-identifier

fix length0 array repr
  src/awkward/highlevel.py
Due: disallow-caps

refactor: define common nplike method to get pointer to memory
  src/awkward/_kernels.py
  src/awkward/_lookup.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/index.py
  tests/test_3364_virtualarray.py
  tests/test_3475_virtualarray_unknown_length.py
Due: disallow-caps, require-test-name-identifier

fix: first maybe materialize, then check for PlaceholderArray
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
Due: disallow-caps

chore: version 2.8.5 and cpp 47
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: to_buffers for duplicate fields in records
  src/awkward/contents/recordarray.py
  tests/test_3247_to_buffers_records_with_duplicate_fields.py
Due: disallow-caps, require-test-name-identifier

concatenate more than 128 regular arrays
  src/awkward/operations/ak_concatenate.py
  tests/test_3312_concatenate_regular_arrays.py
Due: disallow-caps, require-test-name-identifier

now also works with pyarrow
  src/awkward/_connect/pyarrow/conversions.py
  tests/test_3247_to_buffers_records_with_duplicate_fields.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3564_length0_highlevel_repr.py
Due: disallow-caps, require-test-name-identifier

fix: first maybe materialize, then check for PlaceholderArray (#3566)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
Due: disallow-caps

refactor: define common nplike method to get pointer to memory (#3565)
  src/awkward/_kernels.py
  src/awkward/_lookup.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/index.py
  tests/test_3364_virtualarray.py
  tests/test_3475_virtualarray_unknown_length.py
Due: disallow-caps, require-test-name-identifier

properly test against _mime_bundle_ as well
  tests/test_3564_length0_highlevel_repr.py
Due: disallow-caps, require-test-name-identifier

add new tests
  tests/test_3312_concatenate_regular_arrays.py
  tests/test_3568_concatenate_regular_and_union_arrays.py
Due: disallow-caps, require-test-name-identifier

test axis 0 and axis 1
  tests/test_3568_concatenate_regular_and_union_arrays.py
Due: disallow-caps, require-test-name-identifier

forgot to do moment
  src/awkward/operations/ak_moment.py
Due: disallow-caps

chore: update CITATION.cff
  CITATION.cff
Due: disallow-caps

chore: update CITATION.cff (#3571)
  CITATION.cff
Due: disallow-caps

update citation in README
  README.md
Due: disallow-caps

fix: try changing RPath config
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

ignore imports outside top level
  pyproject.toml
Due: disallow-caps

fix: replace list concatenation with iterable unpacking
  src/awkward/_backends/typetracer.py
  src/awkward/_layout.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/regulararray.py
  src/awkward/highlevel.py
  src/awkward/index.py
  tests/test_0115_generic_reducer_operation.py
Due: disallow-caps, require-test-name-identifier

fix: ignore __eq__ without __hash__
  pyproject.toml
Due: disallow-caps

fix: `ak.any` and `ak.combinations` with `cuda` backend kernels (#3561)
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool.cu
Due: disallow-caps

fix: length0 array repr (#3564)
  src/awkward/highlevel.py
  tests/test_3564_length0_highlevel_repr.py
Due: disallow-caps, require-test-name-identifier

fix: to_buffers for duplicate fields in records (#3567)
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/contents/recordarray.py
  tests/test_3247_to_buffers_records_with_duplicate_fields.py
Due: disallow-caps, require-test-name-identifier

fix: arrow can handle length-zero arrays now
  src/awkward/operations/str/__init__.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
