Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

Fix: invert condition
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: cleanups
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

wip: work on documentation
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: add to toctree
  docs/reference/toctree.txt
Due: none

docs: clean-up docstring
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: small change
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: correct record (todo: add test with different fields)
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: regular is also list!
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

feat: add projection mode
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: update docstrings
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: add tests for new behavior
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

docs: fix docstring formatting
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: fix formatting
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: small formatting change
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: small internal notice
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: support converting 0-length lists to sized regular
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: pull out index_nplike
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

feat: detect projection automatically
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

refactor: drop single-use helper functions
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: simplify branches
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: ensure indexing works properly
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

docs: clarify when projection vs conversion is used
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: add note about high level types
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: add scalar test
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

refactor: move functions around
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: only operate on part of array used for records
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: take parameters from `_parameters`
  src/awkward/forms/form.py
Due: disallow-caps

fix: take parameters from `_parameters`
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

docs: expand on docstrings
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: catch bug with packing
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: check packing of indexed
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

fix: preserve field order
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: check _exact_ layouts
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

docs: fix docstring
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: save for now
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

feat: add `ak.enforce_type` (#2365)
  docs/reference/toctree.txt
  src/awkward/forms/form.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_enforce_type.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

fix: dtype of Numpy
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

feat: add validity error check for duplicate record fields
  src/awkward/contents/recordarray.py
  tests/test_2296_duplicate_field.py
Due: disallow-caps, require-test-name-identifier

test: add correct contents!
  tests/test_2296_duplicate_field.py
Due: disallow-caps, require-test-name-identifier

test: add valid case
  tests/test_2296_duplicate_field.py
Due: disallow-caps, require-test-name-identifier
