Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: restore argument requesting `n` outputs
  src/awkward/_broadcasting.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

refactor: just use `parameters_intersect`
  src/awkward/_connect/numpy.py
Due: disallow-caps

fix: listoffset remove content, use begin_list
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: revert
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: IndexedOption update, remove Indexed
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: ByteMased updated
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: BitMasked updated
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: Unmasked done
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: handle exclusions properly
  src/awkward/_broadcasting.py
  src/awkward/_parameters.py
  src/awkward/contents/indexedarray.py
  tests/test_1672_broadcast_parameters.py
  tests/test_2410_string_broadcast.py
  tests/test_XXXX_string_broadcasting.py
Due: disallow-caps, require-test-name-identifier

fix: remove EmptyRecord
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: Tuple updated
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

chore: appease pylint
  src/awkward/_parameters.py
Due: disallow-caps

fix: Union updated
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: remove parameters from Empty
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

fix: remove List builder - use ListOffset instead
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

fix: update documentation
  docs/user-guide/how-to-use-header-only-layoutbuilder.md
Due: none

fix: mistake in _parameters
  src/awkward/_broadcasting.py
  src/awkward/_parameters.py
Due: disallow-caps

fix: string broadcasting (#2552)
  src/awkward/_broadcasting.py
  src/awkward/_connect/numpy.py
  src/awkward/_parameters.py
  src/awkward/contents/indexedarray.py
  tests/test_1672_broadcast_parameters.py
  tests/test_2410_string_broadcast.py
Due: disallow-caps, require-test-name-identifier

chore: move C++ format configuration
  awkward-cpp/.clang-format
  awkward-cpp/.clang-tidy
  awkward-cpp/.cmake-format.yaml
  runtime.txt
Due: disallow-caps

chore: add pyupgrade
  .pre-commit-config.yaml
  pyproject.toml
Due: disallow-caps

refactor: import new typing features
  src/awkward/_typing.py
Due: disallow-caps

chore: bump Python minimum version
  pyproject.toml
Due: disallow-caps

chore: bump Python minimum version
  awkward-cpp/pyproject.toml
Due: disallow-caps

chore: drop 3.7 Python support
  .github/workflows/test.yml
Due: disallow-caps

ci: cap pydantic<2
  docs/requirements-wasm.txt
Due: none

fix: allow JAX tracers in `from_arraylib`
  src/awkward/_layout.py
Due: disallow-caps

chore: drop references to NumPy 1.17
  awkward-cpp/pyproject.toml
  pyproject.toml
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/numpy.py
  src/awkward/highlevel.py
Due: disallow-caps

chore: drop NumPy minimum bound
  docs/requirements.txt
Due: none

chore: bump NumPy dependency
  .github/workflows/test.yml
Due: disallow-caps

ci: cap `pydantic<2` to fix WASM build (#2558)
  docs/requirements-wasm.txt
Due: none

ci: replace 37 with 38 workflow
  .github/workflows/packaging-test.yml
Due: disallow-caps

fix: convert unknown-length to index in `ListOffsetArray.to_RegularArray`
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

test: add test
  tests/test_2560_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

feat: add units implementation
  src/awkward/_connect/numpy.py
  src/awkward/contents/content.py
  src/awkward/units.py
Due: disallow-caps

wip: improved errors
  src/awkward/_broadcasting.py
  src/awkward/_connect/numpy.py
  src/awkward/contents/recordarray.py
  tests/test_1559_fix_ufuncs_records_1439.py
  tests/test_1607_no_reducers_on_records.py
Due: disallow-caps, require-test-name-identifier

feat: add `to/from_pint` operations
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_pint.py
  src/awkward/operations/ak_to_pint.py
Due: disallow-caps

refactor: add type hints for broadcasting
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: cleanup record broadcasting
  src/awkward/_broadcasting.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
