Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

make sure it's a cupy zero dim array
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_at.cu
Due: disallow-caps

add tests & proper support for negative named axes
  src/awkward/_namedaxis.py
  src/awkward/contents/content.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_local_index.py
  src/awkward/operations/ak_singletons.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

satisfy pylint
  src/awkward/operations/ak_cartesian.py
Due: disallow-caps

make xfail marker not strict
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

chore: enable mypy on namedaxis
  pyproject.toml
Due: disallow-caps

fix: use attribute name in type hints
  src/awkward/_namedaxis.py
Due: disallow-caps

refactor: rename _NamedAxisKey
  src/awkward/_broadcasting.py
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/_namedaxis.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_transform.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/ak_with_named_axis.py
  src/awkward/operations/ak_without_named_axis.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
Due: disallow-caps

fix: define NAMED_AXIS_KEY as a literal
  src/awkward/_namedaxis.py
Due: disallow-caps

fix: appease mypy
  src/awkward/_namedaxis.py
Due: disallow-caps

highlevel getitem: less (un)wrapping
  src/awkward/highlevel.py
Due: disallow-caps

highlevel: improve repr and .show for named_axis
  src/awkward/_namedaxis.py
  src/awkward/highlevel.py
Due: disallow-caps

named_axis: fix typo and avoid dictionary copies where possible
  src/awkward/_namedaxis.py
Due: disallow-caps

named_axis: improve doc string of _prettify_named_axes
  src/awkward/_namedaxis.py
Due: disallow-caps

Updated LayoutBuilder.h (added functors) for C++11 compatibility. This is not the final version and may contain errors
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

chore: increase try-it version of Awkward to 2.6.4
  docs/_static/try-it.html
Due: none

make sure it's a cupy zero dim array (#3271)
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_at.cu
Due: disallow-caps

highlevel: fix instance check for attrs in __init__
  src/awkward/highlevel.py
Due: disallow-caps

add named_axis to jupyter repr
  src/awkward/highlevel.py
Due: disallow-caps

fix docs
  docs/user-guide/how-to-array-properties-named-axis.md
Due: none

connect _neg2pos_axis with maybe_posaxis
  src/awkward/_layout.py
  src/awkward/_namedaxis.py
Due: disallow-caps

named_axis: simplify type hint for named axis in attrs mapping
  src/awkward/_layout.py
  src/awkward/_namedaxis.py
  src/awkward/highlevel.py
Due: disallow-caps

chore: add download stats
  README.md
Due: disallow-caps

keep gpu id the same
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

style changes
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

fix device id selection
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

add new functions to the documentation
  docs/reference/toctree.txt
Due: none

add cuda backend support for ak.from_raggedtensor
  src/awkward/operations/ak_from_raggedtensor.py
Due: disallow-caps

fixed an ussie with the same form_key for NumpyBuilder/ListOffsetBuilder
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

add suggestions from Jim
  src/awkward/operations/ak_from_raggedtensor.py
Due: disallow-caps

Delete .DS_Store
  .DS_Store
Due: disallow-caps

Add .DS_Store to .gitignore
  .gitignore
Due: disallow-caps

chore: delete `.DS_Store` and add it to .gitignore (#3286)
  .DS_Store
  .gitignore
Due: disallow-caps

fix: add cuda backend support for `to_raggedtensor` and `from_raggedtensor` functions (#3263)
  docs/reference/toctree.txt
  src/awkward/operations/ak_from_raggedtensor.py
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

fix: test from_raggedtensor on GPU
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

fix: test `from_raggedtensor` on GPU (#3288)
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

fix + tests
  src/awkward/operations/ak_mean.py
  tests/test_3285_ak_mean_weighted_row_wise.py
Due: disallow-caps, require-test-name-identifier

reimplement aitomic overloads
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_1381_check_errors.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
