Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

refactor: drop the CMake stamp; run generation unconditionally at configure
  AGENTS.md
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

fix ak.array_equal on union
  src/awkward/operations/ak_almost_equal.py
  tests/test_4316_union_equal_reordered_index.py
Due: disallow-caps, require-test-name-identifier

resolve test error
  src/awkward/_connect/cudf.py
  src/awkward/contents/indexedarray.py
  src/awkward/operations/ak_from_cudf.py
  tests-cuda/test_3946_from_cudf.py
  tests-cuda/test_3946_from_cudf_extended.py
Due: disallow-caps

install cudf only in GPU test jobs
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

chore: added pr directory for previews
  doc/pr/.gitkeep
Due: disallow-caps

Create CNAME
  CNAME
Due: disallow-caps

chore: add .nojekyll so Pages serves Sphinx's underscore directories
  .nojekyll
Due: disallow-caps

ci: deploy the documentation to the gh-pages branch
  .github/actions/deploy-to-gh-pages/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-squash.yml
  .github/workflows/docs-version.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

fix: reject non-function experimental targets
  src/awkward/_experimental.py
  tests/test_4319_experimental_guard.py
Due: disallow-caps, require-test-name-identifier

chore: generate kernel artefacts from CMake instead of nox -s prepare (#4190)
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/copy-cpp-headers.py
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
Due: disallow-caps

chore: support uv workspaces
  .github/workflows/reusable-test.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

docs: render experimental API notices (#4315)
  docs/_autoapi_templates/python/function.rst
  docs/_autoapi_templates/python/method.rst
  docs/_autoapi_templates/python/property.rst
  docs/conf.py
Due: none

docs: add summary lines to 9 field/name/parameter operation docstrings (#4134)
  src/awkward/operations/ak_fields.py
  src/awkward/operations/ak_parameters.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/ak_with_name.py
  src/awkward/operations/ak_with_named_axis.py
  src/awkward/operations/ak_with_parameter.py
  src/awkward/operations/ak_without_field.py
  src/awkward/operations/ak_without_named_axis.py
  src/awkward/operations/ak_without_parameters.py
Due: disallow-caps

docs: add summary lines to 8 from_* array-library converter docstrings (#4136)
  src/awkward/operations/ak_from_cupy.py
  src/awkward/operations/ak_from_dlpack.py
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_from_numpy.py
  src/awkward/operations/ak_from_raggedtensor.py
  src/awkward/operations/ak_from_rdataframe.py
  src/awkward/operations/ak_from_tensorflow.py
  src/awkward/operations/ak_from_torch.py
Due: disallow-caps

ci: deploy the documentation to the gh-pages branch (#4323)
  .github/actions/deploy-to-gh-pages/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-squash.yml
  .github/workflows/docs-version.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

test: cover categorical float16/float128 validity (_unique cast path)
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

docs: cache the Chicago taxi Parquet dataset for the docs build
  .github/workflows/reusable-docs.yml
  .gitignore
  docs/conf.py
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/user-guide/how-to-examine-single-item.md
Due: disallow-caps

test: cover datetime64[D] -> arrow date32 conversion (#3643)
  tests/test_3643_to_arrow_datetime_conversion.py
Due: disallow-caps, require-test-name-identifier

Update src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_is_none.py
Due: disallow-caps

test: pin option broadcasting over the layouts the projection change touches
  tests/test_4326_option_broadcast_positions.py
Due: disallow-caps, require-test-name-identifier

test: pin option broadcasting with an Index32-indexed input
  tests/test_4326_option_broadcast_positions.py
Due: disallow-caps, require-test-name-identifier

perf: project option inputs in broadcasting with one nonzero and integer takes
  src/awkward/_broadcasting.py
Due: disallow-caps

docs: add summary lines to 8 missing-value operation docstrings (#4130)
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_fill_none.py
  src/awkward/operations/ak_firsts.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_nan_to_none.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_singletons.py
Due: disallow-caps

test: exclude layouts affected by #4316 from the Arrow `test_roundtrip` comparison (#4317)
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

Widen _has_issue_4228 to union option children longer than their used length
  tests/properties/operations/test_to_from_arrow.py
Due: disallow-caps, require-test-name-identifier

Update CITATION.cff and BibTeX snippets
  CITATION.cff
  README.md
  docs/getting-started/papers-and-talks.md
Due: disallow-caps

docs: update CITATION.cff (#4330)
  CITATION.cff
  README.md
  docs/getting-started/papers-and-talks.md
Due: disallow-caps

perf: build error-context strings only when an exception is decorated
  src/awkward/_errors.py
Due: disallow-caps

perf: cache backend and nplike lookups for unrecognised types
  src/awkward/_backends/dispatch.py
  src/awkward/_nplikes/dispatch.py
Due: disallow-caps

perf: cache compiled kernels and call them through void pointers
  src/awkward/_backends/numpy.py
  src/awkward/_kernels.py
Due: disallow-caps

perf: cheapen NumpyArray construction
  src/awkward/contents/numpyarray.py
  src/awkward/types/numpytype.py
Due: disallow-caps

perf: test field-name slices before integer-like slices
  src/awkward/contents/content.py
Due: disallow-caps

perf: fast-path int and numpy integers in is_integer
  src/awkward/_regularize.py
Due: disallow-caps

perf: delegate Attrs.__contains__ to the backing dict
  src/awkward/_attrs.py
Due: disallow-caps

perf: hoist wrap_layout's imports to module scope
  src/awkward/_layout.py
Due: disallow-caps

perf: build jagged boolean slices without a local-index pass
  src/awkward/_slicing.py
Due: disallow-caps

perf: avoid building a UnionArray in ak.where for numeric leaves
  src/awkward/operations/ak_where.py
Due: disallow-caps

perf: fill missing values without building a UnionArray
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
