Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

docs: note tests/properties naming in CONTRIBUTING.md
  CONTRIBUTING.md
Due: disallow-caps

rename tests
  tests-cuda/test_4270_cuda_float16_reducers.py
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

test: add known-issue predicates for #4255 and #4274 to property tests
  tests/properties/operations/test_to_from_arrow.py
  tests/properties/operations/test_to_from_feather.py
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: flatten(axis=None) dropped data or raised on nested unions (#4246)
  src/awkward/contents/unionarray.py
  tests/test_4214_flatten_axis_none_nested_union.py
Due: disallow-caps, require-test-name-identifier

ci: limit thread pools in the coverage job
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

chore: use scikit-build-core 1.0 for awkward-cpp (#4236)
  CONTRIBUTING.md
  awkward-cpp/pyproject.toml
  header-only/examples/pybind11/pyproject.toml
Due: disallow-caps

ci: generate kernel tests before running cibuildwheel
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
Due: disallow-caps

refactor: drop the CMake stamp; run generation unconditionally at configure
  AGENTS.md
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

chore: generate kernel artefacts from CMake instead of nox -s prepare
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/copy-cpp-headers.py
  dev/generate-kernel-signatures.py
Due: disallow-caps

docs: note scikit-build-core version behavior for the state override
  awkward-cpp/pyproject.toml
Due: disallow-caps

fix: only generate kernel tests when packing the sdist
  AGENTS.md
  CONTRIBUTING.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/generate-tests.py
Due: disallow-caps

refactor: generate kernel tests in every repository build
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
Due: disallow-caps

docs: add summary lines to 11 to_* array-library converter docstrings (#4138)
  src/awkward/operations/ak_to_cudf.py
  src/awkward/operations/ak_to_cupy.py
  src/awkward/operations/ak_to_dataframe.py
  src/awkward/operations/ak_to_jax.py
  src/awkward/operations/ak_to_layout.py
  src/awkward/operations/ak_to_list.py
  src/awkward/operations/ak_to_numpy.py
  src/awkward/operations/ak_to_raggedtensor.py
  src/awkward/operations/ak_to_rdataframe.py
  src/awkward/operations/ak_to_tensorflow.py
  src/awkward/operations/ak_to_torch.py
Due: disallow-caps

docs: add summary lines to 13 to_* file/format converter docstrings (#4139)
  src/awkward/operations/ak_metadata_from_parquet.py
  src/awkward/operations/ak_to_arrow.py
  src/awkward/operations/ak_to_arrow_table.py
  src/awkward/operations/ak_to_backend.py
  src/awkward/operations/ak_to_buffers.py
  src/awkward/operations/ak_to_feather.py
  src/awkward/operations/ak_to_json.py
  src/awkward/operations/ak_to_packed.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_dataset.py
  src/awkward/operations/ak_to_parquet_row_groups.py
  src/awkward/operations/ak_to_regular.py
  src/awkward/operations/ak_to_safetensors.py
Due: disallow-caps

test: add no-raise property tests for `ak.flatten` and `ak.all` (#4265)
  .pre-commit-config.yaml
  tests/properties/operations/__init__.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_all.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/util.py
Due: disallow-caps, require-test-name-identifier

chore: drop the over-broad files override on the zizmor hook (#4266)
  .pre-commit-config.yaml
Due: none

docs: note tests/properties naming in CONTRIBUTING.md (#4273)
  CONTRIBUTING.md
Due: disallow-caps

chore: split generated release notes into finer categories (#4267)
  .github/release.yml
Due: disallow-caps

add more tests for coverage
  tests-cuda/test_4256_cuda_compute_coverage.py
Due: disallow-caps

ci: limit thread pools in the coverage job (#4276)
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

address review comments
  src/awkward/operations/ak_linear_fit.py
  tests/test_4257_linear_fit_overflow.py
Due: disallow-caps, require-test-name-identifier

address comments
  awkward-cpp/src/cpu-kernels/awkward_reduce_centered_sumofsquares.cpp
  kernel-test-data.json
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  studies/tests-and-kernels-map/tests_to_kernels.json
  tests-cuda/test_4256_cuda_compute_coverage.py
  tests-cuda/test_4256_cuda_var_centered_sumofsquares.py
Due: disallow-caps

feat: add the experimental-API mark (functions, methods, properties)
  src/awkward/_experimental.py
  src/awkward/errors.py
  tests/test_experimental_mark.py
Due: disallow-caps, require-test-name-identifier

test: adopt the PR number in the experimental-mark test file name
  tests/test_4279_experimental_mark.py
Due: disallow-caps, require-test-name-identifier

test: add known-issue predicates for #4278 and #4280 to property tests
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
Due: disallow-caps, require-test-name-identifier

test: cover the degraded paths of _find_stack_level
  tests/test_4279_experimental_mark.py
Due: disallow-caps, require-test-name-identifier

feat: fused centered sum-of-squares kernel for `ak.var`/`ak.std` at the innermost axis (CPU + CUDA) (#4256)
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_reduce_centered_sumofsquares.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cu
  src/awkward/_reducers.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_centered_sumofsquares.py
  src/awkward/operations/ak_var.py
  tests-cuda/test_3749_cuda_backend_sort.py
  tests-cuda/test_4256_cuda_compute_coverage.py
  tests-cuda/test_4256_cuda_var_centered_sumofsquares.py
  tests-cuda/test_cuda_nonlocal_reduce.py
  tests/test_4256_var_centered_sumofsquares.py
Due: disallow-caps, require-test-name-identifier

test: add known-issue predicates for #4278 and #4280 to property tests (#4281)
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
Due: disallow-caps, require-test-name-identifier

test: add known-issue predicates for #4255 and #4274 to property tests (#4275)
  tests/properties/operations/test_to_from_arrow.py
  tests/properties/operations/test_to_from_feather.py
  tests/properties/operations/test_to_from_parquet.py
Due: disallow-caps, require-test-name-identifier

test: add a no-raise property-test module for ak.ravel
  tests/properties/operations/__init__.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
Due: disallow-caps, require-test-name-identifier

fix: remove obsolete Feather warning workaround
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

test: add a no-raise property-test module for ak.ravel (#4284)
  tests/properties/operations/__init__.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
Due: disallow-caps, require-test-name-identifier

fix: make ak.combinations kernel cache-stable
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

address comments
  src/awkward/operations/ak_linear_fit.py
  tests-cuda/test_4257_linear_fit_overflow.py
  tests/test_4257_linear_fit_overflow.py
Due: disallow-caps, require-test-name-identifier

one more fix: make ak.combinations kernel cache-stable
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

address review comments
  src/awkward/contents/numpyarray.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_all.py
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

chore: bump hypothesis-awkward from 0.19.1 to 0.20.0
  requirements-test-full.txt
Due: disallow-caps

ci: drop the Dependabot cooldown for hypothesis-awkward
  .github/dependabot.yml
Due: disallow-caps

chore: bump hypothesis-awkward in requirements-test-gpu.txt too
  requirements-test-gpu.txt
Due: disallow-caps
