Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Adding test and fix for UnionArray with an EmptyArray
  src/awkward/contents/unionarray.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

Oops removing unneeded comment
  src/awkward/_connect/pyarrow.py
Due: disallow-caps

Another comment removed
  tests/test_2188_values_astype_turns_EmptyArray_into_NumpyArray.py
Due: disallow-caps, require-test-name-identifier

typo
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

Adding snarky comment. Sometimes necessary!
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

This may fix failed tests on Python 3.8.
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

wrote how-to-math-argminmax
  docs/_toc.yml
  docs/user-guide/how-to-math-argminmax.md
Due: none

wrote how-to-math-gpu
  docs/_toc.yml
  docs/user-guide/how-to-math-gpu.md
Due: none

add previously-forgotten how-to-strings section
  docs/user-guide/how-to-strings.md
Due: none

wrote how-to-filter-num
  docs/_toc.yml
  docs/user-guide/how-to-filter-num.md
Due: none

still working on how-to-filter-cut-mask...
  docs/_toc.yml
  docs/user-guide/how-to-filter-cut-mask.md
  docs/user-guide/how-to-filter-num.md
Due: none

Addressing PR comments, adding more tests and fixes
  src/awkward/_connect/pyarrow.py
  src/awkward/contents/emptyarray.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

Removing EmptyArray._enforce_parameters
  src/awkward/contents/emptyarray.py
Due: disallow-caps

fix: backend issue in indexoptionarray.py
  src/awkward/contents/indexedoptionarray.py
  tests-cuda/test_3086_cuda_concatenate.py
Due: disallow-caps

fix: pointer to pointer for Cupy
  src/awkward/index.py
Due: disallow-caps

fix: add a clear message that distributed rdataframe is not yet supported (#3087)
  src/awkward/_connect/rdataframe/from_rdataframe.py
Due: disallow-caps

Moving default implementation of _arrow_needs_option_type from Meta to Content
  src/awkward/_meta/meta.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
Due: disallow-caps

wrote how-to-filter-cut-mask
  docs/user-guide/how-to-filter-cut-mask.md
Due: none

removed how-to-restructure-rename-records; it's not useful
  docs/_toc.yml
  docs/user-guide/how-to-restructure-rename-records.md
Due: none

wrote how-to-restructure-concatenate
  docs/_toc.yml
  docs/user-guide/how-to-restructure-concatenate.md
Due: none

removed how-to-restructure-sort; it wouldn't be any different from the API reference
  docs/_toc.yml
  docs/user-guide/how-to-restructure-sort.md
Due: none

Stylistic cleanup for arrow->awkward, EmptyArray
  src/awkward/_connect/pyarrow.py
Due: disallow-caps

wrote how-to-combinations-cartesian-combinations
  docs/_toc.yml
  docs/user-guide/cartoon-cartesian.png
  docs/user-guide/cartoon-combinations.png
  docs/user-guide/how-to-combinatorics-cartesian-combinations.md
Due: none

wrote how-to-combinatorics-best-match
  docs/_toc.yml
  docs/user-guide/how-to-combinatorics-best-match.md
Due: none

writing how-to-use-in-numba-features and NOT DONE
  docs/_toc.yml
  docs/user-guide/how-to-use-in-numba-features.md
  docs/user-guide/how-to-use-in-numba-intro.md
Due: none

a special section on ArrayBuilder in Numba won't be needed
  docs/_toc.yml
  docs/user-guide/how-to-use-in-numba-arraybuilder.md
Due: none

writing how-to-use-in-numba-features and NOT DONE
  docs/user-guide/how-to-use-in-numba-features.md
Due: none

writing how-to-use-in-numba-features and NOT DONE
  docs/user-guide/how-to-math-gpu.md
Due: none

replace absolute links with relative ones (if possible)
  docs/getting-started/index.md
  docs/getting-started/thinking-in-arrays.ipynb
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
  docs/switcher.json
  docs/user-guide/how-to-math-argminmax.md
  docs/user-guide/how-to-math-statistics.md
  docs/user-guide/how-to-restructure-concatenate.md
  docs/user-guide/how-to-use-in-numba-intro.md
Due: none

wrote how-to-use-in-numba-features
  docs/user-guide/how-to-use-in-numba-features.md
Due: none

remove 'specialized behavior' because it's all covered in 'ak.behavior', anyway
  docs/_toc.yml
  docs/redirects-user-guide.json
  docs/user-guide/how-to-create-records.md
  docs/user-guide/how-to-specialize-in-numba.md
  docs/user-guide/how-to-specialize-lorentz.md
  docs/user-guide/how-to-specialize-override-numpy.md
  docs/user-guide/how-to-specialize-subclass.md
  docs/user-guide/how-to-specialize.md
  docs/user-guide/how-to-use-in-numba-features.md
Due: none

DRAFT: working on MacOS tests, first get a wheel I can run
  tests/test_1345_avro_reader.py
Due: disallow-caps, require-test-name-identifier

downgrade MacOS to 13
  .github/workflows/packaging-test.yml
Due: disallow-caps

try 'macos-12' instead of 13
  .github/workflows/packaging-test.yml
Due: disallow-caps

fix: awkward_UnionArray_flatten_combine
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_combine.cu
Due: disallow-caps

fix: remove changes
  src/awkward/_nplikes/cupy.py
  src/awkward/contents/listarray.py
  tests-cuda/test_3086_cuda_flatten.py
Due: disallow-caps

refactor: remove dead code
  kernel-specification.yml
  src/awkward/operations/ak_angle.py
  src/awkward/operations/ak_argcartesian.py
  src/awkward/operations/ak_imag.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_merge_option_of_records.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_real.py
  src/awkward/operations/ak_run_lengths.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

fix: cases
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unionarray.py
  src/awkward/index.py
Due: disallow-caps

fix: error
  src/awkward/index.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
