Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: don't use update_wrapper - it maintains a ref
  src/awkward/_errors.py
Due: disallow-caps

chore: delete wip kernel
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_broadcast_tooffsets.cu
Due: disallow-caps

fix: only weakref-wrap methods
  src/awkward/_errors.py
Due: disallow-caps

test: add xfails and split tests
  tests-cuda/test_1276_cuda_transfers.py
Due: disallow-caps

Adjust for changes in Numba.
  tests-cuda/test_1300_same_for_numba_cuda.py
Due: disallow-caps

test: Make cuda tests pass (#2570)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_errors.py
  src/awkward/_kernels.py
  src/awkward/contents/listoffsetarray.py
  tests-cuda/test_1276_cuda_num.py
  tests-cuda/test_1276_cuda_transfers.py
  tests-cuda/test_1276_cupy_interop.py
  tests-cuda/test_1276_from_cupy.py
  tests-cuda/test_1300_same_for_numba_cuda.py
  tests-cuda/test_1381_check_errors.py
  tests-cuda/test_1809_array_cuda_jit.py
Due: disallow-caps

fix: include _kernel_signatures.py in package
  pyproject.toml
Due: disallow-caps

test: fix exception handling on 3.8
  tests-cuda/test_1381_check_errors.py
Due: disallow-caps

chore: add GPU test executor
  dev/cuda-tests-entrypoint
  dev/cuda-tests.Dockerfile
Due: disallow-caps

chore: bundle entrypoint
  dev/cuda-tests.Dockerfile
  dev/generate-kernel-signatures.py
Due: disallow-caps

chore: add helpers for GPU testing in containers
  dev/cuda-tests-entrypoint
  dev/cuda-tests.service
  dev/cuda-tests.timer
Due: disallow-caps

refactor: add README
  dev/cuda-tests/README.md
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.Dockerfile
  dev/cuda-tests/cuda-tests.service
  dev/cuda-tests/cuda-tests.timer
Due: disallow-caps

refactor: add README
  dev/cuda-tests/README.md
Due: disallow-caps

docs: nvidia-ctk
  dev/cuda-tests/README.md
Due: disallow-caps

docs: cleanup comments
  dev/cuda-tests/cuda-tests-entrypoint
Due: disallow-caps

fix: enable awkward reporting, make service oneshot
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.service
Due: disallow-caps

fix: include `_kernel_signatures.py` in package (#2819)
  dev/cuda-tests/README.md
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.Dockerfile
  dev/cuda-tests/cuda-tests.service
  dev/cuda-tests/cuda-tests.timer
  dev/generate-kernel-signatures.py
  pyproject.toml
  tests-cuda/test_1381_check_errors.py
Due: disallow-caps

The next version of Awkward will be 2.5.0
  pyproject.toml
Due: disallow-caps

docs: update version switcher
  docs/switcher.json
Due: none

fix; ufunc handling of attrs
  src/awkward/_connect/numpy.py
Due: disallow-caps

test: ensure ufunc!
  tests/test_2837_ufunc_attrs_behavior.py
Due: disallow-caps, require-test-name-identifier

fix: ufunc handling of attrs (#2837)
  src/awkward/_connect/numpy.py
  tests/test_2837_ufunc_attrs_behavior.py
Due: disallow-caps, require-test-name-identifier

refactor: split "meta" into `Meta`
  src/awkward/_meta/__init__.py
  src/awkward/_meta/bitmaskedmeta.py
  src/awkward/_meta/bytemaskedmeta.py
  src/awkward/_meta/emptymeta.py
  src/awkward/_meta/indexedmeta.py
  src/awkward/_meta/indexedoptionmeta.py
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/listoffsetmeta.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/regularmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/_meta/unmaskedmeta.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
Due: disallow-caps

refactor: use generics for type safety
  src/awkward/_meta/bitmaskedmeta.py
  src/awkward/_meta/bytemaskedmeta.py
  src/awkward/_meta/indexedmeta.py
  src/awkward/_meta/indexedoptionmeta.py
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/listoffsetmeta.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/regularmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/_meta/unmaskedmeta.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/types/recordtype.py
Due: disallow-caps

chore: update hints from mypy
  src/awkward/_meta/bitmaskedmeta.py
  src/awkward/_meta/bytemaskedmeta.py
  src/awkward/_meta/indexedmeta.py
  src/awkward/_meta/indexedoptionmeta.py
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/listoffsetmeta.py
  src/awkward/_meta/regularmeta.py
  src/awkward/_meta/unmaskedmeta.py
  src/awkward/forms/numpyform.py
Due: disallow-caps

fix: harden content subclass lookup
  src/awkward/_connect/pyarrow.py
Due: disallow-caps

refactor: more hints
  pyproject.toml
  src/awkward/_meta/listmeta.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/contents/content.py
  src/awkward/forms/form.py
Due: disallow-caps

refactor: drop unused `_content` declarations
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

chore: make the CUDA test configuration more resilient at startup
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.service
Due: disallow-caps

chore: make the CUDA test configuration more resilient at startup (#2846)
  dev/cuda-tests/cuda-tests-entrypoint
  dev/cuda-tests/cuda-tests.service
Due: disallow-caps

ci: fix path to header only tests
  .github/workflows/header-only-test.yml
Due: disallow-caps

ci: fix path to header only tests (#2851)
  .github/workflows/header-only-test.yml
Due: disallow-caps

fix: do not evaluate ufunc on fill value
  src/awkward/operations/ak_full_like.py
Due: disallow-caps

fix: check fill value is scalar
  src/awkward/operations/ak_full_like.py
Due: disallow-caps

test: add simple test
  tests/test_2857_full_like_scalar.py
Due: disallow-caps, require-test-name-identifier

docs: markdown link interpreted as path, trying HTML
  docs/getting-started/try-awkward-array.md
Due: none

docs: link to execute notebook full screen
  docs/getting-started/try-awkward-array.md
Due: none

Revert "docs: markdown link interpreted as path, trying HTML"
  docs/getting-started/try-awkward-array.md
Due: none

Revert "docs: link to execute notebook full screen"
  docs/getting-started/try-awkward-array.md
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
