Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

refactor: detect length using `checklength`
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: don't check lengths twice
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: add more type hints
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: prefer known lengths
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: better handling of unknown lengths
  src/awkward/_broadcasting.py
Due: disallow-caps

chore: appease pylint
  src/awkward/_broadcasting.py
Due: disallow-caps

chore: ruff moved to astral-sh\n\nSee https://github.com/scientific-python/cookie/pull/205.
  .pre-commit-config.yaml
Due: none

Update URL; does it fit on one line?
  header-only/CMakeLists.txt
Due: disallow-caps

fix: make C++ LayoutBuilder API consistent with the Numba's (#2553)
  docs/user-guide/how-to-use-header-only-layoutbuilder.md
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

chore: target-version no longer needed by Black or Ruff
  pyproject.toml
Due: disallow-caps

fix: prefer known to unknown lengths in broadcasting (#2561)
  src/awkward/_broadcasting.py
Due: disallow-caps

chore: ruff moved to astral-sh (#2562)
  .pre-commit-config.yaml
Due: none

fix: convert unknown-length to index in `ListOffsetArray.to_RegularArray` (#2560)
  src/awkward/contents/listoffsetarray.py
  tests/test_2560_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

The next awkward-cpp release will be version 19.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

refactor: string broadcasting is just left-broadcasting!
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: small code cleanups
  src/awkward/_broadcasting.py
Due: disallow-caps

refactor: drop separate optimised codepath
  src/awkward/_broadcasting.py
Due: disallow-caps

test: add tests for strings
  tests/test_2564_string_broadcast_regular.py
Due: disallow-caps, require-test-name-identifier

chore: re-instate an LB for NumPy dependency
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: broadcasting of regular strings (#2564)
  src/awkward/_broadcasting.py
  tests/test_2564_string_broadcast_regular.py
Due: disallow-caps, require-test-name-identifier

chore: move C++ format configuration (#2554)
  awkward-cpp/.clang-format
  awkward-cpp/.clang-tidy
  awkward-cpp/.cmake-format.yaml
  header-only/CMakeLists.txt
  header-only/examples/cython/CMakeLists.txt
  header-only/examples/pybind11/CMakeLists.txt
  header-only/tests/CMakeLists.txt
  runtime.txt
Due: disallow-caps

chore: drop Python 3.7 (#2557)
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  awkward-cpp/pyproject.toml
  docs/requirements.txt
  pyproject.toml
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_typing.py
  src/awkward/highlevel.py
Due: disallow-caps

chore: target-version no longer needed by Black or Ruff (#2563)
  pyproject.toml
Due: disallow-caps

The next awkward-cpp version will be 20
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

ci: drop cp37 in CI
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

chore: drop deprecations
  src/awkward/contents/emptyarray.py
  src/awkward/contents/unionarray.py
  src/awkward/forms/emptyform.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

fix: allow `parameters=None`
  src/awkward/contents/emptyarray.py
  src/awkward/forms/emptyform.py
  src/awkward/types/unknowntype.py
  tests/test_0773_typeparser.py
  tests/test_1440_start_v2_to_parquet.py
Due: disallow-caps, require-test-name-identifier

chore: add dev script to order release notes
  dev/format-release-prs
Due: disallow-caps

fix: restore NEP-18 overloads for concatenate and where
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

fix: more constructors
  src/awkward/contents/emptyarray.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

fix: allow empty-dicts
  src/awkward/contents/emptyarray.py
  src/awkward/forms/emptyform.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

test: don't test parameters for EmptyArray
  tests/test_0032_replace_dressedtype.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

refactor: use `len(x) == 0` instead of `x == {}`
  src/awkward/contents/emptyarray.py
  src/awkward/forms/emptyform.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

test: fix tests
  tests/test_0057_introducing_forms.py
  tests/test_0089_numpy_functions.py
  tests/test_0773_typeparser.py
  tests/test_0914_types_and_forms.py
  tests/test_1125_to_arrow_from_arrow.py
Due: disallow-caps, require-test-name-identifier

fix: remove test for UNSET
  src/awkward/contents/emptyarray.py
Due: disallow-caps

docs: fix parameters in empty array
  docs/user-guide/how-to-create-constructors.md
Due: none

feat!: apply retroactive deprecations (#2566)
  docs/user-guide/how-to-create-constructors.md
  src/awkward/contents/emptyarray.py
  src/awkward/contents/unionarray.py
  src/awkward/forms/emptyform.py
  src/awkward/types/unknowntype.py
  tests/test_0032_replace_dressedtype.py
  tests/test_0057_introducing_forms.py
  tests/test_0089_numpy_functions.py
  tests/test_0773_typeparser.py
  tests/test_0914_types_and_forms.py
  tests/test_1125_to_arrow_from_arrow.py
  tests/test_1294_to_and_from_parquet.py
  tests/test_1440_start_v2_to_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: restore NEP-18 overloads for concatenate and where (#2567)
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

The next awkward version will be version 2.3.0
  pyproject.toml
Due: disallow-caps

fix: added kernel specializations for awkward_ListOffsetArray_reduce_local_nextparents_64.
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_local_nextparents_64.cpp
  kernel-specification.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
