Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

ci: use self-hosted CI for codecov (#3901)
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  codecov.yml
Due: disallow-caps

Modify cache key for awkward-cpp wheel
  .github/workflows/test.yml
Due: disallow-caps

Add files via upload
  docs/api-contribution-policy.pdf
Due: none

chore: Update Python version from 3.10 to 3.14 in ROOT workflow (#3876)
  .github/workflows/test.yml
Due: disallow-caps

feat: reimplement reducers kernels using cccl (#3840)
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_kernels.py
Due: disallow-caps

for now call new cuda.compute kernels from `cupy.py`. They should be moved to `_connect/cuda/reducers.py` in the next PR
  src/awkward/_backends/cupy.py
Due: disallow-caps

there is no need to return the result from inside the kernels
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_connect/cuda/reducers.py
Due: disallow-caps

initialize `awkward_localindex`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

style fix
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

use array_equal here
  src/awkward/operations/ak_almost_equal.py
  tests/properties/operations/test_to_from_buffers.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3921_array_equal_datetime_and_timedelta.py
Due: disallow-caps, require-test-name-identifier

feat: add missing_repeat implementation using cuda.compute
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

keep the same name as in cpu kernel
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

feat: customly overload the reducers that call cuda-compute kernels (#3894)
  requirements-test-gpu.txt
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/reducers.py
  tests-cuda/test_3894_overload_reducers_for_cuda_compute.py
Due: disallow-caps

add tests for repetitions>1 and regularsize>1
  tests-cuda/test_3922_missing_repeat_with_repetitions.py
Due: disallow-caps

feat: add `index_rpad_and_clip` kernels implementation using cuda.compute
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add a test for `index_rpad_and_clip_axis0` that would have target>length
  kernel-test-data.json
Due: disallow-caps

original implementation of `ListOffsetArray_reduce_local_nextparents_64`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

use cp.*() functions instead (this kernel is operating on flat arrays so there is no need for handling each segment separately)
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

implement `ListOffsetArray_reduce_local_outoffsets_64`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: fix `ak.array_equal` with datetimes and timedeltas with NaTs (#3921)
  src/awkward/operations/ak_almost_equal.py
  tests/properties/operations/test_to_from_buffers.py
  tests/test_3921_array_equal_datetime_and_timedelta.py
Due: disallow-caps, require-test-name-identifier

test(byteswap): add per-backend coverage for numpy, jax, and cuda
  src/awkward/_nplikes/cupy.py
  tests-cuda/test_2673_byteswap_cuda.py
  tests-cuda/test_3845_nplike_byteswap_cuda.py
  tests-cuda/test_3907_cuda_array_interface.py
  tests-cuda/test_byteswap_cupy.py
  tests/properties/operations/test_to_from_buffers.py
  tests/test_2673_byteswap_jax.py
  tests/test_2673_byteswap_numpy.py
  tests/test_3820_from_buffers_byteorder.py
  tests/test_3845_nplike_byteswap_jax.py
  tests/test_3845_nplike_byteswap_numpy.py
  tests/test_3889_layout_length_generators.py
  tests/test_3891_virtualarray_byteswap_lazy.py
  tests/test_3906_fields_access_returns_shallow_copy.py
  tests/test_3907_getattr_cuda_array_interface.py
  tests/test_byteswap_jax.py
  tests/test_byteswap_numpy.py
Due: disallow-caps, require-test-name-identifier

Remove rapidsai channel
  .github/workflows/test.yml
Due: disallow-caps

Use Python 3.14
  .github/workflows/test.yml
Due: disallow-caps

fix: remove color
  docs/_static/css/awkward.css
Due: none

docs: remove colour in intro cards (#3926)
  docs/_static/css/awkward.css
Due: none

Improved documentation clarity
  README.md
Due: disallow-caps

overload all the reducers
  src/awkward/_connect/cuda/reducers.py
Due: disallow-caps

no need to call the kernels from `_backends/cupy.py` now
  src/awkward/_backends/cupy.py
Due: disallow-caps

there is a need to call directly kernels from `_backends/cupy.py` (for example from `tests-cuda-kernels-explicit`)
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/_connect/cuda/reducers.py
Due: disallow-caps

forgot to return
  src/awkward/_backends/cupy.py
Due: disallow-caps

feat: add `awkward_NumpyArray_reduce_adjust_starts_shifts_64` kernel implementation using cupy
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

test: add property-based tests for `ak.array_equal` (#3891)
  tests/properties/operations/test_array_equal.py
Due: disallow-caps, require-test-name-identifier

add `awkward_NumpyArray_reduce_mask_ByteMaskedArray_64` kernel implementation using cupy
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add a comment
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

feat: add a `ListArray_getitem_jagged_carrylen` kernel using cupy
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add a `ListArray_getitem_jagged_descend` kernel using cupy
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

modify how the `test_unit_cudaawkward_ListArray32_getitem_jagged_descend_64.py` is generated
  dev/generate-tests.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix a mistake
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
