Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

update macos arch for actions
  .github/workflows/test.yml
Due: disallow-caps

feat: copy_behaviors to make sub-classing easy (#3137)
  src/awkward/_util.py
  tests/test_2433_copy_behaviors.py
Due: disallow-caps, require-test-name-identifier

chore: bump awkward-cpp version number to 35
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: the next release will be 2.6.6
  pyproject.toml
Due: disallow-caps

cleanup
  .github/workflows/test.yml
Due: disallow-caps

exclude x64 for macos
  .github/workflows/test.yml
Due: disallow-caps

fix typo
  .github/workflows/test.yml
Due: disallow-caps

exclude arm64 from windows and ubuntu
  .github/workflows/test.yml
Due: disallow-caps

rebuild avro from source
  .github/workflows/test.yml
Due: disallow-caps

revert
  .github/workflows/test.yml
Due: disallow-caps

update header-only-test.yml to macos-latest
  .github/workflows/header-only-test.yml
Due: disallow-caps

update build-wheels.yml to macos-latest
  .github/workflows/build-wheels.yml
Due: disallow-caps

update packaging-test.yml to macos-latest
  .github/workflows/packaging-test.yml
Due: disallow-caps

build universal build-wheels.yml
  .github/workflows/build-wheels.yml
Due: disallow-caps

for python 3.8
  .github/workflows/build-wheels.yml
Due: disallow-caps

split macos builds
  .github/workflows/build-wheels.yml
Due: disallow-caps

update for python 3.8 in packaging-test.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

move to macos-13
  .github/workflows/packaging-test.yml
Due: disallow-caps

chore: study of simple version of notebook solution in cupy
  studies/cuda-kernels/combinations/combinations_mathematical_cupy.py
Due: none

fix: use starts and stops
  studies/cuda-kernels/combinations/combinations_mathematical_cupy.py
Due: none

chore: add replacement case
  studies/cuda-kernels/combinations/combinations_mathematical_cupy.py
Due: none

fix: copy_behaviors should not skip the * entry
  src/awkward/_util.py
Due: disallow-caps

Update build-wheels.yml
  .github/workflows/build-wheels.yml
Due: disallow-caps

Update packaging-test.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

feat: add combination kernels for n equal 2
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
Due: disallow-caps

test: integration tests for CUDA combinations
  tests-cuda/test_3150_combinations_n_equal_2.py
Due: disallow-caps

fix: some fixes in tests and combinations
  awkward-cpp/src/cpu-kernels/awkward_RegularArray_combinations_64.cpp
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

fix: awkward_ListOffsetArray_drop_none_indexes.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_drop_none_indexes.cu
Due: disallow-caps

fix: awkward_IndexedArray_ranges_next_64 kernel
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_ranges_next_64.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

fix: ak.to_parquet for a record-like non-Record
  src/awkward/operations/ak_to_parquet.py
  tests/test_3174_to_parquet_record.py
Due: disallow-caps, require-test-name-identifier

feat: add sum_bool, prod_bool, countnonzero complex
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_bool_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool_complex.cu
  tests-cuda/test_3149_complex_reducers.py
  tests-cuda/test_3162_block_boundary.py
Due: disallow-caps

test: add complex tests for ak.all and ak.any
  tests-cuda/test_3149_complex_reducers.py
  tests-cuda/test_3162_block_boundary_reducers.py
Due: disallow-caps

fix: index access issue in argmin and argmax complex
  awkward-cpp/src/cpu-kernels/awkward_reduce_argmax_complex.cpp
  awkward-cpp/src/cpu-kernels/awkward_reduce_argmin_complex.cpp
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

fix: remove extra kernel from list
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
Due: disallow-caps

feat: add min and max complex
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_3149_complex_reducers.py
Due: disallow-caps

feat: added awkward_IndexedArray_local_preparenext_64
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_local_preparenext_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_nonlocal_nextstarts_64.cu
Due: disallow-caps

test: add tests
  kernel-test-data.json
  tests-cuda/test_3162_block_boundary_reducers.py
Due: disallow-caps

chore: add study for n 3 to 5 for squashed order
  studies/cuda-kernels/combinations/combinations_lexicographic_n_2.py
  studies/cuda-kernels/combinations/combinations_squashed_order_n_3_to_5.py
Due: none

First attempted fix, partial success
  src/awkward/_broadcasting.py
  src/awkward/operations/ak_where.py
  tests/test_3098_ak_where_with_arrays_containing_optionals.py
Due: disallow-caps, require-test-name-identifier

More fixes, more limited success
  src/awkward/_broadcasting.py
  tests/test_3098_ak_where_with_arrays_containing_optionals.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
