Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

chore: profile: add benchmark script (#4073)
  studies/cccl/bench_reduce_bool.py
Due: none

feat: lazy concatenation of virtual arrays (#4010)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  tests/test_4010_virtual_array_lazy_concatenation.py
Due: disallow-caps, require-test-name-identifier

feat: add some of the kernels using cuda.compute (#3981)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

resolve the conflicts
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

feat: migrate some more kernels to cuda.compute (#4019)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  tests-cuda/test_1381_check_errors.py
Due: disallow-caps

Fixed build command
  .github/workflows/reusable-build-wheels.yml
Due: disallow-caps

ci: fix build wheels workflow (#4074)
  .github/workflows/reusable-build-wheels.yml
Due: disallow-caps

Update create-args to remove root version
  .github/workflows/reusable-test.yml
Due: disallow-caps

Use hashes for all actions
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/lint.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-header-only-test.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/semantic-pr-title.yml
Due: disallow-caps

Fixed zizmor warnings
  .github/workflows/ci.yml
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/lint.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-header-only-test.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/semantic-pr-title.yml
  .github/workflows/upload-nightly-wheels.yml
Due: disallow-caps

Use hashes for pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add uv config
  pyproject.toml
Due: disallow-caps

Fixed permission issue
  .github/workflows/ci.yml
Due: disallow-caps

Fixed a couple of issues
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-test.yml
Due: disallow-caps

Fixed env variable
  .github/workflows/reusable-test.yml
Due: disallow-caps

Don't run scheduled jobs on forks
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-test.yml
Due: disallow-caps

Minor tweaks
  .github/workflows/ci.yml
  .github/workflows/reusable-test.yml
Due: disallow-caps

chore(ci): harden ci config (#4075)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/lint.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-header-only-test.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/semantic-pr-title.yml
  .github/workflows/upload-nightly-wheels.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: disallow-caps

fix: add missing support for attrs in parquet serialisation
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

style: remove unnecessary change to _read_parquet_file return format
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

style: rename parquet attrs serialisation test name to be clearer
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

style: run precommit
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

refactor: handle find errors from precommit
  src/awkward/operations/ak_from_parquet.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

awkward 2.9.1 and awkward-cpp 53
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

refactor: split awkward and parquet attr parquet serialisation tests
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

Fixed upload step
  .github/workflows/deploy.yml
Due: disallow-caps

ci: fix deploy job (#4082)
  .github/workflows/deploy.yml
Due: disallow-caps

fix: add check that passed array has .attrs before trying to access it
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

migrate `UnionArray` kernels
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: use importskip for pandas .attrs test
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

update `UnionArray` kernels
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

exclude `UnionArray_flatten_length` and `UnionArray_flatten_combine` kernels
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix the tests
  dev/generate-tests.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: set the minimum pandas version for testing .attrs reading from parquet
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

fix: add missing .attrs support in parquet serialisation (#4079)
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_parquet.py
  tests/test_1294_to_and_from_parquet.py
Due: disallow-caps, require-test-name-identifier

chore: add an AGENTS file
  .gitignore
  AGENTS.md
Due: disallow-caps

Update AGENTS.md
  AGENTS.md
Due: disallow-caps

chore: add an AGENTS file (#4086)
  .gitignore
  AGENTS.md
Due: disallow-caps

Don't refuse to install awkward_cpp
  pyproject.toml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
