Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

feat: check `__list__` for nominal types
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
  src/awkward/_parameters.py
Due: disallow-caps

refactor: guard all array checks in content
  src/awkward/contents/content.py
Due: disallow-caps

feat: add guard for `__list__` parameter on non-lists
  src/awkward/contents/content.py
Due: disallow-caps

fix: address Jim's comments
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

feat: add `purelist_parameters` that finds first-wins of multiple parameters
  src/awkward/contents/content.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/record.py
Due: disallow-caps

fix: cleanup
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

fix: all done
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

fix: restore `__array__` as a type parameter
  src/awkward/_parameters.py
Due: disallow-caps

feat: support deeprec `__list__`
  src/awkward/_behavior.py
  tests/test_0032_replace_dressedtype.py
  tests/test_0527_fix_unionarray_ufuncs_and_parameters_in_merging.py
  tests/test_0914_types_and_forms.py
  tests/test_1709_ak_array_constructor_behavior.py
  tests/test_2198_almost_equal.py
Due: disallow-caps, require-test-name-identifier

fix: test for `__list__` instead of `__array__`
  src/awkward/_connect/numpy.py
Due: disallow-caps

wip: re-order `numpy.py`
  src/awkward/_connect/numpy.py
Due: disallow-caps

fix: error if strings appear un-named as only leaves in ufuncs
  src/awkward/_connect/numpy.py
Due: disallow-caps

test: check new features
  tests/test_2549_list_nominal_type.py
Due: disallow-caps, require-test-name-identifier

fix: correct lookup for typer and lowerer of list-types
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

docs: add notes on new behavior
  docs/reference/ak.behavior.md
Due: none

fix: restore old behavior on broadcasting for now
  src/awkward/_connect/numpy.py
Due: disallow-caps

fix: ensure that record is only set for records
  src/awkward/contents/content.py
Due: disallow-caps

test: disable strict check
  tests/test_2549_list_nominal_type.py
Due: disallow-caps, require-test-name-identifier

fix: disable check for `__record__`
  src/awkward/contents/content.py
Due: disallow-caps

feat: implement form method and test it for all builders
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

fix: final cleanup
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

fix: check validity error properly
  src/awkward/_do.py
  src/awkward/contents/content.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

test: add test
  tests/test_2550_validity_error_recursive.py
Due: disallow-caps, require-test-name-identifier

fix: no parameters for Empty
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

The layoutbuilder module must be public, step 1 toward ak.numba.layoutbuilder
  src/awkward/numba/__init__.py
Due: disallow-caps

The layoutbuilder module must be public, step 2 toward ak.numba.layoutbuilder
  pyproject.toml
  src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/numba/__init__.py
  src/awkward/numba/layoutbuilder.py
Due: disallow-caps

The layoutbuilder module must be public, step 3 toward ak.numba.layoutbuilder
  src/awkward/numba/__init__.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

The layoutbuilder module must be public, step 4 toward ak.numba.layoutbuilder
  src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/numba/__init__.py
  src/awkward/numba/layoutbuilder.py
Due: disallow-caps

'Record.content(x)' cannot support a non-literal string as 'x', even conceptually.
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

Empty does not take parameters. Updated.
  src/awkward/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

feat: LayoutBuilder in Numba (#2408)
  pyproject.toml
  src/awkward/_connect/numba/growablebuffer.py
  src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/numba/__init__.py
  src/awkward/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

fix: check validity error properly (#2550)
  src/awkward/_do.py
  src/awkward/contents/content.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  tests/test_2550_validity_error_recursive.py
Due: disallow-caps, require-test-name-identifier

test: drop unnecessary behavior class
  tests/test_2549_list_nominal_type.py
Due: disallow-caps, require-test-name-identifier

test: fix recursion
  tests/test_2549_list_nominal_type.py
Due: disallow-caps, require-test-name-identifier

Update docs/reference/ak.behavior.md
  docs/reference/ak.behavior.md
Due: none

feat: add new `__list__` parameter for list-based array types (#2549)
  docs/reference/ak.behavior.md
  src/awkward/_behavior.py
  src/awkward/_connect/numba/layout.py
  src/awkward/_connect/numpy.py
  src/awkward/_parameters.py
  src/awkward/contents/content.py
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  src/awkward/record.py
  tests/test_0032_replace_dressedtype.py
  tests/test_0527_fix_unionarray_ufuncs_and_parameters_in_merging.py
  tests/test_0914_types_and_forms.py
  tests/test_1709_ak_array_constructor_behavior.py
  tests/test_2198_almost_equal.py
  tests/test_2549_list_nominal_type.py
Due: disallow-caps, require-test-name-identifier

The next awkward-cpp release will be version 18.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: string broadcasting
  src/awkward/_broadcasting.py
  src/awkward/contents/indexedarray.py
  tests/test_XXXX_string_broadcasting.py
Due: disallow-caps, require-test-name-identifier

refactor: drop closure implementation
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: rename Record::field method to content
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1494-layout-builder.cpp
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
