Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

make sure arrays are packed before serializing to safetensors
  src/awkward/operations/ak_from_safetensors.py
  src/awkward/operations/ak_to_safetensors.py
  tests/test_3685_to_from_safetensors.py
Due: disallow-caps, require-test-name-identifier

fix: ensure masked string/bytestring dtypes can hold 'nan' fill value in to_dataframe
  src/awkward/operations/ak_to_dataframe.py
  tests/test_3690_to_dataframe_masked_string_dtype_resize.py
Due: disallow-caps, require-test-name-identifier

update name
  tests/test_3692_to_dataframe_masked_string_dtype_resize.py
Due: disallow-caps, require-test-name-identifier

use fsspec to allow remote writing and reading
  src/awkward/operations/ak_from_safetensors.py
  src/awkward/operations/ak_to_safetensors.py
Due: disallow-caps

fix imports
  tests/test_3692_to_dataframe_masked_string_dtype_resize.py
Due: disallow-caps, require-test-name-identifier

feat: add to_/from_safetensors (#3685)
  docs/reference/toctree.txt
  requirements-test-full.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_safetensors.py
  src/awkward/operations/ak_to_safetensors.py
  tests/test_3685_to_from_safetensors.py
Due: disallow-caps, require-test-name-identifier

fix: ensure masked string/bytestring dtypes can hold 'nan' fill value… (#3692)
  src/awkward/operations/ak_to_dataframe.py
  tests/test_3692_to_dataframe_masked_string_dtype_resize.py
Due: disallow-caps, require-test-name-identifier

fix: add missing units to datetime/timedelta in a test (#3688)
  tests/test_2377_empty_index.py
Due: disallow-caps, require-test-name-identifier

Fix: #3696
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
  kernel-specification.yml
  tests/test_3694_parquet_string_int32_offsets.py
Due: disallow-caps, require-test-name-identifier

Real PR #
  tests/test_3697_parquet_string_int32_offsets.py
Due: disallow-caps, require-test-name-identifier

fix: pass attrs parameter to wrap_layout in from_* (#3687)
  src/awkward/operations/ak_from_cupy.py
  src/awkward/operations/ak_from_dlpack.py
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_from_numpy.py
  tests/test_3687_from_functions_attrs.py
Due: disallow-caps, require-test-name-identifier

Fix kernel specification sort order (CI)
  kernel-specification.yml
Due: disallow-caps

fix: use jax's `__setitem__` syntax in `ak.merge_union_of_records` to make it work with the jax backend (#3596)
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

Import NumbaTypeError from numba.core.errors
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

Fix duplicate numba.int8 entry in dtype mapping
  src/awkward/numba/layoutbuilder.py
Due: disallow-caps

test: add cuda tests for virtual arrays (#3459)
  tests-cuda/test_1300_same_for_numba_cuda.py
  tests-cuda/test_1809_array_cuda_jit.py
  tests-cuda/test_3115_array_typed_cuda_jit.py
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

fix typo
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

chore: small inconsistency/typo with the non-jax case below (#3698)
  src/awkward/operations/ak_merge_union_of_records.py
Due: disallow-caps

Add a test on flattering empty arrays
  tests/test_2377_empty_index.py
Due: disallow-caps, require-test-name-identifier

Update a comment
  tests/test_2377_empty_index.py
Due: disallow-caps, require-test-name-identifier

test: add a test on flattering empty arrays (#3700)
  tests/test_2377_empty_index.py
Due: disallow-caps, require-test-name-identifier

awkward version 2.8.10
  pyproject.toml
Due: disallow-caps

Install cxx compiler
  .github/workflows/test.yml
Due: disallow-caps

Try cuda 11 and 13
  .github/workflows/test.yml
Due: disallow-caps

Install a few more packages
  .github/workflows/test.yml
Due: disallow-caps

Removed redundant packages
  .github/workflows/test.yml
Due: disallow-caps

ci: fix compilation on self-hosted CI and test with multiple versions of CUDA (#3704)
  .github/workflows/test.yml
Due: disallow-caps

Use tmp_path fixture
  tests/test_3697_parquet_string_int32_offsets.py
Due: disallow-caps, require-test-name-identifier

Added new versions to docs version selection
  docs/switcher.json
Due: none

docs: add new versions to version selector (#3707)
  docs/switcher.json
Due: none

fix: string array numpy conversion fails with int32 offsets from parquet (#3697)
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
  kernel-specification.yml
  tests/test_3697_parquet_string_int32_offsets.py
Due: disallow-caps, require-test-name-identifier

chore: update acknowledgements to include NumFOCUS affiliation
  README.md
Due: disallow-caps

chore: update acknowledgements to include NumFOCUS affiliation (#3708)
  README.md
Due: disallow-caps

feat: add behavior cls validation hook
  src/awkward/highlevel.py
Due: disallow-caps

add test and docs
  docs/reference/ak.behavior.md
  tests/test_3710_behavior_validation.py
Due: disallow-caps, require-test-name-identifier

fix: typestr respects now limit_cols for .show and _repr_mimebundle_
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

feat: add behavior cls validation hook (#3710)
  docs/reference/ak.behavior.md
  src/awkward/highlevel.py
  tests/test_3710_behavior_validation.py
Due: disallow-caps, require-test-name-identifier

only check length against empty form if it is known
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: only check length against empty form in `ak.from_buffers` if it is known (#3714)
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

docs: 3.14 is supported
  README.md
Due: disallow-caps
