Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Update layout.py
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

return `0` in `awkward_reduce_count_64` if outlength > len(offsets)
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

first implementation of the `awkward_reduce_countnonzero` kernel
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

return shallow copy
  src/awkward/highlevel.py
Due: disallow-caps

cast bool (i1*) to int8 (i8*)
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

refactor code
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add test
  tests/test_3906_fields_access_returns_shallow_copy.py
Due: disallow-caps, require-test-name-identifier

fix: return shallow copy of fields list when `.fields` is being accessed from highlevel array/record (#3906)
  src/awkward/highlevel.py
  tests/test_3906_fields_access_returns_shallow_copy.py
Due: disallow-caps, require-test-name-identifier

forgot this error
  src/awkward/contents/recordarray.py
Due: disallow-caps

feat: NumpyArray backed by CuPy exposes __cuda_array_interface__
  src/awkward/contents/numpyarray.py
  tests-cuda/test_3907_cuda_array_interface.py
Due: disallow-caps

numba checks all properties
  src/awkward/contents/numpyarray.py
Due: disallow-caps

original implementation of `awkward_reduce_max_complex` (doesn't work - keep for archive)
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add coverage
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

remove cuda test from cpu tests
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

cleanup tests
  tests-cuda/test_3907_cuda_array_interface.py
Due: disallow-caps

mark gpu code for coverage to ignore
  src/awkward/contents/numpyarray.py
Due: disallow-caps

original implementation of `awkward_reduce_sum_bool`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

feat: `NumpyArray` backed by CuPy exposes `__cuda_array_interface__` (#3907)
  src/awkward/contents/numpyarray.py
  tests-cuda/test_3907_cuda_array_interface.py
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

move check out of the loop and allow vectorization
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
Due: disallow-caps

the check is either redundant (guaranteed valid by the caller) or masking a bug
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_preparenext_64.cpp
Due: disallow-caps

rearrange_by_parents
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

implement `awkward_reduce_prod_bool`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix(nplikes): backend-specific byteswap with lazy virtual handling
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/virtual.py
  tests-cuda/test_3845_nplike_byteswap_cuda.py
  tests-cuda/test_byteswap_cupy.py
  tests/test_3891_virtualarray_byteswap_lazy.py
  tests/test_byteswap_jax.py
  tests/test_byteswap_numpy.py
Due: disallow-caps, require-test-name-identifier

implement `awkward_reduce_sum_int32_bool_64` (`awkward_reduce_sum_int64_bool_64` is the same)
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

feat: cuda.compute combinations
  studies/cuda-cccl-kernels/awkward_ListArray_combinations.py
Due: none

Revert "the check is either redundant (guaranteed valid by the caller) or masking a bug"
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_preparenext_64.cpp
Due: disallow-caps

add the last element index to the error
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
Due: disallow-caps

Revert "move check out of the loop and allow vectorization"
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
Due: disallow-caps

feat: improve and fix delayed length calculations and add delayed length calculation for layouts that need it (#3889)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/operations/ak_from_buffers.py
  tests/properties/operations/test_to_from_buffers.py
  tests/test_3889_layout_length_generators.py
Due: disallow-caps, require-test-name-identifier

fix union array almost equal
  src/awkward/operations/ak_almost_equal.py
  tests/properties/operations/test_to_from_buffers.py
Due: disallow-caps, require-test-name-identifier

rewrite based on Ashvin's implementation
  studies/cuda-cccl-kernels/awkward_ListArray_combinations.py
  studies/cuda-cccl-kernels/awkward_ListArray_combinations_faster.py
Due: none

Self-host coverage workflow
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: disallow-caps

Remove nvidia channel
  .github/workflows/coverage.yml
Due: disallow-caps

Remove numba-cuda pin
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: disallow-caps

Remove extra quotes
  .github/workflows/coverage.yml
Due: disallow-caps

Install pipx
  .github/workflows/coverage.yml
Due: disallow-caps

check only the last element
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_drop_none_indexes.cpp
Due: disallow-caps

Revert "feat: `NumpyArray` backed by CuPy exposes `__cuda_array_interface__` …"
  src/awkward/contents/numpyarray.py
  tests-cuda/test_3907_cuda_array_interface.py
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

fix: handle union array simplification returning back indexed arrays in `ak.almost_equal` (#3909)
  src/awkward/operations/ak_almost_equal.py
  tests/properties/operations/test_to_from_buffers.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
