Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

I was changing the wrong workflow file. Let's try new Windows.
  .github/workflows/build-test.yml
Due: disallow-caps

What I really need to test is the wheel-building.
  .github/workflows/build-test.yml
  .github/workflows/wheels.yml
Due: disallow-caps

Try again.
  .github/workflows/wheels.yml
Due: disallow-caps

On second thought, don't upload to PyPI.
  .github/workflows/wheels.yml
Due: disallow-caps

Remove 32-bit Windows from build-test.yml and modernize wheels.yml.
  .github/workflows/build-test.yml
  .github/workflows/wheels.yml
Due: disallow-caps

test: add dask-awkward to at least one of our tests.
  .github/workflows/test.yml
Due: disallow-caps

test: update tests
  src/awkward/_connect/numpy.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_run_lengths.py
  src/awkward/operations/ak_where.py
  tests/test_0002_minimal_listarray.py
  tests/test_0006_deep_iteration.py
  tests/test_0074_argsort_and_sort.py
  tests/test_0093_simplify_uniontypes_and_optiontypes.py
  tests/test_0115_generic_reducer_operation.py
  tests/test_0184_concatenate_operation.py
  tests/test_1072_sort.py
  tests/test_1142_numbers_to_type.py
Due: disallow-caps, require-test-name-identifier

test: cleanup more test lines!
  tests/test_0002_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

fix: swap names for __dlpack__
  src/awkward/index.py
Due: disallow-caps

fix: swap names for __dlpack__ (#2741)
  src/awkward/index.py
Due: disallow-caps

test: skip for existing picklers
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

fix: asarray usage
  src/awkward/_connect/numexpr.py
Due: disallow-caps

test: use importlib_metadata where appropriate
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

fix: re-evaluate!
  src/awkward/_connect/numexpr.py
Due: disallow-caps

fix: don't use `np.asarray` on `Index` or `Content` objects (#2740)
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_run_lengths.py
  src/awkward/operations/ak_where.py
  tests/test_0002_minimal_listarray.py
  tests/test_0006_deep_iteration.py
  tests/test_0074_argsort_and_sort.py
  tests/test_0093_simplify_uniontypes_and_optiontypes.py
  tests/test_0115_generic_reducer_operation.py
  tests/test_0184_concatenate_operation.py
  tests/test_1072_sort.py
  tests/test_1142_numbers_to_type.py
Due: disallow-caps, require-test-name-identifier

chore: check GitHub action workflows against schema
  .pre-commit-config.yaml
Due: none

chore: simplify environment names
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
Due: disallow-caps

ci: use same environments
  .github/workflows/docs.yml
Due: disallow-caps

fix: CI schema
  .github/workflows/test.yml
Due: disallow-caps

test: add dask-awkward to at least one of our tests. (#2739)
  .github/workflows/test.yml
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

ci: improve deployment environment UX (#2742)
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: disallow-caps

fix: `__array__` accepts positional arguments
  src/awkward/contents/content.py
Due: disallow-caps

fix: `__array__` accepts positional arguments (#2744)
  src/awkward/contents/content.py
Due: disallow-caps

The next version will be 2.4.5
  pyproject.toml
Due: disallow-caps

fix: update cppyy module
  src/awkward/cppyy.py
  src/awkward/highlevel.py
Due: disallow-caps

fix: update cppyy module (#2747)
  src/awkward/cppyy.py
  src/awkward/highlevel.py
Due: disallow-caps

Update cppyy.py version
  src/awkward/cppyy.py
Due: disallow-caps

fix: don't call asarray on `Index` objects internally
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_run_lengths.py
  src/awkward/operations/ak_to_categorical.py
  src/awkward/operations/ak_to_dataframe.py
  src/awkward/operations/ak_unflatten.py
  tests/test_1850_bytemasked_array_to_bytemaskedarray.py
Due: disallow-caps, require-test-name-identifier

Update cppyy.py version (#2748)
  src/awkward/cppyy.py
Due: disallow-caps

Update CITATION.cff
  CITATION.cff
Due: disallow-caps

Update CITATION.cff (#2750)
  CITATION.cff
Due: disallow-caps

fix: don't call asarray on `Index` objects internally (#2749)
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_run_lengths.py
  src/awkward/operations/ak_to_categorical.py
  src/awkward/operations/ak_to_dataframe.py
  src/awkward/operations/ak_unflatten.py
  tests/test_1850_bytemasked_array_to_bytemaskedarray.py
Due: disallow-caps, require-test-name-identifier

feat!: revert breaking component of asarray PR
  src/awkward/contents/emptyarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

fix: use `nplike.asarray`
  src/awkward/contents/numpyarray.py
Due: disallow-caps

feat: improve error message
  src/awkward/contents/emptyarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

feat!: revert breaking component of `asarray` PR (#2752)
  src/awkward/contents/emptyarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

The next version will be 2.4.6
  pyproject.toml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
