Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: SVG bug in diagram depicting ragged aggregation (#3648)
  docs-img/diagrams/example-reduction-sum-only.svg
  docs-img/diagrams/example-reduction-sum.svg
Due: none

fix: json signedness fixes
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

Apply suggestion from @ariostas
  dev/generate-tests.py
Due: disallow-caps

feat: add axis=None reducer specializations
  src/awkward/_do.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_reducers.py
Due: disallow-caps

only add an axis=None specialization for sum
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_reducers.py
Due: disallow-caps

fix: cartoon combinations
  docs-img/diagrams/cartoon-combinations.png
  docs-img/diagrams/cartoon-combinations.svg
Due: none

fix png size
  docs-img/diagrams/cartoon-combinations.png
Due: none

adjust colors
  docs-img/diagrams/cartoon-combinations.png
  docs-img/diagrams/cartoon-combinations.svg
Due: none

fix check for rectangular 1D arrays to determine if axis=None can be used
  src/awkward/_do.py
Due: disallow-caps

fix: json signedness fixes (#3651)
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

fix axis=0,1 to axis=None specialization path
  src/awkward/_do.py
Due: disallow-caps

simplify if condition
  src/awkward/_do.py
Due: disallow-caps

feat: add 'how=' to ak.unzip
  src/awkward/operations/ak_unzip.py
Due: disallow-caps

cleanup
  src/awkward/_connect/cuda/cuda_cccl_kernels/__init__.py
  src/awkward/_connect/cuda/cuda_cccl_kernels/awkward_reduce_min.py
  tests-cuda/test_3260_combinations_n_equal_3.py
Due: disallow-caps

docs: fix `touch_data` typo (#3641)
  src/awkward/typetracer.py
Due: disallow-caps

feat: cuda reducers - add `combinations` for n>2, `argmin` and `argmax`, and fix `min`. (#3645)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations_length.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_reduce_adjust_starts_shifts_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
  tests-cuda/test_3149_complex_reducers.py
  tests-cuda/test_3162_block_boundary_reducers.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
  tests-cuda/test_3260_combinations_n_equal_3.py
Due: disallow-caps

feat: add axis=None reducer specializations (#3653)
  src/awkward/_do.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_reducers.py
Due: disallow-caps

feat: add 'how=' to ak.unzip (#3655)
  src/awkward/operations/ak_unzip.py
Due: disallow-caps

fix: cartoon combinations (#3654)
  docs-img/diagrams/cartoon-combinations.png
  docs-img/diagrams/cartoon-combinations.svg
Due: none

ocs: update CONTRIBUTING guidelines
  CONTRIBUTING.md
Due: disallow-caps

docs: update CONTRIBUTING guidelines (#3656)
  CONTRIBUTING.md
Due: disallow-caps

awkward release 2.8.9 and awkward-cpp 50
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: update image cell in thinking-in-arrays.ipynb
  docs/getting-started/thinking-in-arrays.ipynb
Due: none

set timeout to 2 min per cell
  docs/conf.py
Due: none

Update index.md
  docs/reference/index.md
Due: none

make most tests pass on big-endian
  src/awkward/_do.py
  src/awkward/_pickle.py
  src/awkward/contents/numpyarray.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2067_to_buffers_byteorder.py
  tests/test_2198_almost_equal.py
  tests/test_2305_nep_18_lazy_conversion.py
  tests/test_2424_almost_equal_union_record.py
  tests/test_2857_full_like_scalar.py
Due: disallow-caps, require-test-name-identifier

convert integer-like dims to python integers in __init__
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

Update how-to-convert-rdataframe.md
  docs/user-guide/how-to-convert-rdataframe.md
Due: none

fix: how-to-convert-rdataframe.md
  docs/user-guide/how-to-convert-rdataframe.md
Due: none

fix: update image cell in thinking-in-arrays.ipynb (#3660)
  docs/conf.py
  docs/getting-started/thinking-in-arrays.ipynb
  docs/reference/index.md
  docs/user-guide/how-to-convert-rdataframe.md
Due: none

drop emptyarray from merging
  src/awkward/contents/emptyarray.py
Due: disallow-caps

add test
  tests/test_3664_concatenate_emptyarays.py
Due: disallow-caps, require-test-name-identifier

more testing
  tests/test_3664_concatenate_emptyarays.py
Due: disallow-caps, require-test-name-identifier

some comment changes
  src/awkward/contents/emptyarray.py
  tests/test_3664_concatenate_emptyarays.py
Due: disallow-caps, require-test-name-identifier

seeded and better tests
  tests/test_3664_concatenate_emptyarays.py
Due: disallow-caps, require-test-name-identifier

do not use legacy api
  tests/test_3664_concatenate_emptyarays.py
Due: disallow-caps, require-test-name-identifier

migrate to arm64 label
  .github/workflows/test.yml
Due: disallow-caps

Update header-only-test.yml
  .github/workflows/header-only-test.yml
Due: disallow-caps

Update packaging-test.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

Update build-wheels.yml
  .github/workflows/build-wheels.yml
Due: disallow-caps
