Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

add new functions
  docs/reference/toctree.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_tensorflow.py
  src/awkward/operations/ak_to_tensorflow.py
Due: disallow-caps

add tests
  src/awkward/operations/ak_from_tensorflow.py
  src/awkward/operations/ak_to_tensorflow.py
  tests/test_3292_to_tensorflow_from_tensorflow.py
Due: disallow-caps, require-test-name-identifier

fix: correct handling of keepdims and mask_identity for weighted mean (#3291)
  src/awkward/operations/ak_mean.py
  tests/test_3285_ak_mean_weighted_row_wise.py
Due: disallow-caps, require-test-name-identifier

fix compiler errors
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

fix windows error
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

Pyodide 0.26.3, awkward-cpp 33, awkward 2.6.4 all go together
  docs/_static/try-it.html
Due: none

chore: increase try-it version of Awkward to 2.6.4 (#3279)
  docs/_static/try-it.html
Due: none

feat: to/from TensorFlow Tensor (#3292)
  docs/reference/toctree.txt
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_tensorflow.py
  src/awkward/operations/ak_to_tensorflow.py
  tests/test_3292_to_tensorflow_from_tensorflow.py
Due: disallow-caps, require-test-name-identifier

feat: updated LayoutBuilder.h (added functors) for C++11 compatibility (#3281)
  header-only/layout-builder/awkward/LayoutBuilder.h
Due: disallow-caps

[DNM] Add simple slice test to cuda (#3242)
  tests-cuda/test_3140_cuda_slicing.py
Due: disallow-caps

chore: bump awkward-cpp version number to 40
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: the next release will be 2.6.10
  pyproject.toml
Due: disallow-caps

chore: remove Python 3.8, ensure Python 3.13 is included
  .github/workflows/test.yml
  README.md
  noxfile.py
  pyproject.toml
Due: disallow-caps

maybe fix failing tests
  .github/workflows/packaging-test.yml
  awkward-cpp/src/awkward_cpp/cpu_kernels.py
  awkward-cpp/src/awkward_cpp/libawkward.py
Due: disallow-caps

minimum NumPy for Python 3.9 is 1.19.3
  requirements-test-minimal.txt
Due: disallow-caps

chore: remove Python 3.8, ensure Python 3.13 is included (#3295)
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
  README.md
  awkward-cpp/src/awkward_cpp/cpu_kernels.py
  awkward-cpp/src/awkward_cpp/libawkward.py
  dev/flake8_awkward.py
  noxfile.py
  pyproject.toml
  requirements-test-minimal.txt
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

chore: awkward-cpp version 41 and awkward version 2.7.0
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: remove '38' from list of Python wheels to build
  .github/workflows/build-wheels.yml
Due: disallow-caps

chore: skip /opt/python/cp38-cp38/bin/python in cibuildwheel
  cibuildwheel.toml
Due: disallow-caps

fix ragged tensor on gpu
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

fix: test from_raggedtensor on CUDA
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

pre-commit fixes
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_1381_check_errors.py
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

chore: undo 8bbc8a69ff6310a447b3ea39282becca9f9c9a7e, set awkward-cpp python_requires, and bump version numbers
  awkward-cpp/pyproject.toml
  cibuildwheel.toml
  pyproject.toml
Due: disallow-caps

fix: test from_raggedtensor on CUDA (#3298)
  tests/test_3210_to_raggedtensor_from_raggedtensor.py
Due: disallow-caps, require-test-name-identifier

fix: use None when ndims can't be inferred from a layout-like obj
  src/awkward/_namedaxis.py
Due: disallow-caps

fix: ak.argcombinations should allow negative axis
  src/awkward/operations/ak_argcombinations.py
  tests/test_3300_allow_negative_axis_in_argcombinations.py
Due: disallow-caps, require-test-name-identifier

fix: ak.argcombinations should allow negative axis
  tests/test_3300_allow_negative_axis_in_argcombinations.py
Due: disallow-caps, require-test-name-identifier

fix: use None when ndims can't be inferred from a layout-like obj (#3299)
  src/awkward/_namedaxis.py
Due: disallow-caps

restrict _get_named_axis by default to awkward-arrays only
  src/awkward/_broadcasting.py
  src/awkward/_namedaxis.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

fix boolean condition
  src/awkward/_namedaxis.py
Due: disallow-caps

fix: ak.argcombinations should allow negative axis (#3301)
  src/awkward/operations/ak_argcombinations.py
  tests/test_3300_allow_negative_axis_in_argcombinations.py
Due: disallow-caps, require-test-name-identifier

fix: restrict `named_axis` inferring to `ak.Arrays/ak.Records/ak.HighLevelContexts` by default (#3304)
  src/awkward/_broadcasting.py
  src/awkward/_namedaxis.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

Upstream API changes in cuDF 24.10
  src/awkward/contents/listoffsetarray.py
  src/awkward/operations/ak_to_cudf.py
Due: disallow-caps

feat: Content.form_with_key_path()
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

fixed type hint (tests would have caught it)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

fix limit on number of regular arrays
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_regular_index.cpp
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_regular_index_getsize.cpp
  kernel-specification.yml
  tests/test_3312_concatenate_regular_arrays.py
Due: disallow-caps, require-test-name-identifier

sort specializations
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_regular_index.cpp
  kernel-specification.yml
Due: disallow-caps

sort one more
  awkward-cpp/src/cpu-kernels/awkward_UnionArray_regular_index_getsize.cpp
  kernel-specification.yml
Due: disallow-caps

gitignore: add ropeproject (IDE)
  .gitignore
Due: disallow-caps

fix typing & enforce tuple record field names as strings
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/form.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
