Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

can't use np.core anymore, but didn't need to
  src/awkward/_operators.py
Due: disallow-caps

finalize full_like logic
  src/awkward/operations/ak_full_like.py
  tests/test_0813_full_like_dtype_arg.py
Due: disallow-caps, require-test-name-identifier

numpy 2 turns a warning into an error
  tests/test_2793_nep_50_gradual_support.py
Due: disallow-caps, require-test-name-identifier

feat: Allow interoperability with numpy 2.x (#3064)
  .github/workflows/test.yml
  awkward-cpp/pyproject.toml
  kernel-test-data.json
  pyproject.toml
  requirements-test-numpy2.txt
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_operators.py
  src/awkward/errors.py
  src/awkward/operations/ak_full_like.py
  tests/test_0813_full_like_dtype_arg.py
  tests/test_1137_num.py
  tests/test_1904_drop_none.py
  tests/test_1914_improved_axis_to_posaxis.py
  tests/test_2411_cartesian_axis_validation.py
  tests/test_2793_nep_50_gradual_support.py
Due: disallow-caps, require-test-name-identifier

chore: the next release will be 2.6.3.
  pyproject.toml
Due: disallow-caps

chore: the next awkward-cpp release will be 32.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: determine Windows dtype from NumPy, because it depends on NumPy 1.x vs 2.0
  src/awkward/_reducers.py
Due: disallow-caps

test NumPy 2.0 on all platforms
  .github/workflows/test.yml
Due: disallow-caps

fall back to second-guessing NumPy
  src/awkward/_reducers.py
  src/awkward/_util.py
Due: disallow-caps

package name
  src/awkward/_util.py
Due: disallow-caps

fix: Windows and 32-bit Linux default to 32-bit integers in sums and prods UNLESS it's NumPy 2.0 (#3068)
  .github/workflows/test.yml
  src/awkward/_reducers.py
  src/awkward/_util.py
Due: disallow-caps

fix: failing tests
  kernel-test-data.json
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

fix: awkward_UnionArray_regular_index_getsize
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_regular_index_getsize.cu
Due: disallow-caps

test: add unit tests for BitMaskeArray kernels
  kernel-test-data.json
Due: disallow-caps

fix: remove tests with OverflowError
  kernel-test-data.json
Due: disallow-caps

refactor: split test files
  tests-cuda/test_3065_cuda_kernels.py
  tests-cuda/test_3065a_cuda_kernels.py
  tests-cuda/test_3065b_cuda_kernels.py
Due: disallow-caps

test: add more tests
  tests-cuda/test_3065b_cuda_kernels.py
Due: disallow-caps

tests: add and rearrange tests
  tests-cuda/test_3065b_cuda_kernels.py
  tests-cuda/test_3065c_cuda_kernels.py
Due: disallow-caps

fix: restrict ak.softmax to axis=-1, the only axis for which the calculation is correct right now
  src/awkward/operations/ak_softmax.py
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

fix: restrict ak.softmax to axis=-1, the only axis for which the calculation is correct right now (#3072)
  src/awkward/operations/ak_softmax.py
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

test: cuda integration tests (#3065)
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_regular_index_getsize.cu
  src/awkward/contents/content.py
  src/awkward/operations/ak_firsts.py
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
  tests-cuda/test_3065a_cuda_kernels.py
  tests-cuda/test_3065b_cuda_kernels.py
  tests-cuda/test_3065c_cuda_kernels.py
Due: disallow-caps

fix: Numpy 2.0 out of bounds error for BitMaskedArray Py kernels
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

fix: Numpy 2.0 out of bounds error for BitMaskedArray Py kernels (#3073)
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

feat: TypeTracerReport.data_touched_in should ignore unrecognized node_ids
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

feat: TypeTracerReport.data_touched_in should ignore unrecognized node_ids (#3074)
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

fix: use cupy.ones instead of multiple kernels
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_local_nextparents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_nonlocal_preparenext.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges.cu
Due: disallow-caps

feat: add awkward_NumpyArray_rearrange_shifted CUDA kernel
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_rearrange_shifted.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_rearrange_shifted.cu
Due: disallow-caps

make the 'try-it' button open a new tab
  docs/_static/js/awkward.js
  docs/conf.py
  docs/index.md
Due: none

why wasn't it found?
  docs/_static/awkward.js
  docs/conf.py
Due: none

was it the Unicode?
  docs/index.md
Due: none

no, it was me not shift-reloading the page (to clear cache)
  docs/_static/js/awkward.js
  docs/conf.py
  docs/index.md
Due: none

the arrow also has to be in the badge, not just alt-text
  docs/index.md
Due: none

docs: new Try-It page based on plain Pyodide (#3058)
  docs/_static/js/awkward.js
  docs/_static/try-it.html
  docs/conf.py
  docs/index.md
Due: none

results of chatting
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

found an empty file and a function missing from the TOC
  docs/reference/toctree.txt
Due: none

found an empty file
  src/awkward/operations/ak_to_categorical.py
Due: disallow-caps

found some functions that aren't passed through
  src/awkward/types/__init__.py
Due: disallow-caps

reorganized the left-bar
  docs/reference/toctree.txt
Due: none

improved the general and API reference landing pages and added links to dask-awkward documentation
  docs/_static/css/awkward.css
  docs/getting-started/index.md
  docs/index.md
  docs/reference/index.md
  docs/reference/toctree.txt
  docs/user-guide/index.md
Due: none

fix: refuse dak.Array in hidden-but-public-functions
  src/awkward/operations/ak_backend.py
  src/awkward/typetracer.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
