Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: refuse dak.Array in hidden-but-public-functions
  src/awkward/operations/ak_backend.py
  src/awkward/typetracer.py
Due: disallow-caps

docs: Add installation of nightly wheels instructions
  CONTRIBUTING.md
Due: disallow-caps

docs: Add installation of nightly wheels instructions (#3080)
  CONTRIBUTING.md
Due: disallow-caps

writing frequently asked questions with guidance from Plausible unique visitor and time-per-page statistics
  docs/_static/js/awkward.js
  docs/getting-started/index.md
  docs/reference/index.md
Due: none

fixed some minor issues with NumPy dispatch
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_round.py
Due: disallow-caps

updated the frequently asked questions
  docs/getting-started/index.md
Due: none

feat: better error message for missing dispatch
  src/awkward/_dispatch.py
Due: disallow-caps

feat: better error message for missing dispatch (#3078)
  src/awkward/_dispatch.py
Due: disallow-caps

feat: add new CPU kernel for awkward_unique_bool_64
  awkward-cpp/src/cpu-kernels/awkward_unique.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool_64.cpp
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

fix: test outputs
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

feat: add bool case for awkward_unique
  awkward-cpp/src/cpu-kernels/awkward_unique.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

fix: tolength assignment
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
Due: disallow-caps

fix: test cases
  awkward-cpp/src/cpu-kernels/awkward_unique.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool_64.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

feat: add bool case for some kernels
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_ranges_bool.cpp
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
Due: disallow-caps

fix: test case errors
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_ranges.cpp
  kernel-specification.yml
  kernel-test-data.json
Due: disallow-caps

add the ability to get stdout right in Try-It for a future version of Awkward
  docs/_static/try-it.html
  src/awkward/_util.py
  src/awkward/highlevel.py
  src/awkward/types/arraytype.py
  src/awkward/types/scalartype.py
  src/awkward/types/type.py
Due: disallow-caps

turn old try-it notebook into a getting-started tutorial
  docs/_toc.yml
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/getting-started/demo/example-reduction-sum.svg
  docs/getting-started/demo/what-is-an-awkward-array.ipynb
  docs/getting-started/example-reduction-sum.svg
  docs/getting-started/index.md
  docs/getting-started/try-awkward-array.md
  docs/getting-started/what-is-an-awkward-array.md
  docs/redirects.json
  docs/user-guide/index.md
Due: none

explicitly point out the tutorials (some people would have to click the moustache icon to see the left-bar)
  docs/getting-started/index.md
Due: none

brought in HSF Training tutorial
  docs/_toc.yml
  docs/getting-started/cartoon-cartesian.png
  docs/getting-started/cartoon-combinations.png
  docs/getting-started/jagged-ragged-awkward-arrays.ipynb
Due: none

correction about ak.ravel
  docs/getting-started/index.md
Due: none

maybe fixes redirects
  docs/redirects-user-guide.json
  docs/redirects.json
Due: none

added HATS tutorial
  docs/_toc.yml
  docs/getting-started/pivarski-one-slide-summary.svg
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
  docs/requirements.txt
Due: none

swap the source file so that it's not too slow for GitHub Actions
  docs/getting-started/jagged-ragged-awkward-arrays.ipynb
  docs/getting-started/uproot-awkward-columnar-hats.ipynb
Due: none

added all of the tutorials; updated the page of talks
  docs/_toc.yml
  docs/getting-started/8-layer_cube.jpg
  docs/getting-started/awkward-motivation-venn-diagram.svg
  docs/getting-started/community-tutorials.md
  docs/getting-started/example-reducer-2d.svg
  docs/getting-started/example-reducer-ragged.svg
  docs/getting-started/logo-arrow.svg
  docs/getting-started/logo-awkward.svg
  docs/getting-started/logo-parquet.svg
  docs/getting-started/papers-and-talks.md
  docs/getting-started/thinking-in-arrays.ipynb
  docs/requirements.txt
Due: none

hist[plot]
  docs/requirements.txt
Due: none

and particle
  docs/requirements.txt
Due: none

and vector
  docs/requirements.txt
Due: none

and skhep_testdata
  docs/requirements.txt
Due: none

I mean, scikit-hep-testdata
  docs/requirements.txt
Due: none

fix: remove templates for bool
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_ranges_bool.cpp
  kernel-test-data.json
Due: disallow-caps

fix: segfault in ctypes double pointer
  dev/generate-tests.py
Due: disallow-caps

fix: assume sorted array for awkward_unique tests
  kernel-test-data.json
Due: disallow-caps

fix: clean up PR
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_apply.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_jagged_shrink.cu
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
  tests/test_3059_boolean_kernels.py
Due: disallow-caps, require-test-name-identifier

fix: remove awkward_NumpyArray_fill kernel
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_fill.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_fill.cu
  src/awkward/contents/numpyarray.py
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_kernels.json
  tests/test_3059_boolean_kernels.py
Due: disallow-caps, require-test-name-identifier

fix: remove awkward_unique and awkward_unique_copy kernels
  awkward-cpp/src/cpu-kernels/awkward_unique.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy_bool.cpp
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_kernels.json
Due: disallow-caps

fix: lint error
  src/awkward/contents/numpyarray.py
Due: disallow-caps

Add toplevel func
  src/awkward/contents/listoffsetarray.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_cudf.py
Due: disallow-caps

fix
  src/awkward/contents/listoffsetarray.py
  src/awkward/operations/ak_to_cudf.py
Due: disallow-caps

fix: _is_getitem_at_placeholder logic was backward for UnionArray
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: _is_getitem_at_placeholder logic was backward for UnionArray (#3083)
  src/awkward/contents/unionarray.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
