Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

test: add test
  tests/test_2364_empty_list_of_string.py
Due: disallow-caps, require-test-name-identifier

fix: pass dtype in `to_backend_array` for strings
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

ci: deploy using OIDC
  .github/workflows/deploy.yml
Due: disallow-caps

ci: deploy CPP with OIDC
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

ci: publish to PyPI with OIDC (#2450)
  .github/workflows/deploy-cpp.yml
  .github/workflows/deploy.yml
Due: disallow-caps

chore: drop `flatten_records`
  src/awkward/_do.py
  src/awkward/contents/recordarray.py
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

chore: drop `Content.to_numpy`
  src/awkward/contents/content.py
Due: disallow-caps

chore: bump pyproject.toml version
  pyproject.toml
Due: disallow-caps

Revert "chore: drop `flatten_records`"
  src/awkward/_do.py
  src/awkward/contents/recordarray.py
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

chore: remove `flatten_records` argument
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

Revert "chore: bump pyproject.toml version"
  pyproject.toml
Due: disallow-caps

chore: prepare 2.2.0 release (#2451)
  src/awkward/contents/content.py
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

chore: bump awkward version to 2.2.0
  pyproject.toml
Due: disallow-caps

docs: update version switcher
  .github/workflows/docs-version.yml
Due: disallow-caps

docs: update version switcher
  docs/switcher.json
Due: none

docs: update contributing guide
  CONTRIBUTING.md
Due: disallow-caps

docs: update contributing guide (#2453)
  CONTRIBUTING.md
Due: disallow-caps

fix: `ak.to_numpy` does not properly convert lists of empty string (#2449)
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  tests/test_2364_empty_list_of_string.py
Due: disallow-caps, require-test-name-identifier

feat: add validity error for duplicate record field (#2447)
  src/awkward/contents/recordarray.py
  tests/test_2296_duplicate_field.py
Due: disallow-caps, require-test-name-identifier

chore: fix linting
  CONTRIBUTING.md
Due: disallow-caps

ci: annotate files with pytest failures on GHA
  .github/workflows/test.yml
Due: disallow-caps

test: add demo failing test
  tests/test_XXXX_failure.py
Due: disallow-caps, require-test-name-identifier

Revert "test: add demo failing test"
  tests/test_XXXX_failure.py
Due: disallow-caps, require-test-name-identifier

feat: add public `empty_if_typetracer`
  src/awkward/typetracer.py
  tests/test_2085_empty_if_typetracer.py
Due: disallow-caps, require-test-name-identifier

refactor: these imports don't actually need to be private
  src/awkward/typetracer.py
Due: disallow-caps

chore: fix test
  tests/test_2085_empty_if_typetracer.py
Due: disallow-caps, require-test-name-identifier

feat: expose `typetracer_with_report`
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
Due: disallow-caps

fix: highlevel argument
  src/awkward/typetracer.py
Due: disallow-caps

test: fix references to old name
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
  tests/test_2373_unzip_touching.py
  tests/test_2374_cartesian_touching.py
Due: disallow-caps, require-test-name-identifier

test: fix remaining imports
  tests/test_2085_empty_if_typetracer.py
  tests/test_2395_copy_asarray_touch.py
Due: disallow-caps, require-test-name-identifier

refactor: retain private name for now
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
Due: disallow-caps

test: fix test
  tests/test_2085_empty_if_typetracer.py
Due: disallow-caps, require-test-name-identifier

ci: annotate pytest failures on GHA (#2448)
  .github/workflows/test.yml
Due: disallow-caps

fix: save for now
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

docs: update contributing
  CONTRIBUTING.md
Due: disallow-caps

feat: implement last
  src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/numba.py
Due: disallow-caps

fix: cleanup
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

test: regular snapshot
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

test: indexed
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

test: indexedoption
  src/awkward/_connect/numba/layoutbuilder.py
  tests/test_2408_layoutbuilder_in_numba.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
