Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

docs: add see also
  src/awkward/operations/str/ak_count_substring.py
  src/awkward/operations/str/ak_count_substring_regex.py
  src/awkward/operations/str/ak_find_substring.py
  src/awkward/operations/str/ak_find_substring_regex.py
  src/awkward/operations/str/ak_ltrim.py
  src/awkward/operations/str/ak_ltrim_whitespace.py
  src/awkward/operations/str/ak_match_substring.py
  src/awkward/operations/str/ak_match_substring_regex.py
  src/awkward/operations/str/ak_replace_substring.py
  src/awkward/operations/str/ak_replace_substring_regex.py
  src/awkward/operations/str/ak_rtrim.py
  src/awkward/operations/str/ak_rtrim_whitespace.py
  src/awkward/operations/str/ak_split_pattern.py
  src/awkward/operations/str/ak_split_pattern_regex.py
  src/awkward/operations/str/ak_split_whitespace.py
  src/awkward/operations/str/ak_trim.py
  src/awkward/operations/str/ak_trim_whitespace.py
Due: disallow-caps

docs: include `ak.str` in toctree
  docs/prepare_docstrings.py
  docs/reference/toctree.txt
Due: none

refactor: cleanup error handling
  src/awkward/operations/str/ak_index_in.py
  src/awkward/operations/str/ak_is_in.py
  src/awkward/operations/str/ak_join.py
  src/awkward/operations/str/ak_join_element_wise.py
Due: disallow-caps

fix: add inline to prevent multiple definitions (#2606)
  .github/workflows/header-only-test.yml
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/layout-builder/awkward/utils.h
Due: disallow-caps

docs: add guide on unflattening and grouping
  docs/user-guide/how-to-create-unflatten-group.md
Due: none

docs: drop `todo`
  docs/_toc.yml
Due: none

docs: add guide on unflattening and grouping (#2622)
  docs/_toc.yml
  docs/user-guide/how-to-create-unflatten-group.md
Due: none

docs: be explicit about `ak_str_`
  docs/prepare_docstrings.py
Due: none

ci: don't gate tests
  .github/workflows/header-only-test.yml
Due: disallow-caps

fix: remove string special-casing
  src/awkward/operations/ak_zip.py
Due: disallow-caps

test: add test for fix
  tests/test_2623_optiontype_outside_record_strings.py
Due: disallow-caps, require-test-name-identifier

Also test IndexedOptionArray.
  tests/test_2623_optiontype_outside_record_strings.py
Due: disallow-caps, require-test-name-identifier

fix: support lists of strings in `ak.zip` with `optiontype_outside_record=True` (#2623)
  src/awkward/operations/ak_zip.py
  tests/test_2623_optiontype_outside_record_strings.py
Due: disallow-caps, require-test-name-identifier

feat: add support for dictionary encoding from Arrow
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_to_categorical.py
Due: disallow-caps

feat!: deprecate `ak.to_categorical`
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_to_categorical.py
  tests/test_0401_add_categorical_type_for_arrow_dictionary.py
  tests/test_0404_array_validity_check.py
  tests/test_0674_categorical_validation.py
  tests/test_1671_categorical_type.py
  tests/test_1688_pack_categorical.py
  tests/test_2071_unflatten_non_packed_counts.py
  tests/test_2425_forms_from_type.py
  tests/test_2630_akstr_to_categorical.py
Due: disallow-caps, require-test-name-identifier

chore: move links inline
  src/awkward/operations/str/__init__.py
Due: disallow-caps

feat: add support for dictionary encoding from Arrow (#2630)
  src/awkward/operations/ak_from_categorical.py
  src/awkward/operations/ak_to_categorical.py
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_to_categorical.py
  tests/test_0401_add_categorical_type_for_arrow_dictionary.py
  tests/test_0404_array_validity_check.py
  tests/test_0674_categorical_validation.py
  tests/test_0773_typeparser.py
  tests/test_1671_categorical_type.py
  tests/test_1688_pack_categorical.py
  tests/test_2071_unflatten_non_packed_counts.py
  tests/test_2425_forms_from_type.py
  tests/test_2630_akstr_to_categorical.py
Due: disallow-caps, require-test-name-identifier

wip: initial string kernel
  awkward-cpp/include/awkward/unicode.h
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/unicode.cpp
  kernel-specification.yml
Due: disallow-caps

wip: support for bytestrings
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  kernel-specification.yml
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

refactor: improve C++ readability
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
Due: disallow-caps

fix: handle empty string/bytestring cases
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

refactor: rename for clarity
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
Due: disallow-caps

test: add test
  tests/test_2632_unflatten_length.py
Due: disallow-caps, require-test-name-identifier

fix: support `counts=len(layout)` in `unflatten`
  src/awkward/operations/ak_unflatten.py
Due: disallow-caps

chore: use 2x faster black mirror
  .pre-commit-config.yaml
Due: none

docs: initial pass
  docs/_toc.yml
  docs/user-guide/how-to-strings-extract-substrings.md
  docs/user-guide/how-to-strings-read-binary.md
  docs/user-guide/how-to-strings-split-and-join.md
  docs/user-guide/how-to-strings.md
Due: none

test: add tests
  tests/test_2634_listarray_pad_none.py
Due: disallow-caps, require-test-name-identifier

fix: pad_none should not copy parameters
  src/awkward/contents/content.py
  src/awkward/contents/listarray.py
Due: disallow-caps

chore: use 2x faster black mirror (#2633)
  .pre-commit-config.yaml
Due: none

chore: drop 3.7 classifier
  pyproject.toml
Due: disallow-caps

chore: drop 3.7 classifier for awkward-cpp
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: drop 3.7 classifier (#2636)
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps
