Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: Record field assignment mutates shared layouts and stale cppyy cache
  src/awkward/highlevel.py
Due: disallow-caps

chore: remove dead code and outdated guards
  src/awkward/_backends/backend.py
  src/awkward/_backends/typetracer.py
  src/awkward/_errors.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_slicing.py
  src/awkward/_util.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/forms/form.py
  src/awkward/types/numpytype.py
Due: disallow-caps

fix: nan-variant reducers drop behavior and attrs
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

test: regression tests for contents error-path fixes
  tests/test_4102_contents_error_paths.py
Due: disallow-caps, require-test-name-identifier

test: add regression tests for nan-reducer behavior/attrs (#4093)
  tests/test_4093-nan-reducer-behavior-attrs.py
Due: disallow-caps, require-test-name-identifier

chore: slim down test file for contents error-path fixes
  tests/test_4102_contents_error_paths.py
Due: disallow-caps, require-test-name-identifier

chore: slim regression tests and fix filename for PR 4093
  tests/test_4093-nan-reducer-behavior-attrs.py
  tests/test_4093_nan_reducer_behavior_attrs.py
Due: disallow-caps, require-test-name-identifier

fix: validation no-ops and broken error paths in contents
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/record.py
Due: disallow-caps

chore: generate kernel artefacts from CMake instead of nox -s prepare
  .github/workflows/deploy.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-packaging-test.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/copy-cpp-headers.py
  dev/generate-kernel-signatures.py
Due: disallow-caps

fix: only generate kernel tests when packing the sdist
  AGENTS.md
  CONTRIBUTING.md
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  dev/generate-tests.py
Due: disallow-caps

docs: note scikit-build-core version behavior for the state override
  awkward-cpp/pyproject.toml
Due: disallow-caps

fix row group size default setting
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
  tests/test_4191_parquet_default_row_group_size.py
Due: disallow-caps, require-test-name-identifier

bump parquet version default to 2.6
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

make it none as default and let pyarrow handle it
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

rebase lazy IR scheduling layer from #3792
  benchmarks/bench_lazy_ir.py
  src/awkward/__init__.py
  src/awkward/_connect/cpu/__init__.py
  src/awkward/_connect/cpu/helpers.py
  src/awkward/_connect/cpu/ir_nodes.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_executor.py
  src/awkward/_connect/cuda/_ir.py
  src/awkward/_connect/cuda/_lazy_impl.py
  src/awkward/_connect/cuda/_segment_algorithms.py
  src/awkward/_connect/cuda/helpers.py
  src/awkward/_connect/cuda/ir_nodes.py
  src/awkward/_connect/lazy/__init__.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_ir.py
  src/awkward/_connect/lazy/_layout.py
  src/awkward/_connect/lazy/_lazy_impl.py
  src/awkward/_connect/lazy/core.py
  studies/cccl/playground-cccl-with-ir.py
  tests-cuda/test_3792_lazy_executor.py
  tests-cuda/test_3792_lazy_ir.py
  tests/test_3792_lazy_cpu.py
Due: disallow-caps, require-test-name-identifier

use platform‑native integer type
  src/awkward/_connect/cpu/helpers.py
Due: disallow-caps

update to new version api
  src/awkward/_connect/cuda/_segment_algorithms.py
Due: disallow-caps

implement lazy fusion prototype
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/lazy/__init__.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_fusion.py
  src/awkward/_connect/lazy/_ir.py
  src/awkward/_connect/lazy/_lazy_impl.py
  tests/test_3792_lazy_cpu.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

fix linter warnings
  src/awkward/_connect/cuda/_fusion_codegen.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

bench it
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/lazy/_executor.py
  studies/cccl/bench_lazy_fusion.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

add gpu arm
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/lazy/_executor.py
  studies/cccl/bench_lazy_fusion.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

make awkward_to_cccl_iterator public
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_fusion.py
  tests-cuda/test_3792_public_cccl_iterator.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

add probe fusion mechanism
  studies/cccl/probe_fusion_mechanism.py
Due: none

more info added
  studies/cccl/probe_fusion_mechanism.py
Due: none

fix test for threaded python
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

fix: ensure `length` is a numpy scalar for CUDA stability
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

address Henry's comments
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_ir.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

fixes
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/cpu/helpers.py
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/cuda/helpers.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_fusion.py
  src/awkward/_connect/lazy/_layout.py
  src/awkward/_connect/lazy/_lazy_impl.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

pre-commit fixes
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_layout.py
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

fix: harden lazy IR against adversarial layouts, constants, and deep graphs
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/cpu/helpers.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_executor.py
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/cuda/_ir.py
  src/awkward/_connect/cuda/_lazy_impl.py
  src/awkward/_connect/cuda/_segment_algorithms.py
  src/awkward/_connect/cuda/helpers.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_fusion.py
  src/awkward/_connect/lazy/_ir.py
  src/awkward/_connect/lazy/_layout.py
  src/awkward/_connect/lazy/_lazy_impl.py
  src/awkward/_connect/lazy/_nvtx.py
  tests-cuda/test_3792_lazy_regressions.py
  tests/test_3792_lazy_fusion.py
  tests/test_3792_lazy_regressions.py
Due: disallow-caps, require-test-name-identifier

cleanup
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

make doc strings consistent
  src/awkward/_connect/cpu/__init__.py
  src/awkward/_connect/cpu/_fusion_codegen.py
  src/awkward/_connect/cpu/helpers.py
  src/awkward/_connect/cpu/ir_nodes.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_fusion_codegen.py
  src/awkward/_connect/cuda/helpers.py
  src/awkward/_connect/cuda/ir_nodes.py
  src/awkward/_connect/lazy/_executor.py
  src/awkward/_connect/lazy/_fusion.py
  src/awkward/_connect/lazy/_ir.py
  src/awkward/_connect/lazy/_layout.py
  src/awkward/_connect/lazy/_lazy_impl.py
  src/awkward/_connect/lazy/core.py
  tests-cuda/test_3792_lazy_fusion_layouts.py
Due: disallow-caps

make it private and fix stale tests
  src/awkward/__init__.py
  src/awkward/_connect/cpu/__init__.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/lazy/_lazy_impl.py
  studies/cccl/bench_lazy_fusion.py
  tests-cuda/test_3792_lazy_executor.py
  tests-cuda/test_3792_lazy_fusion_layouts.py
  tests-cuda/test_3792_lazy_regressions.py
  tests-cuda/test_3792_public_cccl_iterator.py
  tests/test_3792_lazy_cpu.py
  tests/test_3792_lazy_fusion.py
  tests/test_3792_lazy_regressions.py
Due: disallow-caps, require-test-name-identifier

fix: handle `FutureWarning` for deprecated feather
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Fix indentation for write_feather call
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Import warnings module in ak_to_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Add warning suppression for deprecated pyarrow usage
  src/awkward/operations/ak_from_feather.py
Due: disallow-caps

chore: rm myself
  CONTRIBUTING.md
Due: disallow-caps

Add Tai Sakuma to the list of reviewers
  CONTRIBUTING.md
Due: disallow-caps

chore: bump default parquet version to 2.6 (#4192)
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps
