Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

Fixing policy issue 1057
  src/awkward/_layout.py
  tests/test_1057_akarray_and_akfrom_numpy_should_not_accept_zero_dimensional_arrays.py
Due: disallow-caps, require-test-name-identifier

fix: use the platform integer type
  src/awkward/_reducers.py
Due: disallow-caps

fix: use type
  src/awkward/_reducers.py
Due: disallow-caps

Adding/passing a primitive_policy kwarg
  src/awkward/_layout.py
  src/awkward/operations/ak_from_cupy.py
  src/awkward/operations/ak_from_dlpack.py
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_from_numpy.py
  src/awkward/operations/ak_to_layout.py
Due: disallow-caps

fix: np.intp type
  src/awkward/_reducers.py
Due: disallow-caps

fix: only for numpy 2+
  src/awkward/_reducers.py
Due: disallow-caps

fix: remove duplicate workflows and test windows with numpy v1.xx
  .github/workflows/test.yml
  requirements-test-numpy1.txt
  requirements-test-numpy2.txt
Due: disallow-caps

fix: add coverage
  requirements-test-numpy1.txt
Due: disallow-caps

fix: remove duplicate test
  .github/workflows/test.yml
Due: disallow-caps

test: reducer CUDAkernel tests
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

test: add more reducer tests
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

test: add more reducer tests 2
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

fix: correct dtypes for numpy v2 (#3159)
  .github/workflows/test.yml
  dev/generate-tests.py
  requirements-test-numpy1.txt
  requirements-test-numpy2.txt
  src/awkward/_reducers.py
Due: disallow-caps

Update dev/generate-tests.py
  dev/generate-tests.py
Due: disallow-caps

pylint errors and tests
  src/awkward/_util.py
  tests/test_2433_copy_behaviors.py
Due: disallow-caps, require-test-name-identifier

fix: error for EmptyArray
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_count_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int32_bool_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int64_bool_64.cu
Due: disallow-caps

test: generic_reducer_operation and block_boundary
  tests-cuda/test_3162_block_boundary.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

chore: update matrix to macOS-12
  .github/workflows/test.yml
Due: disallow-caps

chore: update test workflow
  .github/workflows/test.yml
Due: disallow-caps

fix: use latest macos
  .github/workflows/test.yml
Due: disallow-caps

fix: go back to v 12
  .github/workflows/test.yml
Due: disallow-caps

feat: 3154 from_parquet should be able to read partial columns (#3156)
  src/awkward/_connect/pyarrow/table_conv.py
  tests/test_2772_parquet_extn_array_metadata.py
  tests/test_3154_parquet_subcolumn_select.py
Due: disallow-caps, require-test-name-identifier

fix: ak.from_numpy should fail on zero-dimensional arrays. (#3161)
  src/awkward/_layout.py
  src/awkward/operations/ak_from_cupy.py
  src/awkward/operations/ak_from_dlpack.py
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_from_numpy.py
  src/awkward/operations/ak_to_layout.py
  tests/test_1057_akarray_and_akfrom_numpy_should_not_accept_zero_dimensional_arrays.py
Due: disallow-caps, require-test-name-identifier

chore: study for combination using mth lexographic ordering
  studies/cuda-kernels/combinations/mth_combinations.cu
Due: none

feat: add reduce kernels (#3136)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_count_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int32_bool_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int64_bool_64.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  src/awkward/contents/regulararray.py
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
  tests-cuda/test_3065a_cuda_kernels.py
  tests-cuda/test_3065b_cuda_kernels.py
  tests-cuda/test_3065c_cuda_kernels.py
  tests-cuda/test_3086_cuda_concatenate.py
  tests-cuda/test_3130_cuda_listarray_getitem_next.py
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
  tests-cuda/test_3136_cuda_reducers.py
  tests-cuda/test_3140_cuda_jagged_and_masked_getitem.py
  tests-cuda/test_3140_cuda_slicing.py
  tests-cuda/test_3141_cuda_misc.py
Due: disallow-caps

chore: trying atomics and tree reduction for CUDA reducer kernels (#3123)
  studies/cuda-kernels/reducers/awkward_reduce_argmax_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_argmin_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_count_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_countnonzero_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_max_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_max_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_min_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_prod_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_atomics.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_bool_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_complex_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int32_bool_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_int64_bool_64_tree_reduction.py
  studies/cuda-kernels/reducers/awkward_reduce_sum_tree_reduction.py
Due: none

make 'copy_behaviors' safer by making it immutable
  src/awkward/_util.py
  tests/test_2433_copy_behaviors.py
Due: disallow-caps, require-test-name-identifier

ci: faster wheel builds (#3146)
  .github/workflows/build-wheels.yml
  .github/workflows/packaging-test.yml
  awkward-cpp/.gitignore
  cibuildwheel.toml
  noxfile.py
Due: disallow-caps

ci: try macos 13
  .github/workflows/test.yml
Due: disallow-caps

test: reducer CUDA kernel tests (#3162)
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListOffsetArray_reduce_local_outoffsets_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_count_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_countnonzero.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int32_bool_64.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum_int64_bool_64.cu
  tests-cuda/test_3162_block_boundary.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

Adding unit tests for 3098
  tests/test_3098_ak_where_with_arrays_containing_optionals.py
Due: disallow-caps, require-test-name-identifier

My spotless (haha) code got ruffed up a little.
  tests/test_3098_ak_where_with_arrays_containing_optionals.py
Due: disallow-caps, require-test-name-identifier

try latest
  .github/workflows/test.yml
Due: disallow-caps

install gettext
  .github/workflows/test.yml
Due: disallow-caps

make sure gettext is found
  .github/workflows/test.yml
Due: disallow-caps

check where gettext is
  .github/workflows/test.yml
Due: disallow-caps

try to fix environment variables
  .github/workflows/test.yml
Due: disallow-caps

try link it
  .github/workflows/test.yml
Due: disallow-caps

check arch
  .github/workflows/test.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
