Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

forgotten breakpoint
  tests/test_2305_nep_18_lazy_conversion.py
Due: disallow-caps, require-test-name-identifier

add `_use32` parameter to the `CudaComputeReducer` superclass
  src/awkward/_connect/cuda/reducers.py
Due: disallow-caps

docs: add blank line in ak.flatten docstring to trigger Tests workflow (#3948)
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

docs: replace prepare_docstrings.py with sphinx-autoapi (#3948)
  docs/_autoapi_templates/python/class.rst
  docs/_autoapi_templates/python/function.rst
  docs/_autoapi_templates/python/module.rst
  docs/_autoapi_templates/python/package.rst
  docs/conf.py
  docs/prepare_docstrings.py
  docs/requirements.txt
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

docs: update ak.flatten docstring to Google style
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

docs: update ak.flatten summary line to cover axis=None case
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

docs: remove blank line in ak.flatten docstring
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

fix: consistent byteorder settings (#3954)
  src/awkward/_do.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2067_to_buffers_byteorder.py
  tests/test_2305_nep_18_lazy_conversion.py
Due: disallow-caps, require-test-name-identifier

feat: add awkward.* aliases to objects.inv for intersphinx compatibility
  docs/conf.py
Due: none

chore: add blank line in ak_flatten docstring to trigger CI
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

feat: add `awkward_IndexedArray_numnull` kernel
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix typo
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

style improvements
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

delete tests and implement new
  src/awkward/_nplikes/jax.py
  tests-cuda/test_2673_byteswap_cuda.py
  tests-cuda/test_3845_byteswap_cuda.py
  tests/test_2673_byteswap_jax.py
  tests/test_2673_byteswap_numpy.py
  tests/test_3845_byteswap.py
  tests/test_3845_byteswap_jax.py
Due: disallow-caps, require-test-name-identifier

better implementation for jax by moving views and reshapes to lax ops
  src/awkward/_nplikes/jax.py
Due: disallow-caps

some that arose from running tests in parallel threads
  tests/test_2106_pickle_class.py
  tests/test_3685_to_from_safetensors.py
Due: disallow-caps, require-test-name-identifier

fix record array comparison in array equal
  src/awkward/operations/ak_almost_equal.py
  tests/test_3962_array_equal_record_mismatch.py
Due: disallow-caps, require-test-name-identifier

test different field order
  tests/test_3962_array_equal_record_mismatch.py
Due: disallow-caps, require-test-name-identifier

add tuple vs record test
  tests/test_3962_array_equal_record_mismatch.py
Due: disallow-caps, require-test-name-identifier

feat: implement byteswap as an nplike function (#3845)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_nplikes/virtual.py
  src/awkward/_util.py
  tests-cuda/test_3845_byteswap_cuda.py
  tests/test_3845_byteswap.py
  tests/test_3845_byteswap_jax.py
Due: disallow-caps, require-test-name-identifier

fix: couple of fixes in tests that arose from running them in parallel threads (#3961)
  tests/test_2106_pickle_class.py
  tests/test_3685_to_from_safetensors.py
Due: disallow-caps, require-test-name-identifier

docs: update ak.flatten docstring to Google style (#3946)
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

docs: add :: to docstrings for proper RST code blocks
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_to_backend.py
  src/awkward/operations/ak_to_buffers.py
  src/awkward/operations/ak_var.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

docs: show private members in autoapi-generated docs
  docs/conf.py
Due: none

docs: add :: to docstrings for proper RST code blocks (#3965)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_linear_fit.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_to_backend.py
  src/awkward/operations/ak_to_buffers.py
  src/awkward/operations/ak_var.py
  src/awkward/operations/ak_where.py
Due: disallow-caps

s390x ci draft
  .github/workflows/test-s390x.yml
Due: disallow-caps

rename workflow
  .github/workflows/test-s390x.yml
Due: disallow-caps

Switch to using reusable workflows
  .github/workflows/ci.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-header-only-test.yml
  .github/workflows/reusable-test.yml
Due: disallow-caps

docs: show private members in autoapi-generated docs (#3966)
  docs/conf.py
Due: none

Build wheels conditionally
  .github/workflows/ci.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
Due: disallow-caps

Run packaging tests conditionally
  .github/workflows/ci.yml
  .github/workflows/reusable-packaging-test.yml
Due: disallow-caps

Fixed typo
  .github/workflows/ci.yml
Due: disallow-caps

A few fixes
  .github/workflows/ci.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
Due: disallow-caps

skip failing big endian tests
  tests/test_1345_avro_reader.py
  tests/test_3209_awkwardforth_read_negative_number_of_items.py
Due: disallow-caps, require-test-name-identifier

use uv and cache wheels
  .github/workflows/test-s390x.yml
Due: disallow-caps

use ubuntu 24.04
  .github/workflows/test-s390x.yml
Due: disallow-caps

use --seed to get pip as well
  .github/workflows/test-s390x.yml
Due: disallow-caps

add SOURCE_DATE_EPOCH
  .github/workflows/test-s390x.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
