Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

Remove cuda-toolkit
  .github/workflows/test.yml
Due: disallow-caps

Back to Python 3.13
  .github/workflows/test.yml
Due: disallow-caps

fix: speed up test_3136_cuda_reducers.py
  tests-cuda/test_3136_cuda_reducers.py
Due: disallow-caps

add `awkward_ListArray_getitem_jagged_numvalid`
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

add `awkward_ListArray_getitem_jagged_shrink`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

perf: restructure CUDA unit tests
  dev/generate-tests.py
Due: disallow-caps

ci: fix issues with self-hosted CI (#3933)
  .github/workflows/test.yml
Due: disallow-caps

chore: upgrade hypothesis-awkward to >=0.10
  requirements-test-full.txt
  tests/properties/operations/test_array_equal.py
  tests/properties/operations/test_to_from_buffers.py
Due: disallow-caps, require-test-name-identifier

chore: upgrade hypothesis-awkward to >=0.10 (#3936)
  requirements-test-full.txt
  tests/properties/operations/test_array_equal.py
  tests/properties/operations/test_to_from_buffers.py
Due: disallow-caps, require-test-name-identifier

allow generator expressions in highlevel ops
  src/awkward/operations/ak_argcartesian.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/ak_zip_no_broadcast.py
  tests/test_3938_generator_expression_inputs.py
Due: disallow-caps, require-test-name-identifier

fix two remaining testa
  dev/generate-tests.py
Due: disallow-caps

more thorough testing
  tests/test_3938_generator_expression_inputs.py
Due: disallow-caps, require-test-name-identifier

bring back deleted tests
  tests-cuda/test_3907_cuda_array_interface.py
  tests/test_3889_layout_length_generators.py
  tests/test_3906_fields_access_returns_shallow_copy.py
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

rewrite the implementation to account for unordered starts, stops. also for archive: using pure python and cuda.compute(`fill_small_count` has a for loop which isn't efficient)
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

delete other implementations
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fixes and refactoring
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/_util.py
Due: disallow-caps

ci: add workflow to auto-bump hypothesis-awkward
  .github/workflows/bump-hypothesis-awkward.yml
  requirements-test-full.txt
Due: disallow-caps

ci: harden bump-hypothesis-awkward workflow
  .github/workflows/bump-hypothesis-awkward.yml
Due: disallow-caps

ci: use explicit python3 shell in bump workflow
  .github/workflows/bump-hypothesis-awkward.yml
Due: disallow-caps

chore: pin hypothesis-awkward to exact version
  requirements-test-full.txt
Due: disallow-caps

ci: add workflow to auto-bump hypothesis-awkward
  .github/workflows/bump-hypothesis-awkward.yml
Due: disallow-caps

arrays should be contiguous to be viewed with dtype of different itemsize
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
Due: disallow-caps

chore: pin hypothesis-awkward to exact version (#3942)
  requirements-test-full.txt
Due: disallow-caps

ci: add dependabot config for hypothesis-awkward
  .github/dependabot.yml
Due: disallow-caps

some more locations where ascontiguousarray should be called
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
Due: disallow-caps

ci: add dependabot config for hypothesis-awkward (#3944)
  .github/dependabot.yml
Due: disallow-caps

feat: allow generator expressions in highlevel operations that accept iterable of arrays as input (#3938)
  src/awkward/operations/ak_argcartesian.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/ak_zip_no_broadcast.py
  tests/test_3938_generator_expression_inputs.py
Due: disallow-caps, require-test-name-identifier

optimize `getitem_jagged_numvalid`!
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

delete `awkward_ListArray_getitem_jagged_shrink`
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

revert: "feat: `NumpyArray` backed by CuPy exposes `__cuda_array_interface__`" (#3918)
  src/awkward/contents/numpyarray.py
  tests-cuda/test_3907_cuda_array_interface.py
  tests/test_3907_getattr_cuda_array_interface.py
Due: disallow-caps, require-test-name-identifier

docs: update ak.flatten docstring to Google style
  src/awkward/operations/ak_flatten.py
Due: disallow-caps

fix: indent summary lines in prepare_docstrings.py
  docs/prepare_docstrings.py
Due: none

docs: replace prepare_docstrings.py with sphinx-autoapi
  docs/_autoapi_templates/python/class.rst
  docs/_autoapi_templates/python/function.rst
  docs/_autoapi_templates/python/module.rst
  docs/_autoapi_templates/python/package.rst
  docs/conf.py
  docs/prepare_docstrings.py
  docs/requirements.txt
Due: none

docs: suppress internal _module. pages from autoapi output
  docs/_autoapi_templates/python/module.rst
  docs/conf.py
Due: none

feat: add ak.from_cudf via Arrow device interface
  src/awkward/_connect/cudf.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_cudf.py
  tests-cuda/test_3946_from_cudf_pylibcudf.py
Due: disallow-caps

feat: pickle in native byteorder and pass byteorder through pickling and unpickling (#3893)
  src/awkward/_pickle.py
  src/awkward/highlevel.py
Due: disallow-caps

we don't need this anymore
  src/awkward/_pickle.py
Due: disallow-caps

consistent byteorder settings
  src/awkward/_do.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2067_to_buffers_byteorder.py
  tests/test_2305_nep_18_lazy_conversion.py
Due: disallow-caps, require-test-name-identifier
