Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: support dict-likes in `form.from_dict`, convert fields to list
  src/awkward/forms/form.py
  src/awkward/forms/recordform.py
Due: disallow-caps

test: add simple test
  tests/test_XXXX_record_form_fields.py
Due: disallow-caps, require-test-name-identifier

test: rename test
  tests/test_2548_record_form_fields.py
Due: disallow-caps, require-test-name-identifier

fix: `fields` can be `None`
  src/awkward/forms/recordform.py
Due: disallow-caps

fix: move `char` handling to contents
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/highlevel.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
Due: disallow-caps

fix: we don't support np.add on strings now
  src/awkward/_connect/numpy.py
Due: disallow-caps

fix: name is bytes, not bytestring
  src/awkward/types/listtype.py
Due: disallow-caps

fix: support dict-likes in form.from_dict, convert fields to list (#2548)
  src/awkward/forms/form.py
  src/awkward/forms/recordform.py
  tests/test_2548_record_form_fields.py
Due: disallow-caps, require-test-name-identifier

feat!: drop chr representation of `char`
  src/awkward/contents/numpyarray.py
Due: disallow-caps

fix: support strings in `ak.to_list` (stopgap)
  src/awkward/operations/ak_to_list.py
Due: disallow-caps

fix: typestr for regular
  src/awkward/types/regulartype.py
Due: disallow-caps

fix: avro should add `__string__`
  src/awkward/_connect/avro.py
Due: disallow-caps

fix: `char` arrays
  tests/test_0019_use_json_library.py
  tests/test_0028_add_dressed_types.py
Due: disallow-caps, require-test-name-identifier

feat!: revert _getitem_at changes
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/highlevel.py
  tests/test_0019_use_json_library.py
  tests/test_0028_add_dressed_types.py
Due: disallow-caps, require-test-name-identifier

refactor: move string ufunc handling
  src/awkward/_connect/numpy.py
Due: disallow-caps

refactor: small code re-ordering
  src/awkward/_connect/numpy.py
Due: disallow-caps

docs: remove note about behavior
  docs/user-guide/how-to-convert-python.md
Due: none

refactor: move categorical to internals
  src/awkward/__init__.py
  src/awkward/_categorical.py
  src/awkward/_connect/numpy.py
  src/awkward/behaviors/categorical.py
  src/awkward/operations/ak_to_categorical.py
Due: disallow-caps

refactor: move string lowering to built-in
  src/awkward/_connect/numba/layout.py
  src/awkward/behaviors/string.py
Due: disallow-caps

fix: wrap `__iter__` yielded results
  src/awkward/highlevel.py
Due: disallow-caps

fix: ufuncs on categoricals
  src/awkward/_connect/numpy.py
Due: disallow-caps

chore: appease pylint!
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

refactor: small typing
  src/awkward/_connect/numpy.py
Due: disallow-caps

refactor: small type hints
  src/awkward/highlevel.py
Due: disallow-caps

fix: don't show `None` parameters
  src/awkward/types/type.py
Due: disallow-caps

refactor: more type hints
  src/awkward/types/type.py
Due: disallow-caps

Update src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

fix: don't use error context in low-level slicer
  src/awkward/record.py
Due: disallow-caps

chore: revert changes to prettyprint
  src/awkward/_prettyprint.py
Due: disallow-caps

chore: revert introduction of `_getitem`
  src/awkward/highlevel.py
Due: disallow-caps

feat: move string features into core (#2547)
  docs/user-guide/how-to-convert-python.md
  src/awkward/__init__.py
  src/awkward/_categorical.py
  src/awkward/_connect/avro.py
  src/awkward/_connect/numba/layout.py
  src/awkward/_connect/numpy.py
  src/awkward/behaviors/categorical.py
  src/awkward/behaviors/string.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_to_categorical.py
  src/awkward/operations/ak_to_list.py
  src/awkward/record.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/regulartype.py
  src/awkward/types/type.py
  tests/test_0019_use_json_library.py
  tests/test_0028_add_dressed_types.py
Due: disallow-caps, require-test-name-identifier
