Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

chore: drop unused functions
  src/awkward/_connect/dlpack.py
Due: disallow-caps

fix: drop zero-cost views of `ak.Array` (#2697)
  src/awkward/_connect/dlpack.py
  src/awkward/_connect/numpy.py
  src/awkward/highlevel.py
  tests/test_2649_dlpack_support.py
Due: disallow-caps, require-test-name-identifier

The next version will be 2.4.2
  pyproject.toml
Due: disallow-caps

progress
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Get from_feather and to_feather into the ak.* namespace.
  src/awkward/operations/__init__.py
Due: disallow-caps

Removed Pandas from to_feather.
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Removed Pandas from from_feather.
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

Added a test.
  tests/test_2683_to_and_from_feather.py
Due: disallow-caps, require-test-name-identifier

docs: update obsolete comment in docs (relevant only in v1).
  docs/user-guide/how-to-convert-buffers.md
Due: none

docs: update obsolete comment in docs (relevant only in v1). (#2699)
  docs/user-guide/how-to-convert-buffers.md
Due: none

feat: expose `ak.from_non_simplified_buffers`
  src/awkward/highlevel.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_non_simplified_buffers.py
Due: disallow-caps

docs: expand documentation
  src/awkward/operations/ak_from_non_simplified_buffers.py
Due: disallow-caps

fix: import correct function
  src/awkward/operations/ak_from_non_simplified_buffers.py
Due: disallow-caps

test: add simple test for simplified reading
  tests/test_2700_non_simplified_from_buffers.py
Due: disallow-caps, require-test-name-identifier

fixed docstrings, added basic example, added to documentation
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

added to/from feather to docs
  docs/reference/toctree.txt
Due: none

chore: try disabling pyarrow
  .github/workflows/test.yml
Due: disallow-caps

adjusted docstring formatting
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

last docstring adjustment
  src/awkward/operations/ak_from_feather.py
Due: disallow-caps

ci: declare pyarrow a no-op
  .github/workflows/test.yml
Due: disallow-caps

ci: fix escapes
  .github/workflows/test.yml
Due: disallow-caps

ci: use single quote
  .github/workflows/test.yml
Due: disallow-caps

chore: show wheel tags
  .github/workflows/test.yml
Due: disallow-caps

fix: import more numba errors
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

fix: import more numba errors
  src/awkward/_connect/numba/builder.py
Due: disallow-caps

fix: prohibit testing of "broken" Numba release
  requirements-test.txt
Due: disallow-caps

Revert "fix: import more numba errors"
  src/awkward/_connect/numba/builder.py
Due: disallow-caps

Revert "fix: import more numba errors"
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numba/layout.py
Due: disallow-caps

feat: revert previous merge of lower bound tests
  .github/workflows/test.yml
Due: disallow-caps

chore: try to reintroduce Python 3.12, now that NumPy has released a beta. (#2644)
  .github/workflows/deploy-cpp.yml
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
  README.md
  cibuildwheel.toml
  pyproject.toml
  requirements-test.txt
  tests/test_0080_flatpandas_multiindex_rows_and_columns.py
  tests/test_2306_cppyy_jit.py
Due: disallow-caps, require-test-name-identifier

fixed docstrings and removed comments
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

refactor: split singleton into public and private implementations1
  src/awkward/_backends/backend.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_singleton.py
Due: disallow-caps

refactor: use `PrivateSingleton` for `unknown_length`
  src/awkward/_nplikes/shape.py
Due: disallow-caps

fix: drop instance args
  src/awkward/_nplikes/shape.py
  src/awkward/_singleton.py
Due: disallow-caps

test: add simple test
  tests/test_2710_pickle_unknown_length.py
Due: disallow-caps, require-test-name-identifier

fix: unpickling of `unknown_length` (#2710)
  src/awkward/_backends/backend.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/shape.py
  src/awkward/_singleton.py
  tests/test_2710_pickle_unknown_length.py
Due: disallow-caps, require-test-name-identifier

Fix mask name in Form and container.
  src/awkward/operations/ak_from_json.py
Due: disallow-caps

Implemented field name order optimization as a way to test record identifiers.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

Reimplemented that optimization in terms of record_current_field_, which will be used in the checklist-handling.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps

Implementing the end_object check, but it's not doing the nullable cases right.
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/io/json.cpp
Due: disallow-caps
