Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
    - id: validate-pyproject

bring back creation of virtual arrays with a local cache
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

chore: reducing warnings (#3387)
  awkward-cpp/CMakeLists.txt
  awkward-cpp/src/libawkward/forth/ForthMachine.cpp
Due: disallow-caps

chore: minor cleanup (#3385)
  awkward-cpp/include/awkward/common.h
  noxfile.py
  pyproject.toml
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
Due: disallow-caps

chore: awkward-cpp 44, awkward 2.7.3
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

forgot this
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

adjust _get_item_at_placeholder for virtual arrays as well
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

new _get_item_at_virtual function and different VirtualValue vs PlaceholderValue
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/prettyprint.py
Due: disallow-caps

remove some comments and docstrings that we decided to use in a different manner
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

let iterators of virtual buffers materialize
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

inherit from NDArrayOperatorsMixin as well
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

feat: add a non-touching ak.zip, called 'ak.unsafe_zip'
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_unsafe_zip.py
Due: disallow-caps

fix getting correct length
  src/awkward/operations/ak_unsafe_zip.py
Due: disallow-caps

add tests
  tests/test_3390_ak_unsafe_zip.py
Due: disallow-caps, require-test-name-identifier

check same lengths (more safe)
  src/awkward/operations/ak_unsafe_zip.py
Due: disallow-caps

unsafe_zip -> zip_no_broadcast; check equal offsets at runtime with actual data
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_zip_no_broadcast.py
  tests/test_3390_ak_zip_no_broadcast.py
Due: disallow-caps, require-test-name-identifier

fix typo in doc string
  src/awkward/operations/ak_zip_no_broadcast.py
Due: disallow-caps

feat: add a non-touching `ak.zip`, called `'ak.zip_no_broadcast'` (#3390)
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_zip_no_broadcast.py
  tests/test_3390_ak_zip_no_broadcast.py
Due: disallow-caps, require-test-name-identifier

Update docs.yml
  .github/workflows/docs.yml
Due: disallow-caps

version = "2.7.4"
  pyproject.toml
Due: disallow-caps

Drop timezone in from_arrow
  src/awkward/_connect/pyarrow/conversions.py
Due: disallow-caps

Add doc and test
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  tests/test_3392_from_arrow_tz.py
Due: disallow-caps, require-test-name-identifier

fix: Drop timezone in from_arrow (#3392)
  src/awkward/_connect/pyarrow/conversions.py
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  tests/test_3392_from_arrow_tz.py
Due: disallow-caps, require-test-name-identifier

first attempt at cupy nplike for virtual arrays
  src/awkward/_backends/dispatch.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

we should not instantiate cupy for everyone :)
  src/awkward/_backends/dispatch.py
  src/awkward/_kernels.py
Due: disallow-caps

I wanna try like this first
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

add preliminary implementations of ak.materialize and ak.dematerialize
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_dematerialize.py
  src/awkward/operations/ak_materialize.py
Due: disallow-caps

duplicate import
  src/awkward/operations/__init__.py
Due: disallow-caps

whoops
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/ak_dematerialize.py
  src/awkward/operations/ak_materialize.py
Due: disallow-caps

fix: order of structure removal for unions
  src/awkward/contents/unionarray.py
Due: disallow-caps

add test
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

delete dematerialize
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_dematerialize.py
Due: disallow-caps

make views return VirtualArray's only
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

use index_nplike of tags instead of global numpy nplike
  src/awkward/contents/unionarray.py
Due: disallow-caps

numpy metadata are unused
  src/awkward/operations/ak_materialize.py
Due: disallow-caps

add zip_no_broadcast and with_named_axis to index
  docs/reference/toctree.txt
Due: none

there is without named axis as well
  docs/reference/toctree.txt
Due: none

we need .ctypes
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

better use classes instead of strings
  src/awkward/_backends/dispatch.py
  src/awkward/_nplikes/dispatch.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps
