Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: CuPy dtype
  dev/generate-tests.py
Due: disallow-caps

refactor: correct variable name
  dev/generate-tests.py
Due: disallow-caps

feat: initial implementation for dependency spec
  src/awkward/_dispatch.py
Due: disallow-caps

feat: validate arrow
  pyproject.toml
  src/awkward/operations/ak_from_arrow.py
  src/awkward/operations/ak_from_arrow_schema.py
  src/awkward/operations/ak_from_parquet.py
  src/awkward/operations/ak_to_arrow_table.py
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

feat: add to_cupy
  src/awkward/operations/ak_from_cupy.py
  src/awkward/operations/ak_to_cupy.py
Due: disallow-caps

feat: add jax
  src/awkward/operations/ak_from_jax.py
  src/awkward/operations/ak_to_jax.py
Due: disallow-caps

fix: make `dependencies` kw-only
  src/awkward/_dispatch.py
Due: disallow-caps

docs: generate notes about dependencies
  docs/prepare_docstrings.py
Due: none

chore: revert commenting
  docs/prepare_docstrings.py
Due: none

don't track auto-generated tests in git
  .gitignore
Due: disallow-caps

refactor: remove kernel tests from awkward-cpp .gitignore
  awkward-cpp/.gitignore
Due: disallow-caps

test: generate unit tests for cpu and cuda (#2938)
  .github/workflows/test.yml
  .gitignore
  awkward-cpp/.gitignore
  awkward-cpp/pyproject.toml
  cibuildwheel.toml
  dev/generate-tests.py
  kernel-test-data.json
  noxfile.py
Due: disallow-caps

fix: missing func and better messages
  docs/prepare_docstrings.py
  src/awkward/_dispatch.py
  src/awkward/operations/ak_to_arrow.py
Due: disallow-caps

fix: whitespace
  docs/prepare_docstrings.py
Due: none

fix: revert accidental change to to_list
  src/awkward/operations/ak_to_list.py
Due: disallow-caps

fix: revert to_list to main
  src/awkward/operations/ak_to_list.py
Due: disallow-caps

docs: temporary pin
  docs/requirements.txt
Due: none

test: sort headers in GrowableBuffer.h
  header-only/growable-buffer/awkward/GrowableBuffer.h
Due: disallow-caps

fix: use `std::tuple_element_t` to define an OptionType
  header-only/builder-options/awkward/BuilderOptions.h
Due: disallow-caps

test: sort headers in ArrayBuilder.h
  awkward-cpp/include/awkward/builder/ArrayBuilder.h
Due: disallow-caps

fix: better version handling support
  src/awkward/_dispatch.py
  src/awkward/_errors.py
Due: disallow-caps

feat: add import checks to more functions
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_from_json.py
  src/awkward/operations/ak_from_rdataframe.py
  src/awkward/operations/ak_to_dataframe.py
  src/awkward/operations/ak_to_feather.py
  src/awkward/operations/ak_to_json.py
  src/awkward/operations/ak_to_rdataframe.py
Due: disallow-caps

fix: require fsspec
  requirements-test-full.txt
  requirements-test-minimal.txt
Due: disallow-caps

added more complicated test
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_parquet_dataset.py
  tests/test_to_parquet_dataset.py
Due: disallow-caps, require-test-name-identifier

Set up, but not writing in batches correctly.
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

with pre-commit...
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

fix: delete `header-only/tests/test_1542-array-builder.cpp`
  header-only/tests/test_1542-array-builder.cpp
Due: disallow-caps

fix: delete `header-only/tests/test_1542-array-builder.cpp` (#2981)
  header-only/tests/test_1542-array-builder.cpp
Due: disallow-caps

Writes correct row groups, don't think it's properly iterative yet
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

fix: use `std::tuple_element_t` to define an OptionType (#2977)
  header-only/builder-options/awkward/BuilderOptions.h
Due: disallow-caps

test with HZZ file works as expected.
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

typo...
  src/awkward/operations/ak_to_parquet.py
Due: disallow-caps

added importerskip for uproot
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

Change record.Record to .Record
  src/awkward/operations/ak_to_parquet.py
  src/awkward/operations/ak_to_parquet_row_groups.py
Due: disallow-caps

add to docs
  docs/reference/toctree.txt
Due: none

adding test
  src/awkward/operations/ak_to_parquet_row_groups.py
  tests/test_2968_to_parquet_row_groups.py
Due: disallow-caps, require-test-name-identifier

feat: add awkward_ListArray_min_range CUDA kernel
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_min_range.cu
Due: disallow-caps

test: add unit tests awkward_ListArray_getitem_next_range_spreadadvanced CUDA kernel
  kernel-test-data.json
Due: disallow-caps

refactor: fix indentation
  src/awkward/_connect/cuda/cuda_kernels/awkward_IndexedArray_index_of_nulls.cu
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
