Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
    - id: validate-pyproject

better check for `exception.add_note` availability
  src/awkward/_errors.py
Due: disallow-caps

control attrs better as described in issue #3277
  src/awkward/_attrs.py
  src/awkward/highlevel.py
  tests/test_2757_attrs_metadata.py
  tests/test_2770_serialize_and_deserialize_behaviour_for_numba.py
  tests/test_2806_attrs_typetracer.py
  tests/test_2837_ufunc_attrs_behavior.py
  tests/test_2866_getitem_attrs.py
  tests/test_3277_attrs_behavior_on_array_copies.py
Due: disallow-caps, require-test-name-identifier

chore: remove WASM building in docs.yml (#3333)
  .github/workflows/docs.yml
Due: disallow-caps

break cyclic ref with weakref
  src/awkward/_attrs.py
Due: disallow-caps

ensure transients are strings
  src/awkward/_attrs.py
Due: disallow-caps

make the ak.Array.mask weakly dependent on the array itself
  src/awkward/highlevel.py
  tests/test_2020_reduce_axis_none.py
  tests/test_2064_fill_none_record.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3347_weakref_mask_highlevel_array.py
Due: disallow-caps, require-test-name-identifier

skip test for pypy
  tests/test_3347_weakref_mask_highlevel_array.py
Due: disallow-caps, require-test-name-identifier

add pretty nbytes repr to .show and jupyter repr
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

ak.Array.show(): add backend arg; fix sorting of rows; fix doc string; KB->kB
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

fix: current failing jax tests for `jax>=0.4.36` (#3340)
  tests/test_1447_jax_autodiff_slices_ufuncs.py
Due: disallow-caps, require-test-name-identifier

fix placeholder arrays in record repr (#3342)
  src/awkward/prettyprint.py
Due: disallow-caps

fix: stacktraces for custom exception handling (#3343)
  src/awkward/_errors.py
Due: disallow-caps

fix doc string
  src/awkward/highlevel.py
Due: disallow-caps

fix more cases where the array doesn't live long enough to create a mask with ak.Array.mask
  docs/user-guide/how-to-create-missing.md
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_3136_cuda_reducers.py
Due: disallow-caps

fix: control attrs better as described in issue #3277 (#3344)
  src/awkward/_attrs.py
  src/awkward/highlevel.py
  tests/test_2757_attrs_metadata.py
  tests/test_2770_serialize_and_deserialize_behaviour_for_numba.py
  tests/test_2806_attrs_typetracer.py
  tests/test_2837_ufunc_attrs_behavior.py
  tests/test_2866_getitem_attrs.py
  tests/test_3277_attrs_behavior_on_array_copies.py
Due: disallow-caps, require-test-name-identifier

perf: make the ak.Array.mask weakly dependent on the array itself (#3347)
  docs/user-guide/how-to-create-missing.md
  src/awkward/highlevel.py
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_3136_cuda_reducers.py
  tests/test_2020_reduce_axis_none.py
  tests/test_2064_fill_none_record.py
  tests/test_3347_weakref_mask_highlevel_array.py
Due: disallow-caps, require-test-name-identifier

chore: add autodiff/eager_forward.py to studies directory
  studies/autodiff/eager_forward.py
Due: none

address Jim's comments
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

feat: add pretty nbytes repr to .show and jupyter repr (#3348)
  src/awkward/highlevel.py
  src/awkward/prettyprint.py
Due: disallow-caps

enforce string keys in .attrs
  src/awkward/_attrs.py
Due: disallow-caps

add test; minor wording improvements
  src/awkward/_attrs.py
  tests/test_3350_enforce_attrs_string_keys.py
Due: disallow-caps, require-test-name-identifier

fix: enforce string-only keys in `.attrs` (#3350)
  src/awkward/_attrs.py
  tests/test_3350_enforce_attrs_string_keys.py
Due: disallow-caps, require-test-name-identifier

fix nbytes property of ak.Record
  src/awkward/highlevel.py
Due: disallow-caps

fix nbytes property of ak.Record (#3352)
  src/awkward/highlevel.py
Due: disallow-caps

improve error message when indexing placeholder arrays (non-trivially, only records)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

improve error message when indexing placeholder arrays (non-trivially, only records) (#3353)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/placeholder.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

use
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix hash of HashableDict
  src/awkward/_categorical.py
Due: disallow-caps

fix hash of HashableDict (#3355)
  src/awkward/_categorical.py
Due: disallow-caps

use _util.native_to_byteorder function in ak.from_buffers (#3354)
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

fix: update Chicago Taxi Dataset URL to Zenodo
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/user-guide/how-to-examine-single-item.md
Due: none

fix warning (#3338)
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
Due: disallow-caps

first try to implement virtual arrays at (least close to) the buffer level
  src/awkward/_broadcasting.py
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/content.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2395_copy_asarray_touch.py
Due: disallow-caps, require-test-name-identifier

lint
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
Due: disallow-caps

prepare virtual arrays for Iason (now really at the buffer level)
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/virtual.py
  src/awkward/contents/numpyarray.py
  src/awkward/index.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_2395_copy_asarray_touch.py
Due: disallow-caps, require-test-name-identifier

fix .T for virtual arrays
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

add caches to reduce python overhead
  src/awkward/_meta/numpymeta.py
  src/awkward/_meta/recordmeta.py
  src/awkward/_meta/unionmeta.py
  src/awkward/types/numpytype.py
Due: disallow-caps

it's a boolean mypy...
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps
