Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

test: cover Index dtype dispatch and the whole-slice shortcut
  tests/test_4340_index_construction.py
Due: disallow-caps, require-test-name-identifier

test: cover Attrs membership checks
  tests/test_4347_attrs_contains.py
Due: disallow-caps, require-test-name-identifier

test: cover wrap_layout's wrapping contract
  tests/test_4346_wrap_layout.py
Due: disallow-caps, require-test-name-identifier

test: cover kernel caching and the ctypes pointer hooks
  tests/test_4338_kernel_dispatch.py
Due: disallow-caps, require-test-name-identifier

test: pin isinstance semantics for the nominal metaclass
  tests/test_4339_nominal_isinstance.py
Due: disallow-caps, require-test-name-identifier

test: cover the numeric fast path in fill_none
  tests/test_4336_fill_none_numeric.py
Due: disallow-caps, require-test-name-identifier

test: cover the numeric-leaf fast path in ak.where
  tests/test_4335_where_numeric_leaves.py
Due: disallow-caps, require-test-name-identifier

test: match the experimental warning filter by message, not by class path
  pyproject.toml
Due: disallow-caps

refactor: drop the redundant backend check in _numeric_leaf
  src/awkward/operations/ak_where.py
Due: disallow-caps

test: cover the cupy and jax backend caches and the autodiff tracer message
  tests/test_4338_kernel_dispatch.py
Due: disallow-caps, require-test-name-identifier

test: pin the multidimensional leaf to int64 for 32-bit platforms
  tests/test_4336_fill_none_numeric.py
Due: disallow-caps, require-test-name-identifier

test: use ak.errors.AxisError so the test runs on numpy 1.21
  tests/test_4331_lazy_error_contexts.py
Due: disallow-caps, require-test-name-identifier

test: express byte-order rejection as non-native rather than big-endian
  tests/test_4342_numpyarray_init.py
Due: disallow-caps, require-test-name-identifier

test: mark the dispatch-cache registration tests thread_unsafe
  tests/test_4341_dispatch_cache.py
Due: disallow-caps, require-test-name-identifier

fix: out-of-bounds write in Cupy.repeat() with trailing zeros (#4311)
  src/awkward/_nplikes/cupy.py
Due: disallow-caps

perf: use CuPy's own repeat when it accepts an array of repeats
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  tests-cuda/test_4354_cupy_repeat_array_repeats.py
Due: disallow-caps

docs: read the Chicago taxi dataset from an R2 mirror
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/user-guide/how-to-examine-single-item.md
Due: none

ci: deploy the documentation to a Cloudflare R2 bucket
  .github/actions/deploy-to-gh-pages/action.yml
  .github/actions/purge-cloudflare-cache/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-squash.yml
  .github/workflows/docs-version.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

fix(ci): link the deployed documentation with a trailing slash
  .github/workflows/docs-preview.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

fix(ci): name the R2 buckets that hold the documentation
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

test: match the experimental warning filter by message, not by class path (#4353)
  pyproject.toml
Due: disallow-caps

fix(ci): remove stale pages when syncing the documentation
  .github/actions/purge-cloudflare-cache/action.yml
  .github/workflows/docs-preview.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

docs: read the Chicago taxi dataset from an R2 mirror (#4327)
  docs/getting-started/10-minutes-to-awkward-array.md
  docs/user-guide/how-to-examine-single-item.md
Due: none

install cudf from wheels in coverage
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

use environment libstdc++
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

Cap cuda-cccl version at 1.1.1
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
  requirements-test-gpu.txt
Due: disallow-caps

chore: Cap cuda-cccl version at 1.1.1 (#4356)
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
  requirements-test-gpu.txt
Due: disallow-caps

feat: add ak.from_cudf and rewrite to_cudf via libcudf (#3949)
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
  codecov.yml
  src/awkward/_connect/cudf.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_cudf.py
  src/awkward/operations/ak_to_cudf.py
  tests-cuda/test_3051_to_cuda.py
  tests-cuda/test_3946_from_cudf.py
  tests-cuda/test_3946_from_cudf_extended.py
  tests-cuda/test_3946_from_cudf_pylibcudf.py
  tests-cuda/test_3946_to_cudf_extended.py
Due: disallow-caps

Replace numba-cuda with numba-cuda-mlir in CUDA backend
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
  requirements-test-gpu.txt
  src/awkward/_connect/cuda/_segment_algorithms.py
Due: disallow-caps

fix: handle temporal unit overflow in ravel
  src/awkward/contents/numpyarray.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_flatten.py
  tests/properties/operations/test_ravel.py
  tests/properties/operations/util.py
  tests/test_4278_ravel_temporal_unit_overflow.py
Due: disallow-caps, require-test-name-identifier

ci: skip the cp315t-win32 wheel
  awkward-cpp/pyproject.toml
Due: disallow-caps

awkward 2.14.0 and awkward-cpp 57
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

docs: add 2.14 to the version switcher
  docs/switcher.json
Due: none

ci: deploy the documentation to a Cloudflare R2 bucket (#4355)
  .github/actions/deploy-to-gh-pages/action.yml
  .github/actions/purge-cloudflare-cache/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-squash.yml
  .github/workflows/docs-version.yml
  .github/workflows/reusable-docs.yml
Due: disallow-caps

Can't inline comments...
  .github/actions/setup-gpu-env/action.yml
  .github/workflows/reusable-coverage.yml
Due: disallow-caps

fix: dangling std::string keys in from_rdataframe
  src/awkward/_connect/rdataframe/from_rdataframe.py
  tests/test_4237_from_rdataframe_dangling_string_keys.py
Due: disallow-caps, require-test-name-identifier

fix: dangling std::string keys in from_rdataframe (#4383)
  src/awkward/_connect/rdataframe/from_rdataframe.py
  tests/test_4237_from_rdataframe_dangling_string_keys.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
