Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: support `counts=len(array)` in `ak.unflatten` (#2632)
  src/awkward/operations/ak_unflatten.py
  tests/test_2632_unflatten_length.py
Due: disallow-caps, require-test-name-identifier

fix: support non `int64` index in `ListArray`'s `pad_none` (#2634)
  src/awkward/contents/content.py
  src/awkward/contents/listarray.py
  tests/test_2634_listarray_pad_none.py
Due: disallow-caps, require-test-name-identifier

test: add simple tests
  tests/test_2631_vectorised_to_numpy_strings.py
Due: disallow-caps, require-test-name-identifier

test: improve quality of test
  tests/test_2631_vectorised_to_numpy_strings.py
Due: disallow-caps, require-test-name-identifier

docs: add sample data
  docs/samples/Android.head.log.gz
  docs/user-guide/how-to-strings-read-binary.md
Due: none

feat: add CPU kernel for `to_numpy` support for strings/bytestrings (#2631)
  awkward-cpp/include/awkward/unicode.h
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_pad_zero_to_length.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_prepare_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_utf8_to_utf32_padded.cpp
  awkward-cpp/src/cpu-kernels/unicode.cpp
  kernel-specification.yml
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/regulararray.py
  tests/test_2631_vectorised_to_numpy_strings.py
Due: disallow-caps, require-test-name-identifier

docs: remove reference to old arrayclass
  docs/reference/ak.behavior.md
Due: none

docs: remove reference to old arrayclass (#2640)
  docs/reference/ak.behavior.md
Due: none

Increment awkward-cpp and awkward versions.
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix: in reducer should also allow (#2610)
  src/awkward/contents/regulararray.py
Due: disallow-caps

Exclude Python 3.12 because it's not supported by NumPy.
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

Try again to exclude Python 3.12.
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

Exclude Python 3.12 on all platforms.
  .github/workflows/deploy-cpp.yml
Due: disallow-caps

docs: initial user-guide pass for string functions (#2635)
  docs/_toc.yml
  docs/samples/Android.head.log.gz
  docs/user-guide/how-to-strings-extract-substrings.md
  docs/user-guide/how-to-strings-read-binary.md
  docs/user-guide/how-to-strings-split-and-join.md
  docs/user-guide/how-to-strings.md
Due: none

docs: update version switcher for 2.3 release
  docs/switcher.json
Due: none

fix: rename cppyy test
  tests/test_2306_cppyy_jit.py
Due: disallow-caps, require-test-name-identifier

fix: rename cppyy test (#2643)
  tests/test_2306_cppyy_jit.py
Due: disallow-caps, require-test-name-identifier

chore: try to reintroduce Python 3.12, now that NumPy has released a beta.
  .github/workflows/deploy-cpp.yml
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

ci: update more to 3.12
  .github/workflows/deploy-cpp.yml
  .github/workflows/packaging-test.yml
  .github/workflows/test.yml
  README.md
  cibuildwheel.toml
  pyproject.toml
Due: disallow-caps

tests: use packaging.version instead of vendor inside setuptools
  tests/test_0080_flatpandas_multiindex_rows_and_columns.py
  tests/test_2306_cppyy_jit.py
Due: disallow-caps, require-test-name-identifier

tests: avoid deps that aren't on 3.12 yet
  .github/workflows/test.yml
  requirements-test.txt
Due: disallow-caps

fix: support `highlevel` in all branches for `from_parquet`
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

refactor: improve readability of `to_arrow_table`
  src/awkward/operations/ak_to_arrow_table.py
Due: disallow-caps

test: add simple test
  tests/test_2646_from_parquet_highlevel.py
Due: disallow-caps, require-test-name-identifier

fix: drop partial change
  src/awkward/operations/ak_to_arrow_table.py
Due: disallow-caps

test: `importorskip`
  tests/test_2646_from_parquet_highlevel.py
Due: disallow-caps, require-test-name-identifier

feat: add support for `__arrow_array__`
  src/awkward/_connect/pyarrow.py
  src/awkward/highlevel.py
Due: disallow-caps

test: add simple test
  tests/test_2650_arrow_array_highlevel.py
Due: disallow-caps, require-test-name-identifier

test: check coercion
  tests/test_2650_arrow_array_highlevel.py
Due: disallow-caps, require-test-name-identifier

test: check round-trip, older pyarrow
  tests/test_2650_arrow_array_highlevel.py
Due: disallow-caps, require-test-name-identifier

feat: add `from_dlpack` operation to backends
  src/awkward/_connect/numpy.py
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

feat: add `ak.from_dlpack`
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_dlpack.py
Due: disallow-caps

refactor: replace highlevel `__array__` support with `__array_interface__`
  src/awkward/highlevel.py
Due: disallow-caps

wip: support output of DLPack array
  src/awkward/_connect/dlpack.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/jax.py
  src/awkward/_nplikes/numpy.py
  src/awkward/_nplikes/numpylike.py
  src/awkward/_nplikes/typetracer.py
  src/awkward/contents/recordarray.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_from_dlpack.py
Due: disallow-caps

fix: don't copy CUDA arrays eagerly
  src/awkward/_nplikes/__init__.py
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

fix: support older NumPy `dlpack` interface
  src/awkward/_connect/dlpack.py
Due: disallow-caps

test: add test
  tests/test_2649_dlpack_support.py
Due: disallow-caps, require-test-name-identifier

refactor: simplify `get_layout_device`
  src/awkward/_connect/dlpack.py
Due: disallow-caps

feat: support `__dlpack__` in `ak.to_layout`
  src/awkward/operations/ak_to_layout.py
Due: disallow-caps
