Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix type error for can_cast
  src/awkward/_broadcasting.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_subrange_equal_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

cleanup
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
Due: disallow-caps

docs: add documentation page for named axes
  docs/_toc.yml
  docs/conf.py
  docs/user-guide/how-to-array-properties-named-axis.md
  docs/user-guide/how-to-array-properties.md
Due: none

fix: TypeError fix for `can_cast` (#3255)
  src/awkward/_broadcasting.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_subrange_equal_bool.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

fix: ListArray slicing on GPU (#3248)
  dev/generate-kernel-signatures.py
  kernel-specification.yml
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_getitem_next_at.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_getitem_next_at.cu
  src/awkward/contents/listarray.py
  src/awkward/contents/regulararray.py
  tests-cuda/test_3140_cuda_slicing.py
Due: disallow-caps

add new to_torch function
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_to_torch.py
  tests/test_3256_to_torch_from_torch.py
Due: disallow-caps, require-test-name-identifier

add new from_torch function
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_torch.py
  tests/test_3256_to_torch_from_torch.py
Due: disallow-caps, require-test-name-identifier

add changes suggested by Jim
  src/awkward/operations/ak_from_torch.py
  src/awkward/operations/ak_to_torch.py
  tests/test_3259_to_torch_from_torch.py
Due: disallow-caps, require-test-name-identifier

fix style
  src/awkward/operations/ak_from_torch.py
  src/awkward/operations/ak_to_torch.py
Due: disallow-caps

step 0: remove all existing code and return None
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

step 1: make sure we can iterate over names_nbytes
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

step 2: make sure we can create a NumPy array through pybind11
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

step 3: make sure we can see the raw data in the array
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

step 4: make sure we can fill the dict and the std::map
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

step 5: filling the cpp_container fills the py_container
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

done: we are now returning the array build by ak.from_buffers
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

docs: pybind11 demo project should have NumPy own the data (#3261)
  header-only/examples/pybind11/demo.cpp
Due: disallow-caps

add cuda backend support
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

style changes
  src/awkward/operations/ak_to_raggedtensor.py
Due: disallow-caps

propagate named axis through broadcasting; add more highlevel ops (that depended on broadcasting to work)
  src/awkward/_broadcasting.py
  src/awkward/_connect/numexpr.py
  src/awkward/_connect/numpy.py
  src/awkward/_namedaxis.py
  src/awkward/_operators.py
  src/awkward/contents/content.py
  src/awkward/operations/ak_broadcast_arrays.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_isclose.py
  src/awkward/operations/ak_mask.py
  src/awkward/operations/ak_mean.py
  src/awkward/operations/ak_nan_to_num.py
  src/awkward/operations/ak_transform.py
  src/awkward/operations/ak_where.py
  src/awkward/operations/ak_with_field.py
  src/awkward/operations/ak_zip.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

add test for ak.where with named axis
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

fix test using pyarrow
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

add test case for ak.broadcast_fields
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

streamline code
  docs/user-guide/how-to-array-properties-named-axis.md
  src/awkward/_namedaxis.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_all.py
  src/awkward/operations/ak_any.py
  src/awkward/operations/ak_argmax.py
  src/awkward/operations/ak_argmin.py
  src/awkward/operations/ak_argsort.py
  src/awkward/operations/ak_cartesian.py
  src/awkward/operations/ak_combinations.py
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_corr.py
  src/awkward/operations/ak_count.py
  src/awkward/operations/ak_count_nonzero.py
  src/awkward/operations/ak_covar.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_fill_none.py
  src/awkward/operations/ak_firsts.py
  src/awkward/operations/ak_flatten.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_local_index.py
  src/awkward/operations/ak_max.py
  src/awkward/operations/ak_merge_option_of_records.py
  src/awkward/operations/ak_merge_union_of_records.py
  src/awkward/operations/ak_min.py
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_num.py
  src/awkward/operations/ak_pad_none.py
  src/awkward/operations/ak_prod.py
  src/awkward/operations/ak_ptp.py
  src/awkward/operations/ak_singletons.py
  src/awkward/operations/ak_softmax.py
  src/awkward/operations/ak_sort.py
  src/awkward/operations/ak_std.py
  src/awkward/operations/ak_sum.py
  src/awkward/operations/ak_unflatten.py
  src/awkward/operations/ak_var.py
Due: disallow-caps

fix: ak.typetracer.length_one_if_typetracer with option and union types
  src/awkward/forms/form.py
  tests/test_3264_length_one_if_typetracer_with_option_types.py
Due: disallow-caps, require-test-name-identifier

forgot to add the test
  tests/test_3264_length_one_if_typetracer_with_option_types.py~
Due: disallow-caps

no, not the Emacs backup file
  tests/test_3264_length_one_if_typetracer_with_option_types.py~
Due: disallow-caps

add named axis to constructor, repr and .show(...) of highlevel ak.Array & ak.Record;streamline code more;add some more tests
  docs/user-guide/how-to-array-properties-named-axis.md
  src/awkward/__init__.py
  src/awkward/_namedaxis.py
  src/awkward/_operators.py
  src/awkward/highlevel.py
  src/awkward/operations/ak_is_none.py
  src/awkward/operations/ak_local_index.py
  src/awkward/operations/ak_with_named_axis.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

satisfy pylint
  src/awkward/_namedaxis.py
Due: disallow-caps

improve docs, comments, and add named/positional axis property to Records
  docs/user-guide/how-to-array-properties-named-axis.md
  src/awkward/_namedaxis.py
  src/awkward/contents/content.py
  src/awkward/highlevel.py
Due: disallow-caps

remove ak.Slicer as numpy provides np.s_ and is a strict dependency
  docs/user-guide/how-to-array-properties-named-axis.md
  src/awkward/__init__.py
  src/awkward/_namedaxis.py
Due: disallow-caps

fix docs
  docs/user-guide/how-to-array-properties-named-axis.md
Due: none

feat: to/from PyTorch Tensor (#3259)
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_from_torch.py
  src/awkward/operations/ak_to_torch.py
  tests/test_3259_to_torch_from_torch.py
Due: disallow-caps, require-test-name-identifier

ci: restore Windows 32-bit wheels
  .github/workflows/build-wheels.yml
Due: disallow-caps

ci: use official GHA for uv
  .github/workflows/build-wheels.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

mark right-broadcasting test with xfail for windows 32-bit
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

fix: ak.typetracer.length_one_if_typetracer with option and union types (#3266)
  src/awkward/forms/form.py
  tests/test_3264_length_one_if_typetracer_with_option_types.py
Due: disallow-caps, require-test-name-identifier

ci: use official GHA for uv (#3269)
  .github/workflows/build-wheels.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

ci: restore Windows 32-bit wheels (#3268)
  .github/workflows/build-wheels.yml
Due: disallow-caps

chore: bump awkward and awkward-cpp versions
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps
