Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

pylint was useful: '__len__' should return 'int', not a NumPy integer
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

feat: add __dask_tokenize__ hook (#3017)
  src/awkward/highlevel.py
Due: disallow-caps

feat: added a `commit` method on `TypeTracerReport` to identify touched buffers in the Dask DAG-building pass (#3043)
  src/awkward/_nplikes/typetracer.py
  tests/test_2027_add_data_touch_reporting_to_TypeTracerArray.py
  tests/test_2085_empty_if_typetracer.py
  tests/test_2373_unzip_touching.py
  tests/test_2374_cartesian_touching.py
Due: disallow-caps, require-test-name-identifier

fix: test and json
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  studies/tests-and-kernels-map/tests_to_kernels.json
  tests-cuda/test_2922_new_cuda_kernels.py
Due: disallow-caps

refactor: add status in json
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  studies/tests-and-kernels-map/tests_to_kernels.json
Due: none

The next release will be 2.6.3rc2.
  pyproject.toml
Due: disallow-caps

test: add some tests
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922_new_cuda_kernels.py
Due: disallow-caps

fix: some tests
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922_new_cuda_kernels.py
Due: disallow-caps

Fixing test cases with np.AxisError
  tests/test_1137_num.py
  tests/test_1904_drop_none.py
  tests/test_1914_improved_axis_to_posaxis.py
  tests/test_2411_cartesian_axis_validation.py
Due: disallow-caps, require-test-name-identifier

test: add more tests and add test number
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922_new_cuda_kernels.py
Due: disallow-caps

refactor: remove file
  tests-cuda/test_2922_new_cuda_kernels
Due: disallow-caps

refactor: split test files
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

refactor: shift tests
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

test: more tests
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

fix: handle structured arrays for option-type
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

test: implement unit test for to_numpy on option-type of record type
  tests/test_3060_indexoption_to_numpy_record_array.py
Due: disallow-caps, require-test-name-identifier

fix: pass backend to create_missing_data for nplike
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

test: support older numpy with no equal_nan keyword
  tests/test_3060_indexoption_to_numpy_record_array.py
Due: disallow-caps, require-test-name-identifier

fix: Support structured arrays in option type to_numpy (#3060)
  src/awkward/contents/indexedoptionarray.py
  tests/test_3060_indexoption_to_numpy_record_array.py
Due: disallow-caps, require-test-name-identifier

fix: test name
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

Very hackish modification to support numpy 2.x.
  src/awkward/operations/ak_full_like.py
Due: disallow-caps

numpy 2.x str -> bool hack revised
  src/awkward/operations/ak_full_like.py
Due: disallow-caps

Auto-format
  src/awkward/operations/ak_full_like.py
  tests/test_1914_improved_axis_to_posaxis.py
  tests/test_2411_cartesian_axis_validation.py
Due: disallow-caps, require-test-name-identifier

Okay, finally this time for sure.
  src/awkward/operations/ak_full_like.py
Due: disallow-caps

refactor importorskip
  studies/tests-and-kernels-map/tests_to_implemented_cuda_kernels.json
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

fix: incompatible backends in ak.firsts
  src/awkward/contents/content.py
  src/awkward/operations/ak_firsts.py
  tests-cuda/test_3065_cuda_kernels.py
Due: disallow-caps

refactor: variable name
  tests-cuda/test_3065_cuda_kernels.py
Due: disallow-caps

test: ak.firsts
  tests-cuda/test_3065_cuda_kernels.py
Due: disallow-caps

test: add tests
  tests-cuda/test_3065_cuda_kernels.py
Due: disallow-caps

tests: another batch of tests
  tests-cuda/test_3065_cuda_kernels.py
Due: disallow-caps

test: new cuda kernels (#2922)
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_kernels.json
  tests-cuda/test_1276_cuda_num.py
  tests-cuda/test_2922a_new_cuda_kernels.py
  tests-cuda/test_2922b_new_cuda_kernels.py
Due: disallow-caps

Adding additional test requirement-set for numpy-2.x
  .github/workflows/test.yml
  requirements-test-numpy2.txt
Due: disallow-caps

no upper caps on version: https://iscinumpy.dev/post/bound-version-constraints/
  awkward-cpp/pyproject.toml
  pyproject.toml
  requirements-test-numpy2.txt
Due: disallow-caps

numpy==1.18.0 does not have an 'exceptions' submodule
  src/awkward/errors.py
Due: disallow-caps

one source of truth for this object (which is now more complicated than a simple look-up)
  src/awkward/_nplikes/numpy_like.py
Due: disallow-caps

'numpy.core' still exists and we shouldn't use any non-public (underscored) interfaces
  src/awkward/_operators.py
Due: disallow-caps

one source of truth for this object (which is now more complicated than a simple look-up)
  tests/test_1137_num.py
Due: disallow-caps, require-test-name-identifier

one source of truth for this object (which is now more complicated than a simple look-up)
  tests/test_1904_drop_none.py
Due: disallow-caps, require-test-name-identifier

pre-commits
  tests/test_1137_num.py
  tests/test_1904_drop_none.py
  tests/test_1914_improved_axis_to_posaxis.py
  tests/test_2411_cartesian_axis_validation.py
Due: disallow-caps, require-test-name-identifier

@ManasviGoyal, (real?) errors in these two kernel tests are being caught by NumPy 2.0, and not by 1.x
  kernel-test-data.json
Due: disallow-caps
