Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

add dtype‑promotion table that matches CuPy’s ufunc.at support
  src/awkward/_connect/cuda/_reducers.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
  src/awkward/_nplikes/cupy.py
  src/awkward/_reducers.py
Due: disallow-caps

linter errors fixed
  src/awkward/_reducers.py
Due: disallow-caps

use reduce_with_cupy_at for sum reduction
  src/awkward/_connect/cuda/_reducers.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
Due: disallow-caps

add prod reducer for axis=None and rewrite cuda prod kernel
  src/awkward/_connect/cuda/_reducers.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_max.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_sum.cu
  src/awkward/_reducers.py
Due: disallow-caps

cleanup
  src/awkward/_nplikes/cupy.py
  src/awkward/_reducers.py
  tests-cuda/test_3149_complex_reducers.py
Due: disallow-caps

initial implementation
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

cleanup
  src/awkward/_connect/cuda/_reducers.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod.cu
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/cupy.py
  src/awkward/_reducers.py
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

revert
  src/awkward/_reducers.py
Due: disallow-caps

provide index.dtype passively
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

skip the test with virual arrays for now
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

feat: add argmin implementation using CCCL (#3811)
  dev/generate-kernel-signatures.py
  src/awkward/_backends/cupy.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/_compute.py
  tests-cuda/test_3459_virtualarray_with_cuda.py
Due: disallow-caps

Fix ak.to_cudf compatibility across cuDF versions
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

Fix cuDF mask application across versions
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

temporarily use unary_transform instead of segmented_reduce
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

Use positional cuDF column constructors for compatibility
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

docs: document GPU backend cuDF compatibility limitations
  docs/reference/gpu-backend.md
  docs/reference/toctree.txt
Due: none

docs: Document GPU backend and cuDF compatibility limitations (#3813)
  docs/reference/gpu-backend.md
  docs/reference/toctree.txt
Due: none

clean up the previous implementation
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

import numpy to use np.argmax()
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

fix: fix and test `Form.length_zero/one_array()` (#3810)
  src/awkward/forms/form.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_3810_form_length_zero_one_array.py
Due: disallow-caps, require-test-name-identifier

chore: fix noxfile on Intel macOS
  noxfile.py
Due: disallow-caps

Update noxfile.py
  noxfile.py
Due: disallow-caps

chore: fix noxfile on Intel macOS (#3815)
  noxfile.py
Due: disallow-caps

Reject null bytes in record field names in ak.from_iter
  src/awkward/operations/ak_from_iter.py
  tests/test_1162_ak_from_json_schema.py
Due: disallow-caps, require-test-name-identifier

fix: make named axis thread-safe and start testing using multiple threads in CI (#3805)
  .github/workflows/test.yml
  docs/reference/ak.behavior.md
  requirements-test-basic.txt
  requirements-test-nogil.txt
  src/awkward/_namedaxis.py
  tests/test_2433_copy_behaviors.py
  tests/test_2596_named_axis.py
Due: disallow-caps, require-test-name-identifier

actally pass booleans into the kernel
  src/awkward/contents/numpyarray.py
Due: disallow-caps

let's check for equality with 1 actually
  src/awkward/contents/numpyarray.py
Due: disallow-caps

use m8 instead of <m8
  tests/test_2198_almost_equal.py
  tests/test_2377_empty_index.py
  tests/test_2424_almost_equal_union_record.py
  tests/test_2857_full_like_scalar.py
  tests/test_3773_almost_equal_unionarray.py
  tests/test_3773_unionarray_simplified_mergecastable_and_dropunused.py
Due: disallow-caps, require-test-name-identifier

respect byteorder in ak.from_buffers
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

Clarify axis typing and documentation for ak.moment
  src/awkward/operations/ak_moment.py
Due: disallow-caps

eplace eager parents allocation with lazy (None, length) tuple
  src/awkward/_do.py
  src/awkward/_reducers.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/regulararray.py
Due: disallow-caps

docs: remove gpu-backend from the documentation TOC
  docs/reference/toctree.txt
Due: none

awkward version 2.8.12
  pyproject.toml
Due: disallow-caps

chore: use "M8" dtype instead of "<M8" in tests (#3819)
  tests/test_2198_almost_equal.py
  tests/test_2377_empty_index.py
  tests/test_2424_almost_equal_union_record.py
  tests/test_2857_full_like_scalar.py
  tests/test_3773_almost_equal_unionarray.py
  tests/test_3773_unionarray_simplified_mergecastable_and_dropunused.py
Due: disallow-caps, require-test-name-identifier

docs: add axis semantics documentation and link from API
  docs/user-guide/axis.md
  src/awkward/operations/ak_moment.py
  src/awkward/operations/ak_with_named_axis.py
Due: disallow-caps

add test
  tests/test_3820_from_buffers_byteorder.py
Due: disallow-caps, require-test-name-identifier

bytes tests
  tests/test_3820_from_buffers_byteorder.py
Due: disallow-caps, require-test-name-identifier

test different endianess next length error too
  tests/test_3820_from_buffers_byteorder.py
Due: disallow-caps, require-test-name-identifier
