Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

if it's virtual, the virtual.nplike.ndarray is going to go in there so it's fine
  src/awkward/_nplikes/cupy.py
  src/awkward/_nplikes/numpy.py
Due: disallow-caps

pre-commit fixes
  src/awkward/_nplikes/numpy.py
Due: disallow-caps

remove from_virtual from docs
  docs/reference/toctree.txt
Due: none

recursive from_buffers for virtual arrays
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

raise error if non-fully materialized arraystry to get into an arraybuilder kernel
  src/awkward/_lookup.py
Due: disallow-caps

No local_dict.clear() on Python 3.13
  src/awkward/_connect/numexpr.py
Due: disallow-caps

fix: jax backend tracer leaks
  src/awkward/_backends/jax.py
  src/awkward/_connect/jax/reducers.py
  src/awkward/_connect/jax/trees.py
  src/awkward/jax.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_1399_from_jax.py
  tests/test_1399_to_jax.py
  tests/test_1447_jax_autodiff_slices_ufuncs.py
  tests/test_1490_jax_reducers_combinations.py
  tests/test_1762_jax_behavior_support.py
  tests/test_1764_jax_jacobian.py
Due: disallow-caps, require-test-name-identifier

fix form comparison
  src/awkward/_connect/jax/trees.py
Due: disallow-caps

fix: numexpr: no local_dict.clear() on Python 3.13 (#3404)
  src/awkward/_connect/numexpr.py
Due: disallow-caps

recover old error
  src/awkward/_connect/jax/trees.py
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

fix layout reconstruction attrs propagation
  src/awkward/_connect/jax/trees.py
Due: disallow-caps

fix: jax backend tracer leaks (#3405)
  src/awkward/_backends/jax.py
  src/awkward/_connect/jax/reducers.py
  src/awkward/_connect/jax/trees.py
  src/awkward/jax.py
  src/awkward/operations/ak_from_buffers.py
  tests/test_1399_from_jax.py
  tests/test_1399_to_jax.py
  tests/test_1447_jax_autodiff_slices_ufuncs.py
  tests/test_1490_jax_reducers_combinations.py
  tests/test_1762_jax_behavior_support.py
  tests/test_1764_jax_jacobian.py
Due: disallow-caps, require-test-name-identifier

add class VirtualArray tests
  src/awkward/_nplikes/placeholder.py
  src/awkward/_nplikes/virtual.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

specify dtypes in the test
  src/awkward/_nplikes/virtual.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

maybe this fixes windows tests?
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

array module tests
  src/awkward/_nplikes/array_module.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

we should be able to convert virtual to typetracer
  src/awkward/_nplikes/__init__.py
Due: disallow-caps

to_rdataframe should materialize
  src/awkward/operations/ak_to_rdataframe.py
Due: disallow-caps

allow changing dtype of virtual arrays in asarray
  src/awkward/_nplikes/array_module.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

mypy fix
  src/awkward/_lookup.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

.max() will not work for virtual arrays
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/index.py
Due: disallow-caps

numpyarray tests
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

listoffsetarray tests
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

listarray tests
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

pre-commit fixes
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

recordarray tests
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

add copying
  src/awkward/_nplikes/virtual.py
  tests/test_3364_virtualarray.py
Due: disallow-caps, require-test-name-identifier

fix pylint?
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

fix recursive structure removal logic
  src/awkward/_nplikes/numpy.py
  src/awkward/contents/unionarray.py
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

add test
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

add failing test
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

use index_nplike of tags instead of global numpy nplike
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: order of structure removal for unions
  src/awkward/contents/unionarray.py
Due: disallow-caps

add one more test
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

make new union array raveling work with typetracing
  src/awkward/_nplikes/numpy.py
  src/awkward/contents/unionarray.py
  tests/test_3180_unionarrays_order_structure_removal.py
Due: disallow-caps, require-test-name-identifier

reset _is_getitem_at_placeholder
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

Do not use XX for placeholders
  src/awkward/_nplikes/array_module.py
  src/awkward/prettyprint.py
Due: disallow-caps

remove tolist from array_like
  src/awkward/_nplikes/array_like.py
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

address comments regarding virtual array un-materialization during ak.from_buffers
  src/awkward/_nplikes/virtual.py
  src/awkward/operations/ak_from_buffers.py
Due: disallow-caps

materialize_if_virtual is not needed in *_like(..) operations
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
