Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

ci: let dependabot update the composite actions
  .github/dependabot.yml
Due: disallow-caps

ci: skip xdist for the kernel suites and on s390x
  .github/workflows/reusable-test.yml
Due: disallow-caps

safety checks like other kernels have
  awkward-cpp/src/cpu-kernels/awkward_ListOffsetArray_getitem_boolmask.cpp
  dev/generate-tests.py
  kernel-specification.yml
  src/awkward/_connect/cuda/_compute.py
Due: disallow-caps

ci: speed up CI and remove redundant jobs (#4393)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-version.yml
  .github/workflows/lint.yml
  .github/workflows/needs-cpp-release.yml
  .github/workflows/pr-type-label.yml
  .github/workflows/property-tests-gpu.yml
  .github/workflows/property-tests.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-coverage.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  .github/workflows/semantic-pr-title.yml
  .github/workflows/upload-nightly-wheels.yml
  .gitignore
  codecov.yml
  docs/_static/css/try-awkward-array.css
  docs/conf.py
  docs/lite/jupyter-lite.json
  docs/requirements.txt
  requirements-test-gpu.txt
Due: disallow-caps

fix widening path
  src/awkward/contents/numpyarray.py
  tests/test_4270_float16_unique_windows.py
Due: disallow-caps, require-test-name-identifier

address comments
  tests/test_4270_sort_record_option_field.py
Due: disallow-caps, require-test-name-identifier

update stale comments
  src/awkward/contents/numpyarray.py
  tests/test_4270_float16_float128_complex256_reducers.py
Due: disallow-caps, require-test-name-identifier

trim fields
  src/awkward/contents/recordarray.py
  tests/test_4270_sort_record_option_field.py
Due: disallow-caps, require-test-name-identifier

fix smallest_subnormal
  tests/test_4270_float16_unique_windows.py
Due: disallow-caps, require-test-name-identifier

fix: use eager carries when comparing union and option children
  src/awkward/operations/ak_almost_equal.py
  tests/test_4316_union_equal_reordered_index.py
Due: disallow-caps, require-test-name-identifier

fix: cast repeat counts to intp for 32-bit platforms
  src/awkward/operations/ak_almost_equal.py
Due: disallow-caps

fix: ignore enclosing-option nulls in UnmaskedArray validity when reading parquet
  src/awkward/_connect/pyarrow/conversions.py
  tests/properties/operations/test_to_from_parquet.py
  tests/test_4305_parquet_unmasked_under_option.py
Due: disallow-caps, require-test-name-identifier

address reviewer comments
  src/awkward/contents/numpyarray.py
  tests/test_4270_complex_nan_reducers.py
Due: disallow-caps, require-test-name-identifier

fixes
  src/awkward/contents/numpyarray.py
  tests/test_4270_float16_unique_windows.py
Due: disallow-caps, require-test-name-identifier

Address review comments: fix axis type in concatenate and is_none, restore drop_none signature
  src/awkward/operations/ak_concatenate.py
  src/awkward/operations/ak_drop_none.py
  src/awkward/operations/ak_is_none.py
Due: disallow-caps

fix: to_arrow for unions whose option-type children are longer than the used length
  src/awkward/contents/unionarray.py
  tests/test_4228_to_arrow_union_option_child_length.py
Due: disallow-caps, require-test-name-identifier

fix: float16/float128/complex256 reducers, sort, and argsort no longer raise KeyError (#4259) (#4270)
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  tests-cuda/test_4270_cuda_float16_reducers.py
  tests/properties/operations/known_issues.py
  tests/properties/operations/test_all.py
  tests/properties/operations/test_any.py
  tests/test_4270_complex_nan_reducers.py
  tests/test_4270_float16_float128_complex256_reducers.py
  tests/test_4270_float16_unique_windows.py
  tests/test_4270_sort_record_option_field.py
Due: disallow-caps, require-test-name-identifier

Exclude broken numba-cuda-mlir 0.5.3
  .github/actions/setup-gpu-env/action.yml
  requirements-test-gpu.txt
Due: disallow-caps

Can't inline comments...
  .github/actions/setup-gpu-env/action.yml
Due: disallow-caps

Replace numba-cuda with numba-cuda-mlir in CUDA backend
  .github/actions/setup-gpu-env/action.yml
  requirements-test-gpu.txt
  src/awkward/_connect/cuda/_segment_algorithms.py
Due: disallow-caps

ci: replace retired macOS 14 test runners
  .github/workflows/reusable-test.yml
Due: disallow-caps

feat: support form-only mergeability checks
  src/awkward/_do.py
  src/awkward/forms/_mergeable.py
  tests/test_2852_form_mergeability.py
Due: disallow-caps, require-test-name-identifier

refactor: share mergeability checks through Meta
  src/awkward/_do.py
  src/awkward/_meta/mergeable.py
  src/awkward/_meta/meta.py
  src/awkward/_meta/numpymeta.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/forms/numpyform.py
  tests/test_4401_meta_mergeability.py
Due: disallow-caps, require-test-name-identifier

refactor: compare union forms without temporary layouts
  src/awkward/operations/ak_concatenate.py
  tests/test_4402_concatenated_form_compatibility.py
Due: disallow-caps, require-test-name-identifier

build: derive Awkward versions from Python release tags
  .github/workflows/deploy.yml
  .github/workflows/property-tests-gpu.yml
  .github/workflows/property-tests.yml
  .github/workflows/reusable-build-wheels.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-packaging-test.yml
  .github/workflows/reusable-test.yml
  CONTRIBUTING.md
  noxfile.py
  pyproject.toml
  tests/test_3007_vcs_versioning.py
Due: disallow-caps, require-test-name-identifier

test: preserve CUDA reducer coverage with shared fixtures
  tests-cuda/test_3136_cuda_reducers.py
Due: disallow-caps

test: specify int64 for virtual merge inputs
  tests/test_4401_meta_mergeability.py
Due: disallow-caps, require-test-name-identifier

test: serialize fused operation cache identity check
  tests/test_3792_lazy_fusion.py
Due: disallow-caps, require-test-name-identifier

ci: replace retired macOS 14 test runners (#4400)
  .github/workflows/reusable-test.yml
Due: disallow-caps

fix: preserve sliced nullable-list values in Arrow conversion
  src/awkward/contents/listoffsetarray.py
  tests/properties/operations/test_to_from_arrow.py
  tests/properties/operations/test_to_from_feather.py
  tests/properties/operations/test_to_from_parquet.py
  tests/test_4222_to_arrow_sliced_nullable_lists.py
Due: disallow-caps, require-test-name-identifier

Exempt hypothesis-awkward from uv exclude-newer
  pyproject.toml
Due: disallow-caps

fix: reject unpaired surrogates in JSON output
  src/awkward/operations/ak_to_json.py
  tests/test_0019_use_json_library.py
Due: disallow-caps, require-test-name-identifier

docs: record JSON surrogate decision and evidence
  docs/decisions/4244-json-surrogates.md
  docs/evidence/4244-json-surrogates.md
Due: none

fix(docs): let the llms.txt Markdown sub-build finish
  docs/conf.py
Due: none

docs: add llms.txt and Markdown page versions
  docs/conf.py
  docs/index.md
  docs/requirements.txt
Due: none

docs: write one Markdown copy per page
  docs/conf.py
  docs/requirements.txt
Due: none

Add a property-based test for the BitMaskedArray-to-IndexedOptionArray kernel
  tests/properties/kernels/__init__.py
  tests/properties/kernels/harness.py
  tests/properties/kernels/strategies.py
  tests/properties/kernels/test_BitMaskedArray_to_IndexedOptionArray.py
Due: disallow-caps, require-test-name-identifier

Print Hypothesis statistics in a separate nightly step
  .github/workflows/property-tests.yml
  tests/properties/conftest.py
Due: disallow-caps, require-test-name-identifier
