Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix in indexedoptionarray
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

2340: possible solution and unit tests. Does not add any metadata.
  src/awkward/_connect/pyarrow.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

feat: add awkward_UnionArray_nestedfill_tags_index
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_nestedfill_tags_index.cu
  src/awkward/contents/listarray.py
  src/awkward/operations/ak_fill_none.py
Due: disallow-caps

fix: unexpected keyword argument equal_nan error
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

fix: backend error
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/operations/ak_concatenate.py
Due: disallow-caps

test: add cuda integration tests
  tests-cuda/test_3086_cuda_concatenate.py
Due: disallow-caps

fix: add a clear message that distributed rdataframe is not yet supported
  src/awkward/_connect/rdataframe/from_rdataframe.py
Due: disallow-caps

test: add more tests
  tests-cuda/test_3086_cuda_concatenate.py
Due: disallow-caps

fix: test names
  tests-cuda/test_3086_cuda_concatenate.py
Due: disallow-caps

fix: refuse dak.Array in hidden-but-public-functions (#3079)
  src/awkward/operations/ak_backend.py
  src/awkward/typetracer.py
Due: disallow-caps

update warnings about cppyy
  docs/user-guide/how-to-use-in-cpp-cppyy.ipynb
Due: none

don't imply that Awkward-JAX only works on CPUs
  docs/user-guide/how-to-specialize-differentiate-jax.md
Due: none

wrote 'Single item detail'
  docs/_toc.yml
  docs/user-guide/how-to-examine-single-item.md
Due: none

put the same intro text on all section starters
  docs/user-guide/how-to-combinatorics.md
  docs/user-guide/how-to-convert.md
  docs/user-guide/how-to-create.md
  docs/user-guide/how-to-examine.md
  docs/user-guide/how-to-filter.md
  docs/user-guide/how-to-math.md
  docs/user-guide/how-to-restructure.md
  docs/user-guide/how-to-specialize.md
  docs/user-guide/how-to-use-in-cpp.md
  docs/user-guide/how-to-use-in-numba.md
  docs/user-guide/index.md
Due: none

finished 'Simple slicing'
  docs/_toc.yml
  docs/reference/index.md
  docs/user-guide/how-to-examine-list-fields.md
  docs/user-guide/how-to-examine-simple-slicing.md
Due: none

feat: add boolean cases for CPU kernels (#3059)
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_fill.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_rearrange_shifted.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal.cpp
  awkward-cpp/src/cpu-kernels/awkward_NumpyArray_subrange_equal_bool.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_copy.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_ranges.cpp
  awkward-cpp/src/cpu-kernels/awkward_unique_ranges_bool.cpp
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-specification.yml
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_fill.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_rearrange_shifted.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_local_nextparents.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_reduce_nonlocal_preparenext.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_sorting_ranges.cu
  src/awkward/_nplikes/array_module.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/numpyarray.py
  studies/tests-and-kernels-map/kernels_to_tests.json
  studies/tests-and-kernels-map/tests_to_kernels.json
  tests/test_3059_boolean_kernels.py
Due: disallow-caps, require-test-name-identifier

finished 'Checking validity'
  docs/_toc.yml
  docs/user-guide/how-to-examine-checking-validity.md
  docs/user-guide/how-to-examine-simple-slicing.md
Due: none

finished 'NumPy functions'
  docs/_toc.yml
  docs/requirements.txt
  docs/user-guide/how-to-math-numpy.md
Due: none

finished 'Awkward broadcasting'
  docs/_toc.yml
  docs/getting-started/index.md
  docs/user-guide/how-to-math-broadcasting.md
Due: none

finished 'Reducing'
  docs/_toc.yml
  docs/user-guide/how-to-math-reducing.md
Due: none

Modified tests, changed strategy, using node parameter
  src/awkward/_connect/pyarrow.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/listoffsetarray.py
  tests/test_2188_values_astype_turns_EmptyArray_into_NumpyArray.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

debug: add debugging flag
  noxfile.py
Due: disallow-caps

test: debug
  .github/workflows/test.yml
  noxfile.py
Due: disallow-caps

feat: add ak.flatten CUDA kernels
  dev/generate-kernel-signatures.py
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_combine.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_length.cu
  src/awkward/contents/unionarray.py
  src/awkward/index.py
  tests-cuda/test_3086_cuda_concatenate.py
  tests-cuda/test_3086_cuda_flatten.py
Due: disallow-caps

mention 'ak.enforce_type'
  docs/user-guide/how-to-math-broadcasting.md
Due: none

Improving unit tests a bit
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

fix: send 2D array to CUDA
  dev/generate-tests.py
  kernel-test-data.json
  src/awkward/_connect/cuda/cuda_kernels/awkward_UnionArray_flatten_length.cu
  src/awkward/_nplikes/cupy.py
  src/awkward/contents/unionarray.py
  src/awkward/index.py
Due: disallow-caps

test: fixes
  tests-cuda/test_3086_cuda_concatenate.py
Due: disallow-caps

Improvements, stylistic
  src/awkward/_connect/pyarrow.py
  src/awkward/_meta/meta.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

Test 2188 can be cleaned back up now
  tests/test_2188_values_astype_turns_EmptyArray_into_NumpyArray.py
Due: disallow-caps, require-test-name-identifier

ci: macos-latest is changing to macos-14 ARM runners
  .github/workflows/build-wheels.yml
  .github/workflows/header-only-test.yml
  .github/workflows/packaging-test.yml
Due: disallow-caps

fix: PyPy segfault may be related to using out-of-scope array
  src/awkward/contents/unionarray.py
Due: disallow-caps

fix: PyPy segfault may be related to using out-of-scope array (#3093)
  src/awkward/contents/unionarray.py
Due: disallow-caps

ak_to_arrow_table uses _arrow_needs_option_type()
  src/awkward/operations/ak_to_arrow_table.py
Due: disallow-caps

explicitly add Plausible to the try-it page because it doesn't use a template
  docs/_static/try-it.html
Due: none

OptionType uses _arrow_needs_option_type
  src/awkward/contents/recordarray.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

Adding test for RegularArray containing EmptyArray
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

Fixing RegularArray, also test_2340 style fix
  src/awkward/contents/regulararray.py
  tests/test_2340_unknown_type_to_arrow_and_back.py
Due: disallow-caps, require-test-name-identifier

wrote how-to-math-statistics
  docs/user-guide/how-to-math-statistics.md
Due: none

also remove the [todo] from TOC
  docs/_toc.yml
Due: none
