Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

argmin, argmax determinism: preferring the lower index (first occurrence)
  src/awkward/_connect/cuda/cuda_cccl_kernels/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin.cu
Due: disallow-caps

add argmin and argmax for complex types
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
Due: disallow-caps

min reducer fix
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_min.cu
Due: disallow-caps

make is_c_contiguous touch
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

cleanup
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_cccl_kernels/__init__.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_ListArray_combinations_length.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_RegularArray_combinations_64.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_3136_cuda_argmin_and_argmax.py
Due: disallow-caps

add docs
  src/awkward/operations/ak_to_packed.py
Due: disallow-caps

add complex reducers
  dev/generate-kernel-signatures.py
  src/awkward/_connect/cuda/__init__.py
  src/awkward/_connect/cuda/cuda_cccl_kernels/__init__.py
  src/awkward/_connect/cuda/cuda_cccl_kernels/awkward_reduce_min.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_3149_complex_reducers.py
Due: disallow-caps

add type_ argument to materialize
  src/awkward/_nplikes/array_like.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/index.py
  src/awkward/record.py
Due: disallow-caps

typing to maybe_materialize
  src/awkward/_nplikes/array_like.py
Due: disallow-caps

guard the legnth, not the nplike
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
Due: disallow-caps

fix: do not force LE data-order in form.py (#3629)
  src/awkward/forms/form.py
  src/awkward/operations/ak_to_buffers.py
Due: disallow-caps

better typing and test
  src/awkward/_nplikes/array_like.py
  tests/test_3637_skip_placeholder_materialization_in_to_packed.py
Due: disallow-caps, require-test-name-identifier

float32 dtypes
  tests/test_3637_skip_placeholder_materialization_in_to_packed.py
Due: disallow-caps, require-test-name-identifier

feat: skip materialization of placeholders in `to_packed` (#3637)
  src/awkward/_nplikes/array_like.py
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/content.py
  src/awkward/contents/emptyarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/regulararray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/index.py
  src/awkward/record.py
  tests/test_3637_skip_placeholder_materialization_in_to_packed.py
Due: disallow-caps, require-test-name-identifier

fix: make `to_packed` work for typetracer backed `IndexedOptionArray`, `BitMaskedArray`, and `UnionArray` (#3608)
  src/awkward/contents/bitmaskedarray.py
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/unionarray.py
  tests/test_3608_to_packed_for_typetracer_backed_arrays.py
Due: disallow-caps, require-test-name-identifier

awkward version 2.8.8 and awkward_cpp 49
  awkward-cpp/pyproject.toml
  pyproject.toml
Due: disallow-caps

fix typo
  src/awkward/typetracer.py
Due: disallow-caps

perf: detect & fastpath no-op range slices in RecordArrays
  src/awkward/contents/recordarray.py
Due: disallow-caps

remove unnecessary import
  src/awkward/contents/recordarray.py
Due: disallow-caps

fix condition to check for step size == 1 and potential unknown_length
  src/awkward/contents/recordarray.py
Due: disallow-caps

add same shortcut to ListOffsetArray layouts
  src/awkward/contents/listoffsetarray.py
Due: disallow-caps

add shortcut to all layout types
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

forgot union and numpy array layouts
  src/awkward/contents/numpyarray.py
  src/awkward/contents/unionarray.py
Due: disallow-caps

remove unnecessary condition for known data
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
Due: disallow-caps

forgot removing the condition for RecordArrays
  src/awkward/contents/recordarray.py
Due: disallow-caps

...and NumpyArray
  src/awkward/contents/numpyarray.py
Due: disallow-caps

add this shortcut also to noop slices on Index instances
  src/awkward/index.py
Due: disallow-caps

fix deepcopy generator reference and better assertion error
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

add test
  tests/test_3644_virtual_array_deepcopy_generator_reference.py
Due: disallow-caps, require-test-name-identifier

we need to update an old test for the new error message
  tests/test_3475_virtualarray_unknown_length.py
Due: disallow-caps, require-test-name-identifier

no reason to append to the error message
  src/awkward/_nplikes/virtual.py
Due: disallow-caps

fix: virtual array deep copy generator reference + better error message for `assert_never` (#3644)
  src/awkward/_nplikes/virtual.py
  tests/test_3475_virtualarray_unknown_length.py
  tests/test_3644_virtual_array_deepcopy_generator_reference.py
Due: disallow-caps, require-test-name-identifier

perf: detect & fastpath no-op range slices in all layout types (#3642)
  src/awkward/contents/bytemaskedarray.py
  src/awkward/contents/indexedarray.py
  src/awkward/contents/indexedoptionarray.py
  src/awkward/contents/listarray.py
  src/awkward/contents/listoffsetarray.py
  src/awkward/contents/numpyarray.py
  src/awkward/contents/recordarray.py
  src/awkward/contents/unionarray.py
  src/awkward/contents/unmaskedarray.py
  src/awkward/index.py
Due: disallow-caps

fix all failing tests on della
  dev/generate-tests.py
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmax_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_argmin_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/awkward_reduce_prod_complex.cu
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

final cleanup
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
  tests-cuda/test_3162_cuda_generic_reducer_operation.py
Due: disallow-caps

fix to_arrow datetime conversion
  src/awkward/contents/numpyarray.py
Due: disallow-caps

follow Andres' suggestion
  src/awkward/contents/numpyarray.py
Due: disallow-caps

fix bug reported by Kelci
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_reduce_adjust_starts_shifts_64.cu
Due: disallow-caps

revert changes to reducer
  src/awkward/_connect/cuda/cuda_kernels/awkward_NumpyArray_reduce_adjust_starts_shifts_64.cu
Due: disallow-caps

fix: SVG bug in diagram depicting ragged aggregation
  docs-img/diagrams/example-reduction-sum-only.svg
  docs-img/diagrams/example-reduction-sum.svg
Due: none

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
