Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

fix: improve performance of `Form.select_columns` (#2536)
  src/awkward/forms/bitmaskedform.py
  src/awkward/forms/bytemaskedform.py
  src/awkward/forms/emptyform.py
  src/awkward/forms/form.py
  src/awkward/forms/indexedform.py
  src/awkward/forms/indexedoptionform.py
  src/awkward/forms/listform.py
  src/awkward/forms/listoffsetform.py
  src/awkward/forms/numpyform.py
  src/awkward/forms/recordform.py
  src/awkward/forms/regularform.py
  src/awkward/forms/unionform.py
  src/awkward/forms/unmaskedform.py
  tests/test_2536_select_columns.py
Due: disallow-caps, require-test-name-identifier

fix: don't double-invoke function
  src/awkward/_dispatch.py
Due: disallow-caps

feat: permit return values of `NotImplemented`
  src/awkward/_dispatch.py
Due: disallow-caps

refactor: type hints
  src/awkward/_dispatch.py
Due: disallow-caps

fix: assert `Collection`
  src/awkward/_dispatch.py
Due: disallow-caps

fix: yield (x,)
  src/awkward/operations/ak_softmax.py
Due: disallow-caps

fix: support single-array argument to `concatenate`
  src/awkward/operations/ak_concatenate.py
Due: disallow-caps

feat: error if multiple yields
  src/awkward/_dispatch.py
Due: disallow-caps

Update docs/requirements-wasm.txt
  docs/requirements-wasm.txt
Due: none

Update docs/requirements.txt
  docs/requirements.txt
Due: none

ci: work on computing pyodide version
  .github/workflows/docs.yml
Due: disallow-caps

ci: fix duplicate workflow
  .github/workflows/docs.yml
Due: disallow-caps

ci: fix output key
  .github/workflows/docs.yml
Due: disallow-caps

docs: move to newest pyodide toolchain (#2062)
  .github/workflows/docs.yml
  docs/requirements.txt
Due: disallow-caps

docs: move to newest pyodide toolchain (#2062)
  .github/workflows/docs.yml
  docs/requirements-wasm.txt
  docs/requirements.txt
Due: disallow-caps

chore: update pyodide parts a bit
  .github/workflows/docs.yml
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

fix: elif → elseif
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

The next awkward version will be 2.2.4
  pyproject.toml
Due: disallow-caps

chore: update pyodide parts a bit (#2538)
  .github/workflows/docs.yml
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

wip: prepare for new `__name__`
  docs/reference/ak.behavior.md
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
Due: disallow-caps

refactor: use `parameters` instead of `layout` where possible
  src/awkward/_behavior.py
  src/awkward/_connect/numpy.py
  src/awkward/contents/recordarray.py
Due: disallow-caps

feat!: add warning if using `__array__` for non built-in types
  src/awkward/contents/content.py
Due: disallow-caps

fix: add `__name__` to nominal parameter list
  src/awkward/_parameters.py
Due: disallow-caps

fix: support `parameters` as None
  src/awkward/_behavior.py
Due: disallow-caps

fix: use `__name__` not `__array__`
  tests/test_0527_fix_unionarray_ufuncs_and_parameters_in_merging.py
Due: disallow-caps, require-test-name-identifier

fix: support undefined array classes
  src/awkward/_behavior.py
Due: disallow-caps

test: use `__name__` not `__array__`
  tests/test_0032_replace_dressedtype.py
Due: disallow-caps, require-test-name-identifier

test: use `__name__` not `__array__`
  tests/test_1762_jax_behavior_support.py
Due: disallow-caps, require-test-name-identifier

feat!: deprecate string behavior classes (#2528)
  docs/user-guide/how-to-convert-python.md
  src/awkward/behaviors/string.py
Due: disallow-caps

feat!: use `__subclass__` instead of `__name__`
  src/awkward/_behavior.py
  src/awkward/_parameters.py
  src/awkward/highlevel.py
  tests/test_0032_replace_dressedtype.py
  tests/test_0527_fix_unionarray_ufuncs_and_parameters_in_merging.py
  tests/test_1762_jax_behavior_support.py
Due: disallow-caps, require-test-name-identifier

feat!: use `__subclass__` instead of `__name__`
  docs/reference/ak.behavior.md
  src/awkward/_behavior.py
  src/awkward/_parameters.py
  src/awkward/contents/content.py
  src/awkward/highlevel.py
  tests/test_0032_replace_dressedtype.py
  tests/test_0527_fix_unionarray_ufuncs_and_parameters_in_merging.py
  tests/test_1762_jax_behavior_support.py
Due: disallow-caps, require-test-name-identifier

refactor: drop unused `if`
  src/awkward/contents/numpyarray.py
Due: disallow-caps

refactor: drop unused `if` (#2543)
  src/awkward/contents/numpyarray.py
Due: disallow-caps

Update src/awkward/_connect/numba/layoutbuilder.py
  src/awkward/_connect/numba/layoutbuilder.py
Due: disallow-caps

feat: add `_getitem_` impl
  src/awkward/_prettyprint.py
  src/awkward/highlevel.py
Due: disallow-caps

feat: add `__bytes__` to `ak.Array`
  src/awkward/behaviors/string.py
  src/awkward/highlevel.py
Due: disallow-caps

fix: don't use _raw
  src/awkward/highlevel.py
Due: disallow-caps

fix: support ufuncs internally
  src/awkward/_connect/numpy.py
  src/awkward/behaviors/string.py
  src/awkward/highlevel.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
