Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre,nin,nout"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.10.0.1"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.32.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy
      files: src
      additional_dependencies:
        - numpy>=1.24

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

fix: numpy 2.3 compatibility (#3534)
  pyproject.toml
  requirements-test-full.txt
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

remove numexpr pin
  requirements-test-full.txt
Due: disallow-caps

ci: fix Windows 3.13
  .github/workflows/test.yml
Due: disallow-caps

ci: fix Windows 3.13 (#3536)
  .github/workflows/test.yml
Due: disallow-caps

Update test.yml
  .github/workflows/test.yml
Due: disallow-caps

Revert "fix: numpy 2.3 compatibility (#3534)"
  pyproject.toml
  requirements-test-full.txt
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

Fix test names
  tests/test_1399_to_jax.py
Due: disallow-caps, require-test-name-identifier

revert: "fix: numpy 2.3 compatibility" (#3537)
  pyproject.toml
  requirements-test-full.txt
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

chore: pin numpy as per upstream pinning recommendation
  pyproject.toml
Due: disallow-caps

remove numexpr python version pin
  requirements-test-full.txt
Due: disallow-caps

more concise version
  src/awkward/_connect/numexpr.py
Due: disallow-caps

remove the numexpr pin from here
  requirements-test-full.txt
Due: disallow-caps

Update requirements-test-full.txt
  requirements-test-full.txt
Due: disallow-caps

back to numpy 1.18.1 as a lower pin
  pyproject.toml
Due: disallow-caps

Update pyproject.toml
  pyproject.toml
Due: disallow-caps

chore: restrict numpy and numexpr for now (#3539)
  pyproject.toml
  requirements-test-full.txt
Due: disallow-caps

chore: update for 3.0
  awkward-cpp/pyproject.toml
Due: disallow-caps

test: fix test names (#3532)
  tests/test_1399_to_jax.py
Due: disallow-caps, require-test-name-identifier

this PR should unpin numpy right?
  pyproject.toml
Due: disallow-caps

leave it at 1.18 for now because requirements-test-minimal.txt wants 1.19
  pyproject.toml
Due: disallow-caps

don't ignore atol runtime warning
  pyproject.toml
Due: disallow-caps

fix: improve type consistency in `to_packed` for `num_none` (#3538)
  pyproject.toml
  src/awkward/contents/indexedoptionarray.py
Due: disallow-caps

fix: make awkward compatible with numexpr 2.11 (#3533)
  requirements-test-full.txt
  src/awkward/_connect/numexpr.py
Due: disallow-caps

do not use infinity atol and comment out sorting test
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

Added job to run GPU tests on selfhosted runner
  .github/workflows/test.yml
  requirements-test-gpu.txt
Due: disallow-caps

add a todo statement
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

Add numba-cuda requirement to GPU tests
  requirements-test-gpu.txt
Due: disallow-caps

we live in a world where xfail exists
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

fix: do not use `atol=np.inf` in a jax test and `xfail` sorting test which fails (#3542)
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

awkward version 2.8.4
  pyproject.toml
Due: disallow-caps

fixing cuda atomicMin and atomicMax for <double>s
  src/awkward/_connect/cuda/cuda_kernels/cuda_common.cu
Due: disallow-caps

raise an error if a complex JAX arrays type (JVPTracer) is passed to Awkward's C++ kernels
  src/awkward/_kernels.py
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

fix typo
  src/awkward/_kernels.py
Due: disallow-caps

fix: error if a complex JAX arrays type is passed to Awkward's C++ kernels (#3546)
  src/awkward/_kernels.py
  tests/test_1490_jax_reducers_combinations.py
Due: disallow-caps, require-test-name-identifier

Add MODE talk + update publications
  docs/getting-started/papers-and-talks.md
Due: none

Update docs/getting-started/papers-and-talks.md
  docs/getting-started/papers-and-talks.md
Due: none
