Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

fix: preserve categorical parameters
  src/awkward/operations/str/__init__.py
Due: disallow-caps

refactor: re-use apply_through_arrow
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
Due: disallow-caps

chore: bump C++ min version
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  header-only/tests/CMakeLists.txt
  pyproject.toml
Due: disallow-caps

refactor: set flags on targets
  awkward-cpp/CMakeLists.txt
  header-only/CMakeLists.txt
  header-only/examples/cython/CMakeLists.txt
  header-only/examples/pybind11/CMakeLists.txt
  header-only/tests/CMakeLists.txt
Due: disallow-caps

chore: only set on awkward-parent
  awkward-cpp/CMakeLists.txt
Due: disallow-caps

chore: tests already link against targets with compile features
  header-only/tests/CMakeLists.txt
Due: disallow-caps

chore: drop standards
  header-only/examples/cython/CMakeLists.txt
  header-only/examples/pybind11/CMakeLists.txt
Due: disallow-caps

fix: restore std
  header-only/CMakeLists.txt
Due: disallow-caps

chore: bump numba and pyarrow test pins (#2684)
  requirements-test.txt
Due: disallow-caps

ci: add old CMake job
  .github/workflows/test.yml
Due: disallow-caps

fix: support typetracer in `ak.str.` operations (#2679)
  src/awkward/operations/str/__init__.py
  src/awkward/operations/str/akstr_extract_regex.py
  src/awkward/operations/str/akstr_index_in.py
  src/awkward/operations/str/akstr_is_in.py
  src/awkward/operations/str/akstr_join.py
  src/awkward/operations/str/akstr_join_element_wise.py
  src/awkward/operations/str/akstr_repeat.py
  src/awkward/operations/str/akstr_slice.py
  src/awkward/operations/str/akstr_split_pattern.py
  src/awkward/operations/str/akstr_split_pattern_regex.py
  src/awkward/operations/str/akstr_split_whitespace.py
  src/awkward/operations/str/akstr_to_categorical.py
  tests/test_2616_use_pyarrow_for_strings.py
Due: disallow-caps, require-test-name-identifier

fix(cmake): INTERFACE targets can't have non-interface properties
  header-only/CMakeLists.txt
Due: disallow-caps

feat: add support for custom picklers (#2682)
  awkward-cpp/pyproject.toml
  pyproject.toml
  src/awkward/_pickle.py
  src/awkward/highlevel.py
  tests/test_2682_custom_pickler.py
Due: disallow-caps, require-test-name-identifier

fix: drop more references to CXX_EXTENSIONS et al.
  awkward-cpp/CMakeLists.txt
  header-only/CMakeLists.txt
Due: disallow-caps

fix: awkward-cpp expected version
  pyproject.toml
Due: disallow-caps

feat!: drop `typestr` argument
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
Due: disallow-caps

feat!: drop `Form.type_from_behavior`
  src/awkward/forms/form.py
Due: disallow-caps

feat!: drop `ak.typetracer.empty_if_typetracer`
  src/awkward/typetracer.py
Due: disallow-caps

feat!: drop `UnionArray.simplified`'s `merge` argument
  src/awkward/contents/unionarray.py
Due: disallow-caps

feat!: drop string and categorical behaviors
  src/awkward/__init__.py
  src/awkward/behaviors/categorical.py
  src/awkward/behaviors/string.py
Due: disallow-caps

Revert "feat!: drop string and categorical behaviors"
  src/awkward/__init__.py
  src/awkward/behaviors/categorical.py
  src/awkward/behaviors/string.py
Due: disallow-caps

fix: catch broken tests
  tests/test_2096_ak_scalar_type.py
  tests/test_2125_type_of_scalar.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat!: don't import unused behaviors
  src/awkward/__init__.py
Due: disallow-caps

test: drop reference to unused behavior
  tests/test_0028_add_dressed_types.py
Due: disallow-caps, require-test-name-identifier

chore: bump C++ standard version (#2685)
  .github/workflows/test.yml
  awkward-cpp/CMakeLists.txt
  awkward-cpp/pyproject.toml
  header-only/CMakeLists.txt
  header-only/examples/cython/CMakeLists.txt
  header-only/examples/pybind11/CMakeLists.txt
  header-only/tests/CMakeLists.txt
  pyproject.toml
Due: disallow-caps

feat: replace behaviors with pass-throughs
  src/awkward/behaviors/categorical.py
  src/awkward/behaviors/string.py
Due: disallow-caps

feat!: remove deprecations for 1.4.0 release (#2688)
  src/awkward/__init__.py
  src/awkward/behaviors/categorical.py
  src/awkward/behaviors/string.py
  src/awkward/contents/unionarray.py
  src/awkward/forms/form.py
  src/awkward/types/listtype.py
  src/awkward/types/numpytype.py
  src/awkward/types/optiontype.py
  src/awkward/types/recordtype.py
  src/awkward/types/regulartype.py
  src/awkward/types/type.py
  src/awkward/types/uniontype.py
  src/awkward/types/unknowntype.py
  src/awkward/typetracer.py
  tests/test_0028_add_dressed_types.py
  tests/test_2096_ak_scalar_type.py
  tests/test_2125_type_of_scalar.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

The next version will be 2.4.0
  pyproject.toml
Due: disallow-caps

docs: bump version in switcher
  docs/switcher.json
Due: none

docs: fix version selector
  docs/switcher.json
Due: none

The next version will be 2.4.1
  pyproject.toml
Due: disallow-caps

fix: make singletons trivially pickle-able
  src/awkward/_singleton.py
Due: disallow-caps

fix: support placeholders in `frombuffer`
  src/awkward/_nplikes/array_module.py
Due: disallow-caps

test: add simple test
  tests/test_2693_to_buffers_placeholders.py
Due: disallow-caps, require-test-name-identifier

fix: support placeholder arrays in `ArrayModuleNumpyLike.frombuffer` (#2693)
  src/awkward/_nplikes/array_module.py
  src/awkward/_singleton.py
  tests/test_2693_to_buffers_placeholders.py
Due: disallow-caps, require-test-name-identifier

saving progress
  src/awkward/operations/ak_from_feather.py
  src/awkward/operations/ak_to_feather.py
Due: disallow-caps

fix: implement dlpack-device for ArrayBuilder
  src/awkward/highlevel.py
Due: disallow-caps

fix: drop zero-cost views of ak.Array
  src/awkward/_connect/numpy.py
  src/awkward/highlevel.py
Due: disallow-caps

test: remove tests for removed features
  tests/test_2649_dlpack_support.py
Due: disallow-caps, require-test-name-identifier
