Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

disallow-caps:
  name: disallow improper capitalization
  language: pygrep
  entry: PyBind|Cmake|CCache|Github|PyTest

require-test-name-identifier:
  name: require identifiers for test names
  language: python
  entry: python dev/validate-test-names.py

refactor: use independent `recurse_` functions
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: Python 3.7's sum doesn't accept kwargs
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

feat: don't project indexed types if type matches
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

feat: add removal of option!
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat!: don't permute for recordarrays
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat: add option to keep type parameters
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

test: fix argument order
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

test: add more test cases
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat: add `ak.enforce_type`
  src/awkward/operations/__init__.py
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: drop closure abstraction
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: allow unions to be unconverted
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

misc fixes
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

feat: convert between strings and char arrays
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

feat: support changing record lengths
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

refactor: rename `layout_equal_type`
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: change error types
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

refactor: simplify record handling
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: recurse into all contents, even if same type!
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

fix: pack option only for one level
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: only project option if content type changes
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

fix: more packing work!
  src/awkward/operations/ak_enforce_type.py
  tests/test_2365_enforce_type.py
Due: disallow-caps, require-test-name-identifier

docs: add broadcast_fields to toctree
  docs/reference/toctree.txt
Due: none

feat!: deprecate `length_zero_array` highlevel argument
  src/awkward/forms/form.py
Due: disallow-caps

fix: usage of length_zero_array without highlevel
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

refactor: make all functions private
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

refactor: rename function
  src/awkward/operations/ak_enforce_type.py
Due: disallow-caps

docs: add broadcast_fields to toctree (#2436)
  docs/reference/toctree.txt
Due: none

feat!: deprecate `length_zero_array` highlevel argument (#2437)
  src/awkward/forms/form.py
  src/awkward/operations/ak_from_parquet.py
Due: disallow-caps

test: growablebuffer move_to
  awkward-cpp/include/awkward/builder/BoolBuilder.h
  awkward-cpp/include/awkward/builder/Builder.h
  awkward-cpp/include/awkward/builder/Complex128Builder.h
  awkward-cpp/include/awkward/builder/DatetimeBuilder.h
  awkward-cpp/include/awkward/builder/Float64Builder.h
  awkward-cpp/include/awkward/builder/Int64Builder.h
  awkward-cpp/include/awkward/builder/ListBuilder.h
  awkward-cpp/include/awkward/builder/OptionBuilder.h
  awkward-cpp/include/awkward/builder/RecordBuilder.h
  awkward-cpp/include/awkward/builder/StringBuilder.h
  awkward-cpp/include/awkward/builder/TupleBuilder.h
  awkward-cpp/include/awkward/builder/UnionBuilder.h
  awkward-cpp/include/awkward/builder/UnknownBuilder.h
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/src/libawkward/builder/BoolBuilder.cpp
  awkward-cpp/src/libawkward/builder/Complex128Builder.cpp
  awkward-cpp/src/libawkward/builder/DatetimeBuilder.cpp
  awkward-cpp/src/libawkward/builder/Float64Builder.cpp
  awkward-cpp/src/libawkward/builder/Int64Builder.cpp
  awkward-cpp/src/libawkward/builder/ListBuilder.cpp
  awkward-cpp/src/libawkward/builder/OptionBuilder.cpp
  awkward-cpp/src/libawkward/builder/RecordBuilder.cpp
  awkward-cpp/src/libawkward/builder/StringBuilder.cpp
  awkward-cpp/src/libawkward/builder/TupleBuilder.cpp
  awkward-cpp/src/libawkward/builder/UnionBuilder.cpp
  awkward-cpp/src/libawkward/builder/UnknownBuilder.cpp
  header-only/growable-buffer/awkward/GrowableBuffer.h
Due: disallow-caps

fix: avoid reference cycles with the error-handling machinery
  src/awkward/_errors.py
Due: disallow-caps

fix: avoid reference cycles with the error-handling machinery (#2442)
  src/awkward/_errors.py
Due: disallow-caps

test: update layout builder and tests
  header-only/layout-builder/awkward/LayoutBuilder.h
  header-only/tests/test_1542-growable-buffer.cpp
Due: disallow-caps

fix: proper unknown size broadcasting for all-regular
  src/awkward/_broadcasting.py
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

test: add same reproducer from issue
  tests/test_2444_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

fix: only convert contents
  src/awkward/operations/ak_with_field.py
Due: disallow-caps

fix: drop erroneous &gt;
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: scoping error
  src/awkward/_broadcasting.py
Due: disallow-caps

fix: always use true length
  src/awkward/_broadcasting.py
Due: disallow-caps

test: split example into list and dict
  tests/test_2444_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

fix: proper unknown size broadcasting for all-regular (#2444)
  src/awkward/_broadcasting.py
  src/awkward/operations/ak_with_field.py
  tests/test_2444_minimal_listarray.py
Due: disallow-caps, require-test-name-identifier

Path conditions:
  disallow-caps: any of: not (.pre-commit-config.yaml), but not: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
  require-test-name-identifier: any of: ^tests/ and \.py$ and not (^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py))
