Repository scikit-hep/awkward: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, require-test-name-identifier

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(docs|studies|tests/samples|src/awkward/_typeparser/generated_parser.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ["--pytest-test-first"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.257
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "ue,subjet,parms,fo,numer,thre"]

- repo: local
  hooks:
  - id: disallow-caps
    name: disallow improper capitalization
    language: pygrep
    entry: PyBind|Cmake|CCache|Github|PyTest
    exclude: .pre-commit-config.yaml

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.2"
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: require-test-name-identifier
    name: require identifiers for test names
    language: python
    entry: python dev/validate-test-names.py
    types: [file, python]
    files: ^tests/

refactor: move pickling to private module
  src/awkward/_pickle.py
  src/awkward/highlevel.py
Due: disallow-caps

fix: implement support for disabling custom pickle in tests
  src/awkward/_pickle.py
Due: disallow-caps

test: test attrs
  tests/test_2757_attrs_metadata.py
Due: disallow-caps, require-test-name-identifier

test: fix old test usage (unrelated)
  tests/test_2085_empty_if_typetracer.py
  tests/test_2754_highlevel_behavior_missing.py
Due: disallow-caps, require-test-name-identifier

test: importorskip arrow (unrelated)
  tests/test_2646_from_parquet_highlevel.py
  tests/test_2757_attrs_metadata.py
Due: disallow-caps, require-test-name-identifier

test: raise TypeError for `to_regular`
  tests/test_1565_axis_wrap_if_negative_record.py
Due: disallow-caps, require-test-name-identifier

feat: change prefix to `@`
  src/awkward/_attrs.py
  src/awkward/highlevel.py
Due: disallow-caps

test: update test
  tests/test_2757_attrs_metadata.py
Due: disallow-caps, require-test-name-identifier

fix: use of `ctx.behavior`
  src/awkward/operations/ak_transform.py
Due: disallow-caps

feat: add string formatter to `ak.Array.show` (#2803)
  src/awkward/_prettyprint.py
  src/awkward/highlevel.py
  tests/test_2803_string_formatter.py
Due: disallow-caps, require-test-name-identifier

refactor: store `attrs` on `NumbaLookup`
  src/awkward/_connect/numba/arrayview.py
  tests/test_1240_v2_implementation_of_numba_1.py
Due: disallow-caps, require-test-name-identifier

fix: more removals
  src/awkward/_connect/numba/arrayview.py
  src/awkward/_connect/numba/layout.py
  tests/test_1240_v2_implementation_of_numba_1.py
Due: disallow-caps, require-test-name-identifier

feat: expose attrs in typetracer
  src/awkward/typetracer.py
Due: disallow-caps

feat: add attrs to ak.typetracer
  src/awkward/typetracer.py
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

test: add simple test
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

test: correctly check underlying dict
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

feat: expose attrs in typetracer (#2806)
  src/awkward/typetracer.py
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

feat!: drop forget_length in typetracer_with_report
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

fix: support bool types in resolve_dtypes
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
Due: disallow-caps

test: add simple test
  tests/test_2808_dtype_ufunc_bool.py
Due: disallow-caps, require-test-name-identifier

fix: support bool types in `resolve_dtypes` (#2809)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  tests/test_2808_dtype_ufunc_bool.py
Due: disallow-caps, require-test-name-identifier

fix: backport #2809 (#2810)
  src/awkward/_nplikes/array_module.py
  src/awkward/_nplikes/numpy_like.py
  src/awkward/_nplikes/typetracer.py
  tests/test_2808_dtype_ufunc_bool.py
Due: disallow-caps, require-test-name-identifier

The next awkward version will be 2.4.10
  pyproject.toml
Due: disallow-caps

docs: try vendoring data
  docs/data/y77d-th95.json
  docs/user-guide/how-to-create-unflatten-group.md
Due: none

docs: use `open` not `urlopen`
  docs/user-guide/how-to-create-unflatten-group.md
Due: none

chore: remove object/static library targets
  awkward-cpp/CMakeLists.txt
  awkward-cpp/include/awkward/builder/ArrayBuilder.h
  awkward-cpp/include/awkward/builder/BoolBuilder.h
  awkward-cpp/include/awkward/builder/Builder.h
  awkward-cpp/include/awkward/builder/Complex128Builder.h
  awkward-cpp/include/awkward/builder/DatetimeBuilder.h
  awkward-cpp/include/awkward/builder/Float64Builder.h
  awkward-cpp/include/awkward/builder/Int64Builder.h
  awkward-cpp/include/awkward/builder/ListBuilder.h
  awkward-cpp/include/awkward/builder/OptionBuilder.h
  awkward-cpp/include/awkward/builder/RecordBuilder.h
  awkward-cpp/include/awkward/builder/StringBuilder.h
  awkward-cpp/include/awkward/builder/TupleBuilder.h
  awkward-cpp/include/awkward/builder/UnionBuilder.h
  awkward-cpp/include/awkward/builder/UnknownBuilder.h
  awkward-cpp/include/awkward/common.h
  awkward-cpp/include/awkward/forth/ForthInputBuffer.h
  awkward-cpp/include/awkward/forth/ForthMachine.h
  awkward-cpp/include/awkward/forth/ForthOutputBuffer.h
  awkward-cpp/include/awkward/io/json.h
  awkward-cpp/include/awkward/util.h
Due: disallow-caps

fix: set RPATH
  awkward-cpp/CMakeLists.txt
  awkward-cpp/include/awkward/util.h
Due: disallow-caps

fix: delete copy constructor for FromJsonObjectSchema
  awkward-cpp/include/awkward/io/json.h
Due: disallow-caps

wip: try deleting copy-assignment constructor too
  awkward-cpp/include/awkward/io/json.h
Due: disallow-caps

docs: fix use of open
  docs/user-guide/how-to-create-unflatten-group.md
Due: none

feat!: drop forget_length in typetracer_with_report (#2807)
  docs/data/y77d-th95.json
  docs/user-guide/how-to-create-unflatten-group.md
  src/awkward/_nplikes/typetracer.py
  src/awkward/typetracer.py
  tests/test_2806_attrs_typetracer.py
Due: disallow-caps, require-test-name-identifier

fix: support scalar returns from `firsts`
  src/awkward/operations/ak_firsts.py
Due: disallow-caps

test: check `ak.firsts` works on axis=0
  tests/test_2815_return_scalar_firsts.py
Due: disallow-caps, require-test-name-identifier

fix: generate array view
  src/awkward/highlevel.py
Due: disallow-caps

docs: add evaluated notebook
  docs/user-guide/how-to-convert-cppyy.ipynb
Due: none

fix: disable re-running the cppyy notebook for now
  docs/conf.py
Due: none

fix: typo
  docs/conf.py
Due: none
