Repository scikit-hep/awkward: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Path conditions:
  .ci/azure-buildtest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, docs, studies
  .ci/azure-doctest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, .readthedocs.yml, docs-src, docs-img, docs-jupyter, docs-doxygen, docs-sphinx, docs, studies

Fix Windows and improve documentation before final commit to 0.2.28.
  dev/generate-kerneldocs.py
  docs-img/diagrams/awkward-1-0-layers.pdf
  docs-img/diagrams/awkward-1-0-layers.png
  docs-img/diagrams/awkward-1-0-layers.svg
  src/awkward1/operations/structure.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Rename 'astype' to 'numbers_to_type', for use as a high-level function. Also removed 'can_cast', since it's exactly the same as the NumPy version(users should use NumPy). (#377)
  dev/generate-kerneldocs.py
  docs-img/diagrams/awkward-1-0-layers.pdf
  docs-img/diagrams/awkward-1-0-layers.png
  docs-img/diagrams/awkward-1-0-layers.svg
  src/awkward1/operations/structure.py
  tests/test_0173-astype-operation.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

The next version will be 0.2.29.
  VERSION_INFO
Due: none

Update the what-is-awkward to align with (and include) the video.
  docs-src/quickstart.md
  docs-src/what-is-awkward.md
Due: .ci/azure-buildtest-awkward.yml

Update the what-is-awkward to align with (and include) the video. (#378)
  docs-src/quickstart.md
  docs-src/what-is-awkward.md
Due: .ci/azure-buildtest-awkward.yml

Starting to write....
  docs-src/how-to-convert-numpy.md
Due: .ci/azure-buildtest-awkward.yml

Done with how-to-convert-numpy.md.
  docs-src/how-to-convert-numpy.md
  src/awkward1/operations/convert.py
  src/libawkward/array/NumpyArray.cpp
  src/python/content.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Done with how-to-convert-python.md and how-to-convert-json.md.
  docs-src/how-to-convert-json.md
  docs-src/how-to-convert-python.md
  src/awkward1/highlevel.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Identities Kernel example
  include/awkward/cuda-kernels/cuda_identities.h
  src/cuda-kernels/identities.cu
  src/libawkward/Identities.cpp
  src/libawkward/kernel.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

The next version number will be 0.2.30.
  VERSION_INFO
Due: none

Finished how-to-convert-uproot.md.
  docs-src/how-to-convert-uproot.md
Due: .ci/azure-buildtest-awkward.yml

Fixed broken kernel page in sphinx docs
  dev/generate-kerneldocs.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixed broken kernel page in sphinx docs (#382)
  dev/generate-kerneldocs.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Check in what I have.
  docs-src/_toc.yml
  docs-src/how-to-convert-arrow.md
  docs-src/how-to-convert-pandas-multiindex.md
  docs-src/how-to-convert-pandas.md
  docs-src/how-to-convert-zarr.md
  docs-src/how-to-convert.md
Due: .ci/azure-buildtest-awkward.yml

Make from_arrayset even more lazy
  src/awkward1/operations/convert.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixed #383, prevented conversion of characters in strings, and renamed ak.numbers_to_type -> ak.values_astype.
  src/awkward1/operations/structure.py
  src/libawkward/array/NumpyArray.cpp
  tests/test_0173-astype-operation.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Update src/libawkward/array/NumpyArray.cpp
  src/libawkward/array/NumpyArray.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixed #383, prevented conversion of characters in strings, and renamed ak.numbers_to_type -> ak.values_astype. (#385)
  src/awkward1/operations/structure.py
  src/libawkward/array/NumpyArray.cpp
  tests/test_0173-astype-operation.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Add test, fix some bugs
  src/awkward1/operations/convert.py
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Allow longer than expected
  src/libawkward/virtual/ArrayGenerator.cpp
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

python 2 compat
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Ordered dict issues
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Ok use json to stably create array
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Remove Seg Fault from Numpy Array, to fix copy back
  src/cuda-kernels/getitem.cu
  src/libawkward/array/NumpyArray.cpp
  src/python/content.cpp
  src/python/index.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Better CSV file.
  docs-src/how-to-convert-arrow.md
Due: .ci/azure-buildtest-awkward.yml

Make from_arrayset even more lazy (#384)
  src/awkward1/operations/convert.py
  src/libawkward/virtual/ArrayGenerator.cpp
  tests/test_0384-lazy-arrayset.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

how-to-convert-arrow.md is done.
  docs-src/how-to-convert-arrow.md
Due: .ci/azure-buildtest-awkward.yml

Starting Pandas; fixed a bug.
  docs-src/_toc.yml
  docs-src/how-to-convert-arrayset.md
  docs-src/how-to-convert-pandas.md
  docs-src/how-to-convert.md
  src/awkward1/operations/convert.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Done with how-to-convert-pandas.md.
  docs-src/how-to-convert-arrow.md
  docs-src/how-to-convert-pandas.md
Due: .ci/azure-buildtest-awkward.yml

Preserve key order in RecordForms.
  src/awkward1/operations/convert.py
  src/python/forms.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixes #387.
  src/awkward1/highlevel.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Add Pandas-style constructor.
  docs-src/how-to-convert-arrayset.md
  src/awkward1/highlevel.py
  tests/test_0355-mixins.py
  tests/test_0381-fill-documentation-stubs-3.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Writing more awkward-array.org documentation. (#381)
  docs-src/_toc.yml
  docs-src/how-to-convert-arrayset.md
  docs-src/how-to-convert-arrow.md
  docs-src/how-to-convert-pandas-multiindex.md
  docs-src/how-to-convert-pandas.md
  docs-src/how-to-convert-uproot.md
  docs-src/how-to-convert-zarr.md
  docs-src/how-to-convert.md
  src/awkward1/highlevel.py
  src/awkward1/operations/convert.py
  src/python/forms.cpp
  tests/test_0355-mixins.py
  tests/test_0381-fill-documentation-stubs-3.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

The next version number will be 0.2.31.
  VERSION_INFO
Due: none

Finished the how-to-convert-* documentation.
  docs-src/how-to-convert-arrayset.md
  docs-src/how-to-convert-python.md
Due: .ci/azure-buildtest-awkward.yml

First step toward abstracting all uses of NumPy.
  src/awkward1/__init__.py
  src/awkward1/nplike.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Rename kernel.h -> kernel-dispatch.h.
  include/awkward/Index.h
  include/awkward/array/ByteMaskedArray.h
  include/awkward/array/IndexedArray.h
  include/awkward/array/ListArray.h
  include/awkward/array/ListOffsetArray.h
  include/awkward/array/NumpyArray.h
  include/awkward/array/RawArray.h
  include/awkward/array/UnionArray.h
  include/awkward/kernel-dispatch.h
  include/awkward/python/kernel_utils.h
  include/awkward/python/startup.h
  src/libawkward/kernel-dispatch.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Remove vestiges of old cuda-kernels build in main setup.py.
  setup.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml
