Repository scikit-hep/awkward: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

.ci/azure-buildtest-awkward.yml:
  jobs:
  - job: Windows
    pool:
      vmImage: vs2017-win2016
    variables:
      PIP_ONLY_BINARY: cmake,numpy
    strategy:
      matrix:
        py27-32bit:
          python.version: '2.7'
          python.architecture: x86
          numpy.version: 1.16.5
        py27-64bit:
          python.version: '2.7'
  ...

.ci/azure-doctest-awkward.yml:
  jobs:
  - job: Linux
    pool:
      vmImage: ubuntu-16.04
    strategy:
      matrix:
        py38-np*:
          python.version: '3.8'
          python.architecture: x64
    steps:
    - checkout: self
      submodules: recursive
    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(python.version)
  ...

Black and flake8. (#646)
  src/awkward/_connect/_numba/arrayview.py
  src/awkward/_connect/_numba/builder.py
  src/awkward/_connect/_numba/layout.py
  src/awkward/_connect/_numpy.py
  src/awkward/_connect/_uproot.py
  src/awkward/_util.py
  src/awkward/highlevel.py
  src/awkward/operations/convert.py
  src/awkward/operations/describe.py
  src/awkward/operations/reducers.py
  src/awkward/operations/structure.py
  tests/test_0011-listarray.py
  tests/test_0020-support-unsigned-indexes.py
  tests/test_0025-record-array.py
  tests/test_0056-partitioned-array.py
  tests/test_0074-argsort-and-sort.py
  tests/test_0111-jagged-and-masked-getitem.py
  tests/test_0115-generic-reducer-operation.py
  tests/test_0118-numba-cpointers.py
  tests/test_0138-emptyarray-type.py
  tests/test_0184-concatenate-operation.py
  tests/test_0198-tutorial-documentation-1.py
  tests/test_0348-form-keys.py
  tests/test_0355-mixins.py
  tests/test_0393-fix-bitmaskedarray-mask.py
  tests/test_0404-array-validity-check.py
  tests/test_0494-numba-array-contains.py
  tests/test_0501-string-comparison-bug.py
  tests/test_0521-matrix-multiplication.py
  tests/test_0593-preserve-nullability-in-arrow-and-parquet.py
  tests/test_0618-deprecation-for-selecting-within-multiple-records.py
  tests/test_0628-accept-numpy-integers-in-slices.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix JupyterBook formatting and add the executable notebooks to CI tests.
  .ci/azure-doctest-awkward.yml
  docs-src/_config.yml
  docs-src/_toc.yml
Due: .ci/azure-doctest-awkward.yml

Give doctest the same 'pr' trigger as buildtest.
  .ci/azure-doctest-awkward.yml
Due: .ci/azure-doctest-awkward.yml

Use Ubuntu 18.04, not 16.04. That's ancient.
  .ci/azure-doctest-awkward.yml
Due: .ci/azure-doctest-awkward.yml

Build Awkward Array so that the notebooks can succeed.
  .ci/azure-doctest-awkward.yml
Due: .ci/azure-doctest-awkward.yml

Swap trigger vs PR to build only PR version.
  .ci/azure-doctest-awkward.yml
Due: .ci/azure-doctest-awkward.yml

Install all the requirements needed for running documentation.
  .ci/azure-doctest-awkward.yml
  docs-src/requirements.txt
Due: .ci/azure-doctest-awkward.yml

Fix JupyterBook formatting and add the executable notebooks to CI tests. (#647)
  .ci/azure-doctest-awkward.yml
  docs-src/_config.yml
  docs-src/_toc.yml
  docs-src/requirements.txt
Due: .ci/azure-doctest-awkward.yml

Add a ForthMachine to the codebase, copying from 'studies'.
  include/awkward/forth/ForthInputBuffer.h
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  include/awkward/python/forth.h
  include/awkward/util.h
  src/awkward/forth.py
  src/libawkward/forth/ForthInputBuffer.cpp
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
  src/python/_ext.cpp
  src/python/forth.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fill ForthInputBuffer and ForthOutputBuffer with stubs.
  include/awkward/forth/ForthInputBuffer.h
  include/awkward/forth/ForthOutputBuffer.h
  setup.cfg
  src/libawkward/forth/ForthInputBuffer.cpp
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Starting ForthMachine stubs.
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
  studies/awkward-forth/virtual-machine.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Try to fix MacOS.
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthMachine.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Try to fix MacOS again.
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Try to fix MacOS again again.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Finished stubs for ForthMachine; made ForthOutputBuffer pure virtual for MacOS.
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Set ForthOutputBuffer's destructor just like Type's.
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthOutputBuffer.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Added from_jaxgpu functions for Numpy and Index Arrays; writing tests now
  src/python/content.cpp
  src/python/index.cpp
  test-jax_interop.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Add ak.from_jax, add symmetrical tests; tests passing on local machine
  src/awkward/operations/convert.py
  src/python/content.cpp
  src/python/index.cpp
  tests-cuda/test_0645-from-jax.py
  tests-cuda/test_0645-jax-interop.py
  tests-cuda/test_0645-jax-refcount.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixes #649, wording in documentation.
  docs-sphinx/index.rst
Due: none

Clarify cpp docs, same as #650 for python docs.
  docs-doxygen/index.md
Due: none

Same fix, another file.
  docs-doxygen/index.md
Due: none

Experiment no-inheritance ForthOutputWriter.
  studies/awkward-forth/virtual-machine-no-vtables.cpp
Due: none

For single-writes, they're the same, but for 10 or 100 at a time, the OLD, VTABLES-based version is up to 1.8x faster.
  studies/awkward-forth/virtual-machine-no-vtables.cpp
  studies/awkward-forth/virtual-machine.cpp
Due: none

Fixes #649, wording in documentation. (#650)
  docs-doxygen/index.md
  docs-sphinx/index.rst
Due: none

Added an interface for pausing at breakpoints, manipulating the stack, and calling dictionary words from outside the ForthMachine.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Carefully filled in all of the ForthInputBuffer and ForthOutputBuffer methods.
  include/awkward/forth/ForthInputBuffer.h
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  src/libawkward/forth/ForthInputBuffer.cpp
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Implemented all of ForthMachine's simple methods.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Passed some interfaces through to Python.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

All of the ForthMachine public interfaces have been wrapped in Python.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Run black on only files that I changed
  src/awkward/operations/convert.py
  tests-cuda/test_0645-jax-interop.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Python representation of outputs are NumpyArray or Index; added halt/pause and simplified raise/ignore boolean handling.
  include/awkward/forth/ForthMachine.h
  include/awkward/forth/ForthOutputBuffer.h
  include/awkward/util.h
  src/libawkward/forth/ForthMachine.cpp
  src/libawkward/forth/ForthOutputBuffer.cpp
  src/python/forth.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Stubs for compilation and runtime.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Starting to compile and decompile.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Maybe fix Windows.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
  studies/awkward-forth/virtual-machine.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Maybe fix Windows again.
  src/libawkward/forth/ForthMachine.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Compiler is re-written, but untested.
  src/libawkward/forth/ForthMachine.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Compiler is fully tested.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Replaced the 'dictionary_names_' map with a pair of vectors.
  include/awkward/forth/ForthMachine.h
  src/libawkward/forth/ForthMachine.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

'begin' and 'step' implemented; can partially run a program.
  src/libawkward/forth/ForthMachine.cpp
  src/python/forth.cpp
  tests/test_0648-add-forth-machine-to-codebase.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Path conditions:
  .ci/azure-buildtest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-doctest-awkward.yml, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, .readthedocs.yml, docs-src, docs-img, docs-jupyter, docs-doxygen, docs-sphinx, docs, studies, src/cuda-kernels, cuda-kernels
  .ci/azure-doctest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, .readthedocs.yml, docs-src, docs-img, docs-jupyter, docs-doxygen, docs-sphinx, docs, studies
